@{
    ViewData["Title"] = "Risk Model";
    Layout = "_Layout";
}

<div class="row text-center mt-3">
    <h4>Risk Model</h4>
</div>
    <div class="row col-md-12">
        <center class="w-100">
            <table class="table ml-3 table-bordered table-sm mb-0 mt-3 bg-white table-hover table-striped" style="width:600px;" id="portfolio">
                <thead>
                    <tr>
                        <th class="bg-primary" style="text-align:center;" colspan="8">Enter Portfolio (Mn)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-primary" width="100">Here --></td>
                        <td class="bg-success" width="600"><input class="form-select form-control" type="number" /></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
    <div class="row col-md-12">
        <center class="w-100">
            <table class="table ml-3 table-bordered mb-0 mt-3 bg-white table-hover table-striped" style="width:600px;" id="risk control assessment">
                <thead>
                    <tr>
                        <th style="text-align:center;">Risk Control Assessment</th>
                        <th style="text-align:center;">Weighted Average Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Internal Control Risk Assessment</b></>
                        <td><input class="form-select form-control" type="number" /></td>
                    </tr>
                    <tr>
                        <td><b>Shortfall/ Risks in Key Perforamance Indicators</b></>
                        <td><input class="form-select form-control" type="number" /></td>
                    </tr>
                    <tr>
                        <td><b>Operatinal Risks Assessments</b></>
                        <td><input class="form-select form-control" type="number" /></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>


<div class="row col-md-12 mt-3">
    <table class="table table-bordered mb-0 table-sm mt-3 bg-white table-hover table-striped" id="Risk Rating">
        <thead>
            <tr>
                <th class="bg-primary" style="text-align:center;" colspan="4">Final Risk Rating</th>
                <th>Portfolio</th>
                <th>Branch Size</th>
                <th>Low Risk</th>
                <th>Medium Risk</th>
                <th>High Risk</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-primary" style="text-align:center;">Branch Size</td>
                <td style="text-align:center;" class="bg-primary" colspan="3">Risk Rating</td>
                <td class="bg-primary">Upto 300Mn.</td>
                <td class="bg-primary">Small</td>
                <td class="bg-primary">Upto 10</td>
                <td class="bg-primary">11 - 40</td>
                <td class="bg-primary"> > 40 </td>
            </tr>
            <tr>
                <td class="bg-success" style="text-align:center;">
                    <select id="branchsize" class="form-select form-control"></select>
                </td>
                <td class="bg-danger"><input class="form-select form-control" type="number" /></td>
                <td>
                    <select id="risktype" class="form-select form-control"></select>
                </td>
                <td class="bg-danger"><input class="form-select form-control" type="number" /></td>
                <td class="bg-danger">Rs.301Mn. to Rs.699Mn</td>
                <td class="bg-danger">Medium</td>
                <td class="bg-danger">Upto 15</td>
                <td class="bg-danger">16 - 50</td>
                <td class="bg-danger"> > 60 </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <select id="branchsize" class="form-select form-control"></select>
                </td>
                <td><input class="form-select form-control" type="number" /></td>
                <td>
                    <select id="risktype" class="form-select form-control"></select>
                </td>
                <td><input class="form-select form-control" type="number" /></td>
                <td class="bg-light">Rs.700Mn. & Above</td>
                <td class="bg-light">Large</td>
                <td class="bg-light">Upto 20</td>
                <td class="bg-light">21 - 70</td>
                <td class="bg-light"> > 70 </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row col-md-12 mt-3">
    <table class="table table-bordered mb-0 table-sm mt-3 bg-white table-hover table-striped" id="criteria">
        <thead>
            <tr>
                <th class="bg-primary" style="text-align:center;"></th>
                <th class="bg-primary" width="400px">Criteria</th>
                <th class="bg-primary">Maximum Marks</th>
                <th class="bg-primary">Weighted Average</th>
                <th class="bg-primary">Gravity (Routine, Procedure, Serious)</th>
                <th class="bg-primary">Number of Observations</th>
                <th class="bg-primary">Risk Based Marks</th>
                <th class="bg-primary">Weighted Average Marks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:center;" rowspan="11">A</td>
            </tr>
            <tr>
                <td width="400px">Internal Control Risk Assessment</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">i. Non Compliance of Bank’s policies /procedures /SBP directives</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">a)        NON  Compliance of SBP Directives</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">b)       NON Compliance of   ZTBL directives </td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">d)     Violations in  Authorization and Approval Procedures</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">e)      Internal Controls Violations</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">ii. Lapses and Deficiencies of of Management Information System (MIS)</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">iii Cash Related Violations</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">Cash shortage</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">iv Branch Control violations</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td class="bg-primary"></td>
                <td class="bg-primary" width="400px"><h5>Total</h5></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td style="text-align:center;" rowspan="7">B</td>
            </tr>
            <tr>
                <td width="400px">Risks in Key Perforamance Indicators</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px"> i.   Increase in NPL </td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px"> i.   Increase in SAM</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px"> iii.  Recovery Lapses</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">iv.   Disbursement Target Shortfall Vs Budget</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">iv.  Deposit Target Shortfall Vs Budget</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td style="text-align:center;" rowspan="2">C</td>
            </tr>
            <tr>
                <td width="400px">Non Rectification of Previous Audit Irregularities</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td style="text-align:center;" rowspan="5">D</td>
            </tr>
            <tr>
                <td width="400px">Loss Making Branch </td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">if Up to Rs 0.100</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">if From Rs 0.101 to Rs 1.000</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">Rs 1.001-10.00, Rs.10.001 Mn. To 50 Mn., Rs. 50.001 Mn-above</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td style="text-align:center;" rowspan="3">E</td>
            </tr>
            <tr>
                <td width="400px">Security Arrangements</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">Installation & use of CCTV</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td class="bg-primary" width="400px" colspan="2"><h5>Total</h5></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px" colspan="2"><h5>Preventive & Detection Risk </h5></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td>i</td>
                <td width="400px">Fraud & Forgery</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>

            </tr>
            <tr>
                <td>ii</td>
                <td width="400px">Redemption of Land in alive loan cases </td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td>ii</td>
                <td width="400px">Misuse of Credit powers</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td style="text-align:center;" rowspan="3">iii</td>
            </tr>
            <tr>
                <td width="400px">Instances Where Bank's Funds are Not Safe  </td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">Missing Records</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td>iv</td>
                <td width="400px">Non Balancing of Branches</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td>v</td>
                <td width="400px">Leakage of income</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td>vi</td>
                <td width="400px">SBP Penalty</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td class="bg-primary"></td>
                <td class="bg-primary" width="400px"><h5>Total</h5></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
            </tr>
        </tbody>
    </table>
</div>