@{
    ViewData["Title"] = "Risk Model";
    Layout = "_Layout";
}

<div class="row text-center mt-3">
    <h4>Risk Model</h4>
</div>
    <div class="row col-md-12">
        <center class="w-100">
            <table class="table ml-3 table-bordered table-sm mb-0 mt-3 bg-white table-hover table-striped" style="width:600px;" id="portfolio">
                <thead>
                    <tr>
                        <th class="bg-primary" style="text-align:center;" colspan="8">Enter Portfolio (Mn)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-primary" width="100">Here --></td>
                        <td class="bg-success" width="600"><input class="form-select form-control" type="number" /></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
    <div class="row col-md-12">
        <center class="w-100">
            <table class="table ml-3 table-bordered mb-0 mt-3 bg-white table-hover table-striped" style="width:600px;" id="risk control assessment">
                <thead>
                    <tr>
                        <th style="text-align:center;">Risk Control Assessment</th>
                        <th style="text-align:center;">Weighted Average Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Internal Control Risk Assessment</b></>
                        <td><input class="form-select form-control" type="number" /></td>
                    </tr>
                    <tr>
                        <td><b>Shortfall/ Risks in Key Perforamance Indicators</b></>
                        <td><input class="form-select form-control" type="number" /></td>
                    </tr>
                    <tr>
                        <td><b>Operatinal Risks Assessments</b></>
                        <td><input class="form-select form-control" type="number" /></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>


<div class="row col-md-12 mt-3">
    <table class="table table-bordered mb-0 table-sm mt-3 bg-white table-hover table-striped" id="Risk Rating">
        <thead>
            <tr>
                <th class="bg-primary" style="text-align:center;" colspan="4">Final Risk Rating</th>
                <th>Portfolio</th>
                <th>Branch Size</th>
                <th>Low Risk</th>
                <th>Medium Risk</th>
                <th>High Risk</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-primary" style="text-align:center;">Branch Size</td>
                <td style="text-align:center;" class="bg-primary" colspan="3">Risk Rating</td>
                <td class="bg-primary">Upto 300Mn.</td>
                <td class="bg-primary">Small</td>
                <td class="bg-primary">Upto 10</td>
                <td class="bg-primary">11 - 40</td>
                <td class="bg-primary"> > 40 </td>
            </tr>
            <tr>
                <td class="bg-success" style="text-align:center;">
                    <select id="branchsize" class="form-select form-control"></select>
                </td>
                <td class="bg-danger"><input class="form-select form-control" type="number" /></td>
                <td>
                    <select id="risktype" class="form-select form-control"></select>
                </td>
                <td class="bg-danger"><input class="form-select form-control" type="number" /></td>
                <td class="bg-danger">Rs.301Mn. to Rs.699Mn</td>
                <td class="bg-danger">Medium</td>
                <td class="bg-danger">Upto 15</td>
                <td class="bg-danger">16 - 50</td>
                <td class="bg-danger"> > 60 </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <select id="branchsize" class="form-select form-control"></select>
                </td>
                <td><input class="form-select form-control" type="number" /></td>
                <td>
                    <select id="risktype" class="form-select form-control"></select>
                </td>
                <td><input class="form-select form-control" type="number" /></td>
                <td class="bg-light">Rs.700Mn. & Above</td>
                <td class="bg-light">Large</td>
                <td class="bg-light">Upto 20</td>
                <td class="bg-light">21 - 70</td>
                <td class="bg-light"> > 70 </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row col-md-12 mt-3">
    <table class="table table-bordered mb-0 table-sm mt-3 bg-white table-hover table-striped" id="criteria">
        <thead>
            <tr>
                <th class="bg-primary" style="text-align:center;"></th>
                <th class="bg-primary" width="400px">Criteria</th>
                <th class="bg-primary">Maximum Marks</th>
                <th class="bg-primary">Weighted Average</th>
                <th class="bg-primary">Gravity (Routine, Procedure, Serious)</th>
                <th class="bg-primary">Number of Observations</th>
                <th class="bg-primary">Risk Based Marks</th>
                <th class="bg-primary">Weighted Average Marks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:center;" rowspan="11">A</td>
            </tr>
            <tr>
                <td width="400px">Internal Control Risk Assessment</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">i. Non Compliance of Bank’s policies /procedures /SBP directives</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">a)        NON  Compliance of SBP Directives</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">b)       NON Compliance of   ZTBL directives and Serious lapses </td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">d)     Violations in  Authorization and Approval Procedures, Staff not performing tasks as per JDs, Non Compliance of Code of Ethics/Conduct</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">e)      Physical / Internal Controls Violations/Non-Segregation of Duties/Ineffective use of Human Resources/ Duplication of Work/Over Staff/Under Staff/ High Turnover of Staff/Transfer & Positings Issues/Non Observance of Office Timings/Improper Handing Over/Taking Over etc..</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">ii. Lapses and Deficiencies of of Management Information System (MIS) , Data Protection Risk, Non Availability of Control, Password Sharing, Non Activation/De-activation of User IDs</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">iii Cash Related Violations & Excess Over Expenditure</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">Cash shortage / Non reconciliation with CBAS/Dual Control Over Cash/Unrestricted access to Cash Area/Non Sorting of Cash/Non-Preparation of SBP Cash Position/Signature missing on Cash Position, Exceeding Cash Budgetary / Insurance Limits/Non Remittance of Cash to Head Office</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">iv Branch Control violations due to weak internal Controls or lack of supervisory controls resulting in Control Lapses which resulted or May result in causing Loss to bank. Staff related violations, lack of training & Competencies to perform the assigned tasks.</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td class="bg-primary"></td>
                <td class="bg-primary" width="400px"><h5>Total</h5></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td style="text-align:center;" rowspan="7">B</td>
            </tr>
            <tr>
                <td width="400px">Shortfall/ Risks in Key Perforamance Indicators</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px"> i.   Increase in NPL </td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px"> i.   Increase in SAM</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px"> iii.  Recovery Lapses/ Increase in Outstanding Portfolio due to Zero Recovery/ Low Pace of Recovery of  loan amount outstanding as compared to target, Deposit Target not met (Hajj Applications, Western Union, Utility Bills etc.)</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">iv.   Disbursement Target Shortfall Vs Budget</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">iv.  Deposit Target Shortfall Vs Budget</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td style="text-align:center;" rowspan="3">C</td>
            </tr>
            <tr>
                <td width="400px">Non Rectification of Previous Audit Irregularities</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">Non Rectification of Previous Audit Irregularities</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td style="text-align:center;" rowspan="5">D</td>
            </tr>
            <tr>
                <td width="400px">Loss Making Branch </td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">if Up to Rs 0.100 (Observation =2)</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">if From Rs 0.101 to Rs 1.000 (Observation = 4)</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">Rs 1.001-10.00 (Observation=8), Rs.10.001 Mn. To 50 Mn. (Observation=12) Rs. 50.001 Mn-above (Observation =15)</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td style="text-align:center;" rowspan="3">E</td>
            </tr>
            <tr>
                <td width="400px">Security arrangements/Disasters Recovery Management</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">(Installation & use of CCTV, Fire extinguisher, Deployment of Security guards, Implementation & maintenance of alarms)/Disaster Recovery Management/Maintenance of Branch Premises/Validity & Quality of Lease Agreement etc.</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td class="bg-primary" width="400px" colspan="2"><h5>Total</h5></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px" colspan="2"><h5>Preventive & Detection Risk </h5></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td>i</td>
                <td width="400px">Fraud & Forgery, Embezzlement, Impersonation</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>

            </tr>
            <tr>
                <td>ii</td>
                <td width="400px">Redemption of Land in alive loan cases </td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td>ii</td>
                <td width="400px">Misuse of Credit powers/Wrong lending approval/Defective security/Loan to defaulters </td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td style="text-align:center;" rowspan="3">iii</td>
            </tr>
            <tr>
                <td width="400px">Instances Where Bank's Funds are Not Safe  </td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td width="400px">(Title Documents/Agriculture Pass Book in loan cases was missing in records. or safe files/vouchers/MCO receipt books were found missing)</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td>iv</td>
                <td width="400px">Inter Branch/Non Balancing of Branches</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td>v</td>
                <td width="400px">Leakage of income (Locker Income, security income, less markup charged, cash kept over permissible limits for more than 3 days)    </td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td>vi</td>
                <td width="400px">SBP Penalty</td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
                <td><input type="number" class="form-select form-control" /></td>
            </tr>
            <tr>
                <td class="bg-primary"></td>
                <td class="bg-primary" width="400px"><h5>Total</h5></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
                <td class="bg-primary"><input type="number" class="form-select form-control" /></td>
            </tr>
        </tbody>
    </table>
</div>