@{
    ViewData["Title"] = "Risk Assessment Branches";
    Layout = "_Layout";
}



<div class="row col-md-12 text-center mt-3">
    <h4 style=" display:block;color: #45c545;">COSO Based Risk Model</h4>
</div>



<div class="row col-md-12 mt-3">
    <table class="table table-bordered bg-white table-hover table-striped" id="COSO Risk">
        <thead>
            <tr style="background-color: rgb(181 229 117 / 93%) !important; " class="text-center">
                <th width="400" class="text-center pt-0" style="margin-bottom:10px;">Entity</th>
                <th class="text-center pt-0" width="400">COSO Base
                <br />Rating Factors</th>
                <th class="text-center pt-0" width="50">No of Observation</th>
                <th class="text-center pt-0" width="50">Maximum Score of Sub-Factors</th>
                <th class="text-center pt-0" width="50">Overall Weight Assigned</th>
                <th class="text-center pt-0" width="50">Risk Wise Assessment</th>
                <th class="text-center pt-0" width="50">Weighted Average Score</th>
                <th class="text-center pt-0" width="50">Audit Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="7"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Total</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="7"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Total</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

