@{
    ViewData["Title"] = "Risk Assessment Functions";
    Layout = "_Layout";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>-->

<script type="text/javascript">



    function myChart() {

        var xValues = ["CREDIT", "DEBIT", "Balance"];
        var yValues = [522885, 752982, 769903];
        var barColors = ["pink", "green", "Blue"];

        new Chart("myChart", {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "BRANCH ID : 55179       GL-HEAD : 411"
                }
            }
        });

    }
    $(document).ready(function () {
        myChart();
    });


    function myChartbar() {

        var xValues = ["BALANCE", "CREDIT", "DEBIT"];
        var yValues = [10881, 8896, 10015];
        var barColors = ["red", "yellow", "black"];

        new Chart("myChartbar", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: {
                    display: false,

                },
                title: {
                    display: true,
                    text: "BRANCH ID : 55179       GL-HEAD : 1513"
                }
            }
        });

    }
    $(document).ready(function () {
        myChartbar();
    });


    /*    function myChartmline() {

            var lValues = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000];
            var xValues = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000];
            var yValues = [200, 300, 400, 500, 600, 700, 800, 900, 950, 1000];
            var zValues = [50, 100, 150, 200, 250, 300, 350, 400, 450, 500];

            new Chart("myChartmline", {
      type: "line",
      data: {
        labels: lValues,
          datasets: [{
              data: xValues,
          borderColor: "red",
          fill: false
          }, {
                  data: yValues,
          borderColor: "green",
          fill: false
              }, {
                  data: zValues,
          borderColor: "blue",
          fill: true
        }]
      },
      options: {
        legend: {display: false
        }
      }
    });

                $(document).ready(function () {
          myChartmline();
      });


    */


</script>



<style>
    .canvas {
        display: inline-block;
    }
</style>

<div class="col-md-12 mt-5">


    <canvas id="myChart" class="col-md-6" width="500" height="400" style="display:inline-block"></canvas>



    <canvas id="myChartbar" class="col-md-5" width="500" height="400" style="display:inline-block"></canvas>


</div>



<!--<div class="col-md-12 mt-5">
    <canvas id="myChartmline" class="col-md-5, bg-danger" width="800" height="400"  ></canvas>

-->
</div>
