@{
    ViewData["Title"] = "Main GL Head Summary";
    Layout = "_Layout";
}

<script type="text/javascript">
    $('#document').ready(function () {
        $('#sidebar_policy').hide();
    });
</script>

<div class="row col-md-12 mt-3">
    <h4 style="display: block; color: #45c545;">AIR 2018</h4>
</div>

<div class="row col-md-12 mt-3">
    <div class="row col-md-12">
        <table class="col-md-12 table-bordered table-hover mt-1 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-1">Sr. No.</th>
                    <th class="col-md-1">Para No.</th>
                    <th class="col-md-4">Content of Para</th>
                    <th class="col-md-6">Reply of the Management</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>