﻿@{
    ViewData["Title"] = "Manage Public Holidays";
    Layout = "_Layout";
}

<script type="text/javascript">
 function initializeDateMonthPicker(){

 }

    function addNewPublicHoliday(){
        $('#manageHolidayModal').modal('show');
    }
    
</script>

<div class="row mt-3">
    <h2 style="color: #45c545;">Manage Public Holidays</h2>
</div>

<div class="row col-md-12 mt-3">
    <button onclick="addNewPublicHoliday();" class="btn btn-danger offset-md-10 col-md-2">Add New Holiday</button>
</div>


<div class="row col-md-12 mt-3">
    <table id="listofSubMenus" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important;">
            <tr>
                <th class="col-md-auto">Sr No.</th>
                <th class="col-md-auto">Title</th>
                <th class="col-md-auto">Date (DD-MM)</th>
             
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>



<div id="manageHolidayModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Manage Public Holiday</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>                   
                    <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" type="text" id="public_holiday_title_tb" />
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 row">
                            <div class="col-md-6 row">
                                <label>Date</label>
                                <select class="form-control">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                     <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <div class="col-md-6 row">
                                <label>Month</label>
                                <select class="form-control">
                                    <option value="01">January</option>
                                    <option value="02">February</option>
                                    <option value="03">March</option>
                                    <option value="04">April</option>
                                    <option value="05">May</option>
                                    <option value="06">June</option>
                                    <option value="07">July</option>
                                    <option value="08">August</option>
                                    <option value="09">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                        </div>
                    </div>                 

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="publishNewPublicHoliday();" class="btn btn-danger">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

