@{
    ViewData["Title"] = "Manage User Rights";
    Layout = "_Layout";

}


<script type="text/javascript">

   
    $(document).ready(function () {
        
    });  
    
  
    function getNewUsersInAIS() {
        $.ajax({
            url: "/ApiCalls/admin_get_new_users",
            type: "POST",
            data: {

            },
            cache: false,
            success: function (data) {
                $('#newUsersGrid tbody').empty();
                $.each(data, function (i, v) {
                    $('#newUsersGrid tbody').append('<tr><td>' + ++i + '</td><td>' + v.ppno + '</td><td>' + v.emP_NAME + '</td><td>' + v.designatioN_CODE + '</td><td>' + v.designation + '</td><td>' + v.employeE_TYPE + '</td><td>' + v.postinG_TYPE + '</td><td>' + v.code + '</td><td>' + v.entitY_NAME + '</td><td>' + v.entitY_ID + '</td></tr>')
                });
              
            },
            dataType: "json",
        });
    }
    function AddUserDetails() {
        $.ajax({
            url: "/ApiCalls/admin_get_user_details",
            type: "POST",
            data: {

            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                $('.step1').show();
                $('#deleteUser').hide();

            },
            dataType: "json",
        });
    }
</script>


<div class="row">
    <div class="col-md-12 row">
        <div class="col-md-12 text-center">
            
            <button type="button" id="deleteUser" onclick="getNewUsersInAIS();" class="btn btn-danger col-md-4">Find New Users</button>
            <button type="button" id="deleteUser" onclick="getOldUsersInAIS();" class="btn btn-danger offset-md-1 col-md-4">Find Old Users</button>
        </div>    

    </div>
</div>

<div class="row col-md-12 mt-3">
    <table id="newUsersGrid" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th class="col-md-1 text-center">Sr. No.</th>
                <th class="col-md-1">PP No</th>
                <th class="col-md-2">Employee Name</th>
                <th class="col-md-1">Designation Code</th>
                <th class="col-md-2">Designation</th>
                <th class="col-md-1">Employee Type</th>
                <th class="col-md-2">Posting Type</th>
                <th class="col-md-2">Code</th>
                <th class="col-md-2">Entity Name</th>
                <th class="col-md-2">Entity Id</th>
                

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


