﻿@{
    ViewData["Title"] = "Manage Public Holidays";
    Layout = "_Layout";
}

<script type="text/javascript">
 
    
</script>

<div class="row mt-3">
    <h2 style="color: #45c545;">Manage Public Holidays</h2>
</div>

<div class="row col-md-12 mt-3">
    <button onclick="" class="btn btn-danger offset-md-10 col-md-2">Add New</button>
</div>

<div class="row col-md-12 mt-3">

 

</div>



<div class="row col-md-12 mt-3">
    <table id="listofSubMenus" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important;">
            <tr>
                <th class="col-md-auto">Sr No.</th>
                <th class="col-md-auto">Title</th>
                <th class="col-md-auto">DD-MM</th>
             
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>



<div id="subMenuDetailModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Menu Page Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label>Menu</label>
                        <select onchange="getSubMenusForModel();" id="sub_menu_modal_menu_dd" class="form-control">
                            <option value="0">--Select Menu--</option>
                            @if (ViewData["MenuList"] != null)
                            {
                                foreach (var item in (dynamic)(ViewData["MenuList"]))
                                {
                                    <option value="@item.Menu_Id">@item.Menu_Name</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Sub Menu Name</label>
                        <input class="form-control" id="sub_menu_modal_submenu_tb" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" id="sub_menu_modal_submenu_desc_tb"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Order</label>
                        <input class="form-control" id="sub_menu_modal_submenu_order_tb" />
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <input class="form-control" id="sub_menu_modal_submenu_status_tb" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="publishUpdateSubMenuChanges();" class="btn btn-danger">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

