
﻿@{
    ViewData["Title"] = "Menu Page Management";
    Layout = "_Layout";
}

<script type="text/javascript">
    var g_pageId = 0;
    var g_menuId = 0;
  
    function getMenuPages() {

        if($('#menuDropDownField').val()==0){
            
            $('#listOfMenuPages tbody').empty();
            return;

        }


        $.ajax({
            url: "/ApiCalls/get_menu_pages_for_admin_panel",
            type: "POST",
            data: {
                "M_ID":$('#menuDropDownField').val()
            },
            cache: false,
            success: function (data) {
                $('#listOfMenuPages tbody').empty();
                $.each(data, function (i, v) {
                    
                   $('#listOfMenuPages tbody').append('<tr><td>' + ++i + '</td><td>'+v.p_NAME+'</td><td>'+v.p_PATH+'</td><td>'+v.p_ORDER+'</td><td>'+v.p_HIDE_MENU+'</td><td><a href="#" onclick="updatePageAssignment('+v.p_ID+', '+v.m_ID+');">Update</a></td></tr>');
                   
                });

            },
            dataType: "json",
        });

    }
    function setupNewAuditPeriod() {
        $('#setupAuditPeriod').modal('show');
        $('#periodDescriptionModalField').val('');
        $('#periodStartModalField').val('');
        $('#periodEndModalField').val('');
        $.each($('.deptCheckBoxes'), function (index, chkbox) {
            if ($(chkbox).is(':checked')) {
                $(chkbox).click();
            }
        });

    }

    function updatePageAssignment(pageId, menuId) {
        $('#updateAuditPeriodModel').modal('show');
        g_pageId = pageId;
        g_menuId = menuId;
    }
    function reloadLocation() {
        location.reload();
    }
    function publishNewAuditPeriodChanges() {
        var desc = $('#periodDescriptionModalField').val();
        var stDate = $('#periodStartModalField').val();
        var edDate = $('#periodEndModalField').val();
        var deptIds = [];
        $.each($('.deptCheckBoxes'), function (index, chkbox) {
            if ($(chkbox).is(':checked')) {
                deptIds.push($(chkbox).attr('dept-id'));
            }
        });
        if (desc == "" || stDate == "" || edDate == "") {
            alert("Missing Mandatory fields");
            return;
        }

        //var date = '21/01/2015';
        var ds = new Date(stDate.split("/").reverse().join("-"));
        var dd = ds.getDate();
        var mm = ds.getMonth() + 1;
        var yy = ds.getFullYear();
        var startDate = ("0" + mm).slice(-2) + "/" + ("0" + dd).slice(-2) + "/" + yy;

        var de = new Date(edDate.split("/").reverse().join("-"));
        var dd = de.getDate();
        var mm = de.getMonth() + 1;
        var yy = de.getFullYear();
        var endDate = ("0" + mm).slice(-2) + "/" + ("0" + dd).slice(-2) + "/" + yy;
        $.ajax({
            url: "/ApiCalls/add_audit_period",
            type: "POST",
            data: {
                'DESCRIPTION': desc,
                'STARTDATE': startDate,
                'ENDDATE': endDate,
                'STATUS_ID': 1,
                'DEPARTMENT_IDS': deptIds
            },
            cache: false,
            success: function (data) {

                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });
    }
    function publishUpdateAuditPeriodChanges() {
        if ($('#auditPeriodStatus_forUpdate').val() == 0) {
            alert("Please select Audit Period to proceed");
            return;
        }     

        $.ajax({
            url: "/ApiCalls/update_audit_period",
            type: "POST",
            data: {
                'AUDITPERIODID': g_pageId,
                'STATUS_ID': $('#auditPeriodStatus_forUpdate').val(),
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });
    }
 
</script>
<div class="row mt-3">
    <h2 style="color: #45c545;">Menu Page Management</h2>
</div>

<div class="row col-md-12 mt-3">
 
     <h5>Menu </h5>
        <select onchange="getMenuPages();" id="menuDropDownField" class="form-control">
                            <option value="0">--Select Menu--</option>
                            @if (ViewData["MenuList"] != null)
                            {
                                foreach (var item in (dynamic)(ViewData["MenuList"]))
                                {
                                    <option value="@item.Menu_Id">@item.Menu_Name</option>
                                }
                            }
                        </select>

</div>

<div class="row col-md-12 mt-3">
    <table id="listOfMenuPages" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important;">
            <tr>
                <th class="col-md-1">Sr No.</th>
                <th class="col-md-2">Page Name</th>
                <th class="col-md-2">Page Path</th>
                <th class="col-md-1">Page Order</th
                <th class="col-md-1">Status</th>
                <th class="col-md-1">Hide Menu</th>
                <th class="col-md-1">Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

