@{
    ViewData["Title"] = "Menu Assignment";
    Layout = "_Layout";

}

<script type="text/javascript">
    $(document).ready(function () {
        $('.menu_page_selectAll').on('click', function () {

            if ($('.menu_page_selectAll').is(':checked'))
                $('.menu_page_tick').attr('checked', true);
            else
                $('.menu_page_tick').attr('checked', false);

        });


    });
    function showPagesBlock() {

        if ($('#menuSelectionBox option:selected').val() == 0) {
            $('.pagesBlock').addClass('d-none');

        }
        else {
            $('.menu_page_tick').attr('checked', false);
            $('.pagesBlock').addClass('d-none');
            $.ajax({
                url: g_asiBaseURL + "/AdministrationPanel/menu_pages",
                type: "POST",
                data: {
                    'MENU_ID': $('#menuSelectionBox option:selected').val()
                },
                cache: false,
                success: function (data) {
                    $('.menu_page_tick').attr('checked', false);
                    $.each(data, function (index, page) {
                        $('#pagemenuitem_' + page.id).attr('checked', true);
                    });
                    $('.pagesBlock').removeClass('d-none');
                },
                dataType: "json",
            });

        }
    }

    function publishSaveChanges() {
        var pageIds = [];
        $.each($('.menu_page_tick:checked'), function (i, v) {
            pageIds.push($(v).attr('id').split('_')[1]);
        });

        if (pageIds.length > 0) {
            alert('Please check atleast one page to proceed');
            return false;
        }
        
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/menu_pages_updation",
            type: "POST",
            data: {
                'MENU_ID': $('#menuSelectionBox option:selected').val(),
                'PAGE_IDS': pageIds
            },
            cache: false,
            success: function (data) {
                alert("Menu Pages assignment Succesfully completed");
                
            },
            dataType: "json",
        });
    }
</script>

<div class="col-md-12" style="margin-top:20px;">
    <h5>Menu Assignment</h5>
    <div class="row col-md-12">
        <div class="col-md-2 mt-2">
            <label class="font-weight-normal">Menu</label>
        </div>
        <div class="col-md-10 mt-2">
            <select id="menuSelectionBox" onchange="showPagesBlock();" class="form-select form-control" aria-label="Default select example">
                <option value="0" selected>--Select Menu--</option>
                @{
                    if (ViewData["MenuList"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["MenuList"]))
                        {
                            <option value="@item.Menu_Id" id="@item.Menu_Id">@item.Menu_Name</option>
                        }
                    }
                }
            </select>
        </div>
    </div>
    <div class="row col-md-12 pagesBlock d-none">
        <div class="col-md-2 mt-2">
            <label class="font-weight-normal">Pages</label>
        </div>
        <div class="col-md-10 mt-2">
            <div class="row col-md-12">
                <div style="margin-left:auto;">
                    <input class="menu_page_selectAll" type="checkbox" /> <label class="font-weight-normal ml-2">Select All</label>
                </div>
            </div>
            <div id="menuPagesArea" class="row col-md-12">
                @{
                    if (ViewData["MenuPagesList"] != null)
                    {

                        foreach (var item in (dynamic)(ViewData["MenuPagesList"]))
                        {

                            <div class="col-md-6">
                                <input id="pagemenuitem_@item.Id" class="menu_page_tick" type="checkbox" /> <label class="font-weight-normal ml-2">@item.Page_Name</label>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
    <div class="row col-md-12 mt-4">
        <div style="margin-left:auto;">
            <button class="btn btn-secondary">Cancel</button>
            <button onclick="publishSaveChanges();" class="btn btn-danger ml-2">Save Changes</button>
        </div>
    </div>

</div>
