
﻿@{
    ViewData["Title"] = "Menu Page Management";
    Layout = "_Layout";
}

<script type="text/javascript">
    var g_pageId = 0;
    var g_menuId = 0;  
    var g_subMenuId = 0;  
    var g_pageArr = [];
    function getSubMenus() {

        if ($('#menuDropDownField').val() == 0) {
            $('#listOfMenuPages tbody').empty();
            $('#subMenuDropDownField').empty();
            $('#subMenuDropDownField').append('<option value="0">--All--</option>');
            return;
        }

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_sub_menu_for_admin_panel",
            type: "POST",
            data: {
                "M_ID": $('#menuDropDownField').val()
            },
            cache: false,
            success: function (data) {                
                $.each(data, function (i, v) {
                    $('#subMenuDropDownField').append('<option value="' + v.suB_MENU_ID + '">' + v.suB_MENU_NAME + '</option>');

                });

            },
            dataType: "json",
        });

    }
    function getMenuPages() {

        if($('#menuDropDownField').val()==0){
            
            $('#listOfMenuPages tbody').empty();
            return;

        }


        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_menu_pages_for_admin_panel",
            type: "POST",
            data: {
                "M_ID":$('#menuDropDownField').val(),
                "SM_ID":$('#subMenuDropDownField').val()
            },
            cache: false,
            success: function (data) {
                g_pageArr = data;
                $('#listOfMenuPages tbody').empty();
                $.each(data, function (i, v) {
                    $('#listOfMenuPages tbody').append('<tr><td>' + ++i + '</td><td>' + v.sM_NAME + '</td><td>' + v.p_NAME + '</td><td>' + v.p_PATH + '</td><td>' + v.p_ORDER + '</td><td>' + v.p_STATUS + '</td><td>' + v.p_HIDE_MENU + '</td><td><a href="#" onclick="event.preventDefault();updatePageAssignment(' + v.p_ID + ', ' + v.m_ID + ', ' + v.sM_ID + ');">Update</a></td></tr>');
                   
                });

            },
            dataType: "json",
        });

    }
    function setupNewMenuPage() {
        g_pageId = 0;
        $('#menuPageDetailModel').modal('show');
        $('#page_menu_field').val(0);
        $('#page_menu_sub_field').val(0);
        $('#page_name_field').val("");
        $('#page_path_field').val("");
        $('#page_order_field').val("");
        $('#page_status_field').val("");
        $('#page_hide_menu_field').val(0);       

    }

    function updatePageAssignment(pageId, menuId, menuSubId) {
        $('#menuPageDetailModel').modal('show');
        g_pageId = pageId;
        g_menuId = menuId;
        $.each(g_pageArr,function(i,v){
            if(v.p_ID==g_pageId){
                $('#page_menu_field').val(v.m_ID);
                $('#page_menu_sub_field').val(v.sM_ID);
                $('#page_name_field').val(v.p_NAME);
                $('#page_path_field').val(v.p_PATH);
                $('#page_order_field').val(v.p_ORDER);
                $('#page_status_field').val(v.p_STATUS);
                $('#page_hide_menu_field').val(v.p_HIDE_MENU);
                g_subMenuId = v.sM_ID;
                getSubMenusForModel();

            }
        })
    }
    function reloadLocation() {
        $('#menuPageDetailModel').modal('hide');
        getMenuPages();
    }
    
    function publishUpdateMenuPageChanges() {

        if ($('#page_menu_field').val()==0){
            alert("Select Menu to proceed");
            return;
        }
        if ($('#page_name_field').val() == "") {
            alert("Enter Page Name to proceed");
            return;
        }
        if ($('#page_path_field').val() == "") {
            alert("Enter Page Path to proceed");
            return;
        }
        if ($('#page_order_field').val() == "") {
            alert("Enter Page Order to proceed");
            return;
        }
        if ($('#page_status_field').val() == "") {
            alert("Enter Page Path to proceed");
            return;
        }
        if(g_pageId==0){
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/add_menu_page_for_admin_panel",
                type: "POST",
                data: {
                    'M_ID': $('#page_menu_field').val(),
                    'SM_ID': $('#page_menu_sub_field').val(),
                    'P_ID': g_pageId,
                    'P_NAME': $('#page_name_field').val(),
                    'P_PATH': $('#page_path_field').val(),
                    'P_ORDER': $('#page_order_field').val(),
                    'P_STATUS': $('#page_status_field').val(),
                    'P_HIDE_MENU': $('#page_hide_menu_field').val()
                },
                cache: false,
                success: function (data) {
                    alert(data.Message);
                    onAlertCallback(reloadLocation);
                },
                dataType: "json",
            });
        }else
{
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/update_menu_page_for_admin_panel",
                type: "POST",
                data: {
                    'M_ID': $('#page_menu_field').val(),
                    'SM_ID': $('#page_menu_sub_field').val(),
                    'P_ID': g_pageId,
                    'P_NAME': $('#page_name_field').val(),
                    'P_PATH': $('#page_path_field').val(),
                    'P_ORDER': $('#page_order_field').val(),
                    'P_STATUS': $('#page_status_field').val(),
                    'P_HIDE_MENU': $('#page_hide_menu_field').val()
                },
                cache: false,
                success: function (data) {
                    alert(data.Message);
                    onAlertCallback(reloadLocation);
                },
                dataType: "json",
            });
}       

    
    }
    function getSubMenusForModel() {

        if ($('#page_menu_field').val() == 0) {
            $('#page_menu_sub_field').empty();
            $('#page_menu_sub_field').append('<option value="0">--All--</option>');
            return;
        }

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_sub_menu_for_admin_panel",
            type: "POST",
            data: {
                "M_ID": $('#page_menu_field').val()
            },
            cache: false,
            success: function (data) {
                 $('#page_menu_sub_field').empty();
                $('#page_menu_sub_field').append('<option value="0">--All--</option>');
                $.each(data, function (i, v) {
                    $('#page_menu_sub_field').append('<option value="' + v.suB_MENU_ID + '">' + v.suB_MENU_NAME + '</option>');

                });

                if (g_subMenuId!=0){
                    $('#page_menu_sub_field').val(g_subMenuId);
                }

            },
            dataType: "json",
        });

    }
</script>
<div class="row mt-3">
    <h2 style="color: #45c545;">Menu Page Management</h2>
</div>

<div class="row col-md-12 mt-3">
    <button onclick="setupNewMenuPage();" class="btn btn-danger offset-md-10 col-md-2">Add New</button>
</div>

<div class="row col-md-12 mt-3">
 
     <h5>Menu </h5>
        <select onchange="getSubMenus();" id="menuDropDownField" class="form-control">
                            <option value="0">--Select Menu--</option>
                            @if (ViewData["MenuList"] != null)
                            {
                                foreach (var item in (dynamic)(ViewData["MenuList"]))
                                {
                                    <option value="@item.Menu_Id">@item.Menu_Name</option>
                                }
                            }
                        </select>

</div>

<div class="row col-md-12 mt-3">

    <h5>Sub Menu </h5>
    <select id="subMenuDropDownField" class="form-control">
        <option value="0">--All--</option>       
    </select>

</div>
<div class="row col-md-12 mt-3">
    <button onclick="getMenuPages();"  class="btn btn-primary offset-md-10 col-md-2">Find</button>
</div>

<div class="row col-md-12 mt-3">
    <table id="listOfMenuPages" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important;">
            <tr>
                <th class="col-md-1">Sr No.</th>
                <th class="col-md-1">Sub Menu</th>
                <th class="col-md-1">Page Name</th>
                <th class="col-md-2">Page Path</th>
                <th class="col-md-1">Page Order</th>
                <th class="col-md-1">Page Status</th>
                <th class="col-md-1">Hide Menu</th>
                <th class="col-md-1">Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>



<div id="menuPageDetailModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Menu Page Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    
                    <div class="form-group">
                        <label>Menu</label>
                        <select onchange="getSubMenusForModel();" id="page_menu_field" class="form-control">
                            <option value="0">--Select Menu--</option>
                            @if (ViewData["MenuList"] != null)
                            {
                                foreach (var item in (dynamic)(ViewData["MenuList"]))
                                {
                                    <option value="@item.Menu_Id">@item.Menu_Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Sub Menu</label>
                        <select id="page_menu_sub_field" class="form-control">
                            <option value="0">--All--</option>
                         
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Page Name</label>
                        <input  class="form-control" id="page_name_field" />
                    </div>
                    <div class="form-group">
                        <label>Page Path</label>
                        <input class="form-control" id="page_path_field" />
                    </div>
                      <div class="form-group">
                        <label>Page Order</label>
                        <input  class="form-control" id="page_order_field" />
                    </div>
                    <div class="form-group">
                        <label>Page Status</label>
                        <input class="form-control" id="page_status_field" />
                    </div>
                      <div class="form-group">
                        <label>Hide Menu</label>
                        <select class="form-control" id="page_hide_menu_field">
                            <option value="0">Visible</option>
                            <option value="1">Hide</option>
                        </select>
                    </div>
                  
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="publishUpdateMenuPageChanges();" class="btn btn-danger">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

