@{
    ViewData["Title"] = "Plan Status";
    Layout = "_Layout";
}

<script type="text/javascript">
    $(document).ready(function () {
        var g_deptId = 0;
        $('#sidebar_policy').hide();
        $("#searchTableRecord").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#listOfDepartment tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function newDeptSetup() {
        g_deptId = 0;
        $('#setupDeptModal').modal('show');
        $('#deptCodeModalField').val('');
        $('#deptNameModalField').val('');
        $('#deptdivNameModalField').val('');
    }

    function setupDepartment(code, name, div_name, status, id, div_id) {
        g_deptId = id;
        $('#deptCodeModalField').val(code);
        $('#deptNameModalField').val(name);

        $('#deptdivNameModalField').val(div_id);
        if (status == "Active")
            $('#deptActiveModalField').click();
        else if (status == "InActive")
            $('#deptInactiveModalField').click();

        $('#setupDeptModal').modal('show');
    }

    function publishDepartmentChanges() {

        var code = $('#deptCodeModalField').val();
        var name = $('#deptNameModalField').val();
        var div_id = $('#deptdivNameModalField').val();
        var div_name = $('#deptdivNameModalField option:selected').text();
        var status;
        var badge;
        if ($('#deptActiveModalField').is(':checked')) {
            status = 'Active';
            badge = 'badge-success ';
        }
        else {
            status = 'InActive';
            badge = 'badge-danger ';
        }
        if (g_deptId == 0)
            var row = "<tr id=\"dept_" + g_deptId + "\"><td class=\"dept_code\"><p class=\"fw-normal mb-1\">" + code + "</p></td><td class=\"dept_name\"><p class=\"fw-normal mb-1\">" + name + "</p></td ><td class=\"dept_div\"><p class=\"fw-normal mb-1\">" + div_name + "</p></td><td class=\"dept_status\"><span class=\"badge " + badge + " rounded-pill d-inline\">" + status + "</span></td><td class=\"dept_action\"><button type=\"button\" class=\"btn btn-link text-danger btn-sm btn-rounded\" onclick=\"setupDepartment('" + code + "','" + name + "','" + div_name + "','" + status + "','" + g_deptId + "','" + div_id + "');\">Edit</button></td></tr>";
        else
            $('#dept_' + g_deptId).html("<td class=\"dept_code\"><p class=\"fw-normal mb-1\">" + code + "</p></td><td class=\"dept_name\"><p class=\"fw-normal mb-1\">" + name + "</p></td ><td class=\"dept_div\"><p class=\"fw-normal mb-1\">" + div_name + "</p></td><td class=\"dept_status\"><span class=\"badge " + badge + " rounded-pill d-inline\">" + status + "</span></td><td class=\"dept_action\"><button type=\"button\" class=\"btn btn-link text-danger btn-sm btn-rounded\" onclick=\"setupDepartment('" + code + "','" + name + "','" + div_name + "','" + status + "','" + g_deptId + "','" + div_id + "');\">Edit</button></td>");
        $('#listOfDepartment tbody').append(row);
        $('#setupDeptModal').modal('hide');
        $.ajax({
            url: "/Setup/department_add",
            type: "POST",
            data: {
                'id': g_deptId,
                'code': code,
                'name': name,
                'div_id': div_id,
                'status': status
            },
            cache: false,
            success: function (data) {
                console.log(data);
                window.location = window.location.pathname;

            },
            dataType: "json",
        });
    }
</script>
<div class="row text-center" style="margin-top:30px;">
    <h3>Audit Plan</h3>
</div>
<div class="col-md-12">
    <h5>Audit Period</h5>
    <select id="entity" onchange="ShowDepartmentAuditPeriods();" class="form-select form-control">
        <option value="0" id="0" selected>--Select Audit Period--</option>
        @{
            if (ViewData["AuditDepartments"] != null)
            {
                foreach (var item in (dynamic)(ViewData["AuditDepartments"]))
                {
                    <option selected="selected" value="@item.CODE" id="@item.CODE">@item.NAME</option>
                }
            }
        }

    </select>
</div>
<div class="row col-md-12">
    <table class="table table-bordered table mb-0 mt-3 bg-white table-hover table-striped" id="Plan Review">
        <thead>
            <tr>
                <th>SR</th>
                <th>Audit Entity</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Approval</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                        Approve
                    </button>
                </td>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                        Approve
                    </button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                        Approve
                    </button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                        Approve
                    </button>
                </td>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                        Approve
                    </button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                        Approve
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>