@{
    ViewData["Title"] = "Plan Status";
    Layout = "_Layout";
}
<style type="text/css">
    .container {
        max-width: 100%;
    }

    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }

    .icon-card {
        margin: 10px;
    }
</style>
<script type="text/javascript">
    var g_entId = 0;
    var g_entList = [];
    $(document).ready(function () {
      
        $("#searchTableRecord").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#listOfDepartment tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

  
    function updateAuditeeEntities(id) {

        g_entId = id;
        $.each(g_entList, function (i, v) {
            if (v.entitY_ID == g_entId) {
                $('#entNameField').val(v.name);
                $('#entCodeField').val(v.name);
                $('#entParentField').val('');
                $('#entChildField').val('');
            }
        });

        $('#updateEntityModal').modal('show');
    }
    function getrelation(parentEntityId = 0, userEntityId = 0) {


        $('#controlingsearch').empty();
        $('#childposting').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/getparentrel",
            type: "POST",
            data: {
                'ENTITY_REALTION_ID': $('#RelationshipField option:selected').val()
            },


            cache: false,
            success: function (data) {


                $('#controlingsearch').append('<option id="0" value="0">--Select Controlling/Reporting Office--</option>');
                $.each(data, function (index, contof) {

                    var selected = '';
                    if (contof.entitY_ID == parentEntityId)
                        selected = 'selected="selected"';

                    $('#controlingsearch').append('<option ' + selected + ' value="' + contof.entitY_ID + '" id="' + contof.entitY_REALTION_ID + '">' + contof.description + '</option>')
                });
                if (userEntityId != 0)
                    getplacepost(userEntityId)

                // console.log(data);

            },
            dataType: "json",
        });



    }

    function getplacepost(userEntityId = 0) {
        $('#childposting').empty();

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/getpostplace",
            type: "POST",
            data: {
                'E_R_ID': $('#controlingsearch option:selected').val()
            },


            cache: false,
            success: function (data) {
                $('#childposting').append('<option id="0" value="0" selected="selected">--Select Place of Posting--</option>');
                $.each(data, function (index, gpp) {

                    var selected = '';
                    if (gpp.entitY_ID == userEntityId)
                        selected = 'selected="selected"';
                    $('#childposting').append('<option ' + selected + ' value="' + gpp.c_TYPE_ID + '" id="' + gpp.c_TYPE_ID + '">' + gpp.c_NAME + '</option>')
                });
            },
            dataType: "json",
        });
        //  getrelation();

    }

    function ShowEntities() {
        g_entList = [];
        $('#auditeeEntitiesList tbody').empty();

        var typeId = $('#entityTypeSelectField').val();
        if (typeId != 0) {
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/GetAuditeeEntitiesByTypeId",
                type: "POST",
                data: {
                    'ENTITY_TYPE_ID': typeId
                },
                cache: false,
                success: function (data) {
                    g_entList = data;
                    var sr = 0;
                    $.each(data, function (i, v) {
                        sr++;
                        $('#auditeeEntitiesList tbody').append('<tr><td>' + sr + '</td><td>' + v.entitY_ID + '</td><td>' + v.name + '</td><td><a class="text-danger" onclick="event.preventDefault();updateAuditeeEntities(' + v.entitY_ID + ')">Update</a></td></tr>');

                    });
                },
                dataType: "json",
            });
        }

    }
</script>
<div class="row text-center" style="margin-top:30px;">
    <h3 style=" display:block;color: #45c545;">Auditee Entities </h3>
</div>

<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <label>Relationship Type</label>
    </div>
    <div class="col-md-10">
        <select id="RelationshipField" onchange="getrelation();" class="form-control form-select">
            <option id="0" value="0" selected="selected">--Select Relationship Type--</option>


            @{
                if (ViewData["Userrelationship"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["Userrelationship"]))
                    {
                        <option value="@item.ENTITY_REALTION_ID" id="@item.ENTITY_REALTION_ID">@item.FIELD_NAME</option>
                    }
                }
            }



        </select>
    </div>
</div>

<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <label>Controlling/Reporting Office</label>
    </div>
    <div class="col-md-4">
        <select id="controlingsearch" onchange="getplacepost();" class="form-control form-select">
            <option id="0" value="0" selected="selected">--Select Controlling/Reporting Office--</option>
        </select>
    </div>


    <div class="col-md-2">
        <label>Place of Posting</label>
    </div>
    <div class="col-md-4">
        <select onchange="ShowEntities();" id="childposting" class="form-control form-select">
            <option id="0" value="0" selected="selected">--Select Place of Posting--</option>

        </select>
    </div>
</div>


<div class="row col-md-12">
    <table id="auditeeEntitiesList" class="table table-bordered table mb-0 mt-3 bg-white table-hover table-striped">
        <thead>
            <tr style="background-color: rgb(181 229 117 / 93%) !important; ">
                <th class="col-md-auto">Sr No.</th>
                <th class="col-md-auto">ID</th>
                <th class="col-md-auto">Entity Name</th>
                <th class="col-md-auto">Action</th>
            </tr>
        </thead>
        <tbody></tbody>

    </table>
</div>


<div id="updateEntityModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Update Auditee Entity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row col-md-12 mt-3">
                        <div class="row col-md-4">
                            <h5>Name</h5>
                        </div>
                        <div class="row col-md-8">
                            <input id="entNameField" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="row col-md-12 mt-3">
                        <div class="row col-md-4">
                            <h5>Code</h5>
                        </div>
                        <div class="row col-md-8">
                            <input id="entCodeField" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="row col-md-12 mt-3">
                        <div class="row col-md-4">
                            <h5>Parent Office</h5>
                        </div>
                        <div class="row col-md-8">
                            <select id="entParentField" class="form-control">
                                <option value="0">--Select Parent Office--</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12 mt-3">
                        <div class="row col-md-4">
                            <h5>Child Office </h5>
                        </div>
                        <div class="row col-md-8">
                            <select id="entChildField" class="form-control">
                                <option value="0">--Select Child Office--</option>
                            </select>
                        </div>
                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="" type="button" data-dismiss="modal" class="btn btn-success">Update</button>

            </div>
        </div>
    </div>
</div>