@{
    ViewData["Title"] = "Approval ~ Special Audit Plan";
    Layout = "_Layout";
}

<style type="text/css">
    .container {
        max-width: 95%;
    }

    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }

    .icon-card {
        margin: 10px;
    }
</style>

<script type="text/javascript">
  
    var g_preCreatedPlans=[];
    var g_planId=0;
   
    $(document).ready(function () {
        getSavedSpecialAuditPlan();
    });

    function getSavedSpecialAuditPlan() {
        $('#auditCriteriaListBox tbody').empty();

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_saved_special_audit_plans",
            type: "POST",
            data: {

            },

            cache: false,
            success: function (data) {
                g_preCreatedPlans=data;
                $.each(data, function (index, row) {
                    $('#auditCriteriaListBox tbody').append("<tr id=" + row.plaN_ID + "><td>" + ++index + "</td><td>" + row.nature + "</td><td>" + row.audiT_PERIOD + "</td><td>" + row.reportinG_OFFICE + "</td><td>" + row.entitY_NAME + "</td><td>" + row.nO_DAYS + "</td><td>" + row.auditeD_BY + "</td><td><a href=\"#\" class=\"text-danger\" onclick=\"event.preventDefault();ReferredBackCriteriaRecordFromGrid(" + row.plaN_ID + ");\">Referred Back</a></td><td><a href=\"#\" class=\"text-success\" onclick=\"event.preventDefault();ApprovalCriteriaRecordFromGrid(" + row.plaN_ID + ");\">Approve</a></td></tr>");
                });
            },
            dataType: "json",
        });

    }
  
    function ApprovalCriteriaRecordFromGrid(pId) 
    {
        g_planId=pId;

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/approve_special_audit_plan",
            type: "POST",
            data: {
                'PLAN_ID': g_planId,
                'INDICATOR':'A'
            },
            cache: false,
            success: function (data) {
                  alert(data.Message);
                getSavedSpecialAuditPlan();
            },

            dataType: "json",
        });
    }
    function ReferredBackCriteriaRecordFromGrid(pId) {
        g_planId=pId;

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/referred_back_special_audit_plan",
            type: "POST",
            data: {
                'PLAN_ID': g_planId,
                'INDICATOR':'R'
            },
            cache: false,
            success: function (data) {
                 alert(data.Message);
                getSavedSpecialAuditPlan();
            },

            dataType: "json",
        });
    }

  
   
   
</script>

<div class="row col-md-12">
    <h3 style="color: #45c545;">Special Audit Plan for Approval/ Reffered Back</h3>
</div>


<div class="col-md-12 mt-3">
    <table id="auditCriteriaListBox" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th class="col-md-auto">Sr. No.</th>
                <th class="col-md-auto">Nature</th>
                <th class="col-md-auto">Period</th>
                <th class="col-md-auto">Reporting Office</th>
                <th class="col-md-auto">Entity Name</th>
                <th class="col-md-auto">No. of Days</th>
                <th class="col-md-auto">Audited By</th>
                <th class="col-md-auto"></th>
                <th class="col-md-auto"></th>
            </tr>
        </thead>
        <tbody style="font-size:85% !important;">
        </tbody>
    </table>
</div>
