@{
    ViewData["Title"] = "Tentative Engagement Plan";
    Layout = "_Layout";
}

<script type="text/javascript">
    var g_teams = [];
    var g_branches = [];
    var g_code = 0;
    var g_periodId = 0;
    var g_entityType = 0;
    var g_zoneId = 0;
    $(document).ready(function () {
        var url_string = window.location;
        var url = new URL(url_string);
        var periodName = url.searchParams.get("period");
        var risk = url.searchParams.get("risk");
        var size = url.searchParams.get("size");
        var entityName = url.searchParams.get("name");
        var freq = url.searchParams.get("freq");
        var days = url.searchParams.get("days");
        g_code = url.searchParams.get("code");
        g_periodId = url.searchParams.get("periodId");
        g_entityType = url.searchParams.get("entityType");
        g_zoneId = url.searchParams.get("zoneId");
        
        $('#auditperiod_label').text(periodName);
        $('#auditentity_label').text(entityName);
        $('#risk_label').text(risk);
        $('#size_label').text(size);
        $('#frequency_label').text(freq);
        $('#days_label').text(days);      
    });
    function getAutoEndDate() {
        var numAdd = $('#days_label').text();
        var dataAvui = new Date($('#startplan_date').val());
        for (var i = 0; i < numAdd; i++) {
            var dataTemp = dataAvui;
            dataTemp.setDate(dataTemp.getDate() + 1)
            if (dataTemp.getDay() == 6) {
                dataTemp.setDate(dataTemp.getDate() + 2)
            } else if (dataTemp.getDay() == 0) {
                dataTemp.setDate(dataTemp.getDate() + 1)
            }

            dataAvui = dataTemp;

        }
        var month = (dataAvui.getMonth() + 1);
        var day = dataAvui.getDate();
        if (month < 10)
            month = "0" + month;
        if (day < 10)
            day = "0" + day;
        var today = dataAvui.getFullYear() + '-' + month + '-' + day;
        $('#endplan_date').val(today);


        var date = new Date($('#startplan_date').val());
        const lastDayPrevMonth = new Date(date.getFullYear(), date.getMonth(), 0);
        var month = (lastDayPrevMonth.getMonth() + 1);
        var day = lastDayPrevMonth.getDate();
        if (month < 10)
            month = "0" + month;
        if (day < 10)
            day = "0" + day;

        var today = lastDayPrevMonth.getFullYear() + '-' + month + '-' + day;
        $('#endop_date').val(today);
        $.ajax({
            url: "/Planning/get_operational_start_date",
            type: "POST",
            data: {
                'periodId': g_periodId,
                'entityCode': g_code
            },
            cache: false,
            success: function (data) {

                console.log('ajaaaxxxx dataaa', data);
                if (data != "" && data.length > 0) {
                    var date = new Date(data);
                    console.log('ajaaaxxxx dataaa', date);
                    date.setDate(date.getDate() + 1)
                    var month = (date.getMonth()+1);
                    var day = date.getDate();
                    if (month < 10)
                        month = "0" + month;
                    if (day < 10)
                        day = "0" + day;

                    var today = date.getFullYear() + '-' + month + '-' + day;
                    console.log('ajaaaxxxx',today);
                    $('#startop_date').val(today);
                }
            }
        });

        
    }
   
    function previewAuditPlan() {

        $('#previewAuditPlan').modal('show');
        $('#auditorDept').text($('#deptSelectionBox option:selected').text());
        $('#auditorPlan').text($('#periodSelectionBox option:selected').text());
        $('#descModal_field').html($('#entitySelectionBox option:selected').text());
        if ($('#deptSelectionBox option:selected').val() == '473') {
            $('#divzone_field').text($('#auditZoneSelectionBox option:selected').text());
            $('#deptBranch_field').text($('#branchSelectionBox option:selected').text());

        } else {
            $('#divzone_field').text($('#divSelectionBox option:selected').text());
            $('#deptBranch_field').text($('#divDeptSelectionBox option:selected').text());

        }
        $('#exeFrom_field').html($('#executionPeriodFromField').val());
        $('#exeTo_field').html($('#executionPeriodToField').val());
        $('#operationalFrom_field').html($('#auditPeriodFromField').val());
        $('#operationalTo_field').html($('#auditPeriodToField').val());
        //
        if ($('#isTravelingRequiredField').is(":checked"))
            $('#travelingReq_field').html('Yes');
        else
            $('#travelingReq_field').html('No');
        $('#remarksAddtn_field').html($('#remarksAdditionalInfoField').val());
        $('#teamName_field').text($('#teamSelectionBox option:selected').text());
        //
        var teamMembersFields = "";
        $.each(g_teams, function (index, team) {
            if (team.name == $('#teamSelectionBox option:selected').text()) {
                if (team.iS_TEAMLEAD == "Y")
                    teamMembersFields += team.employeename + " " + team.teammembeR_ID + " (L)<br>";
                else
                    teamMembersFields += team.employeename + " " + team.teammembeR_ID + " (M)<br>";
            }
        });
        $('#teamMembers_field').html(teamMembersFields);

    }
    function publishNewAuditPlanChanges() {

        var status = 1;
        var desc = $('#descriptionAuditPlanField').val();

        $.ajax({
            url: "/Planning/add_engagement_plan",
            type: "POST",
            data: {
                'PERIOD_ID': g_periodId,
                'ENTITY_TYPE': g_entityType,
                'ENTITY_CODE': g_code,
                'AUDIT_ZONEID': g_zoneId,
                'AUDIT_STARTDATE': $('#startplan_date').val(),
                'AUDIT_ENDDATE': $('#endplan_date').val(),
                'TEAM_NAME': $('#auditTeam_box option:selected').text(),
                'STATUS': 1,
                'TEAM_ID': $('#auditTeam_box').val(),
                
            },
            cache: false,
            success: function (data) {
                alert('Plan has been Created');
                window.location.href = "/Planning/tentative_audit_plan";
            },
            dataType: "json",
        });
    }
  
</script>
<div class="row mt-3 col-md-12">
    <h3 style="color: #45c545;">Tentative Engagement Plan</h3>
</div>
<div class="row col-md-12  mt-3">
    <div class="col-md-3">
        <h5>Audit Period</h5>
    </div>
    <div class="col-md-9">
       <label id="auditperiod_label"></label>
    </div>
</div>
<div class="row col-md-12  mt-3">
    <div class="col-md-3">
        <h5>Audit Entity</h5>
    </div>
    <div class="col-md-9">
        <label id="auditentity_label"></label>
    </div>
</div>
<div class="row col-md-12  mt-3">
    <div class="col-md-3">
        <h5>Entity Risk</h5>
    </div>
    <div class="col-md-9">
        <label id="risk_label"></label>
    </div>
</div>
<div class="row col-md-12  mt-3">
    <div class="col-md-3">
        <h5>Entity Size</h5>
    </div>
    <div class="col-md-9">
        <label id="size_label"></label>
    </div>
</div>

<div class="row col-md-12  mt-3">
    <div class="col-md-3">
        <h5>No of Days</h5>
    </div>
    <div class="col-md-9">
        <label id="days_label"></label>
    </div>
</div>
<div class="row col-md-12  mt-3">
    <div class="col-md-3">
        <h5>Frequency</h5>
    </div>
    <div class="col-md-9">
        <label id="frequency_label"></label>
    </div>
</div>.

<div class="row col-md-12 mt-3">
    <div class="col-md-5">
        <h5>Start Date</h5>
    </div>
    <div class="col-md-7">
        <input id="startplan_date"  onchange="getAutoEndDate();" type="date" class="form-control form-select">
    </div>
</div>

<div class="row col-md-12 mt-3">
    <div class="col-md-5">
        <h5>End Date</h5>
    </div>
    <div class="col-md-7">
        <input id="endplan_date" type="date"  class="form-control form-select">
    </div>
</div>
<div class="row col-md-12 mt-3">
    <div class="col-md-5">
        <h5>Operational Period Start Date</h5>
    </div>
    <div class="col-md-7">
        <input id="startop_date"  type="date" class="form-control form-select">
    </div>
</div>
<div class="row col-md-12 mt-3">
    <div class="col-md-5">
        <h5>Operational Period End Date</h5>
    </div>
    <div class="col-md-7">
        <input id="endop_date"  type="date" class="form-control form-select">
    </div>
</div>

<div class="row col-md-12 mt-3">
    <div class="col-md-5">
        <h5>Team Assigned</h5>
    </div>
    <div class="col-md-7">
        <select id="auditTeam_box" class="form-select form-control">
            <option value="0" id="0" selected>Select Audit Team</option>
            @{
                if (ViewData["AuditTeamsList"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["AuditTeamsList"]))
                    {
                        if (item.IS_TEAMLEAD == "Y")
                        {
                            <option value="@item.ID" id="@item.ID">@item.NAME</option>
                        }
                    }
                }
              }

        </select>
    </div>
</div>

<div class="row col-md-12 mt-3">
    <div class="col-md-5">
        <h5>Travelling/Travelling Day Required</h5>
    </div>
    <div class="col-md-7">
        <input id="auditCriteriaVisitField" class="form-check" type="checkbox" />
    </div>
</div>
<div class="row col-md-12 mt-4">
   <button onclick="publishNewAuditPlanChanges();" class="col-md-2 btn btn-primary">Save Changes</button>
  </div>

<div id="previewAuditPlan" class="modal"  tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Preview Tentative Engagement Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <center class="col-md-12"><h3 id="auditorDept"></h3></center>
                        <center class="col-md-12"><h4 id="auditorPlan"></h4></center>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Audit Plan</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="divzone_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Audit Entity</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="deptBranch_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Start Date</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="descModal_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label><b>Team Assigned</b></label>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Traveling Required</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="exeFrom_field"></label>
                        </div>
                    </div>
                    <!--
                        <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>To</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="exeTo_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <h4 class="col-md-12">Operational/Audit Period</h4>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>From</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="operationalFrom_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>To</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="operationalTo_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <h4 class="col-md-12">Audit Team</h4>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Team Name</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="teamName_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Team Members</b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="teamMembers_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label><b>Is Traveling Required </b></label>
                        </div>
                        <div class="col-md-6">
                            <label id="travelingReq_field"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label><b>Remarks/Instructions for Auditors</b></label>
                        </div>
                        <div class="col-md-12">
                            <label id="remarksAddtn_field"></label>
                        </div>
                    </div>
                        -->

                </form>
            </div>
            <div class="modal-footer">
                <button onclick="publishNewAuditPlanChanges();" type="button" class="btn btn-danger">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>