@{
    ViewData["Title"] = "BAC Agenda Creation";
    Layout = "_Layout";
}

<script type="text/javascript">

    $(document).ready(function () {

      
    });

   

    function getBACAgenda() {

        $('#manageBACAgendaPanels tbody').empty();
        $.ajax({
            url: "/ApiCalls/get_bac_agenda",
            type: "POST",
            data: {
                'MEETING_NO': $('#meetingNoInputBox').val(),
            },
            cache: false,
            success: function (data) {
                var sr = 1;
                $.each(data, function (index, v) {
                    
                    $('#manageBACAgendaPanels tbody').append("<tr><td>" + sr + "</td><td>" + v.memO_NO + "</td><td>" + v.subject + "</td><td>" + v.remarks + "</td></tr>");

                    sr++;
                });

            },
            dataType: "json",
        });
    }
</script>
<div class="row col-md-12 mt-3">

    <h3 style="color: #45c545;">BAC Agenda Creation</h3>
</div>
    <div class="row col-md-12 mt-4">
   
            <label class="font-weight-bold">BAC Meeting Number</label>
    <input id="meetingNoInputBox" style="max-height:150px; height:auto;" class="form-control" />

    <button onclick="getBACAgenda();" class="btn btn-primary mt-3 col-md-4 offset-md-8"></button>
        
    </div>
    <div class="row col-md-12 mt-3">
        <table id="manageBACAgendaPanels" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-1">Sr No.</th>
                    <th class="col-md-2">Memo No.</th>
                    <th class="col-md-3">Subject</th>
                    <th class="col-md-5">Remarks</th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="row col-md-12 mt-3 modal-footer">
    
        <button type="button" class="btn btn-danger" data-dismiss="modal">Submit</button>
    </div>