@{
    ViewData["Title"] = "BAC Actionable Item Assignment";
    Layout = "_Layout";
}

<script type="text/javascript">
    var g_engId = 0;
    $('#document').ready(function () {
        var url_string = window.location;
        var url = new URL(url_string);
        g_engId = url.searchParams.get("engId");
        $('#template_box').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });
    });

    function div_risksubcategoryShowHide() {
        if ($('#riskGroupSelectBox option:selected').val() == 0) {
            $('#div_risksubcategory').hide();
            $('#div_activityContainer').hide();
        }
        else {
            $('#div_risksubcategory').show();
            $('#div_activityContainer').hide();
            $('#riskSubGroupSelectBox').empty();
            $.ajax({
                url: g_asiBaseURL + "/Execution/sub_voilation",
                type: "POST",
                data: {
                    'GR_ID': $('#riskGroupSelectBox option:selected').val(),
                },
                cache: false,
                success: function (data) {
                    $('#riskSubGroupSelectBox').append("<option value=\"0\" id=\"0\">--Select Sub Group--</option>");
                    $.each(data, function (index, item) {
                        $('#riskSubGroupSelectBox').append("<option value=\"" + item.v_ID + "\"> " + item.suB_V_NAME + "</option > ");
                    });

                },
                dataType: "json",
            });
        }
    }
    function div_activityContainerShowHide() {
        if ($('#riskSubGroupSelectBox option:selected').val() == 0)
            $('#div_activityContainer').hide();
        else
            $('#div_activityContainer').show();
        $('#riskActivitiesSelectBox').empty();
        $.ajax({
            url: g_asiBaseURL + "/Execution/risk_activities",
            type: "POST",
            data: {
                'S_GR_ID': $('#riskSubGroupSelectBox option:selected').val(),
            },
            cache: false,
            success: function (data) {
                //console.log(data);
                $('#riskActivitiesSelectBox').append("<option value=\"0\" id=\"0\">--Select Sub Group--</option>");
                $.each(data, function (index, item) {
                    $('#riskActivitiesSelectBox').append("<option value=\"" + item.activitY_ID + "\"> " + item.description + "</option>");
                });

            },
            dataType: "json",
        });
    }
    function getAuditObservationTemplate() {
        if ($('#riskActivitiesSelectBox option:selected').val() == 0)
            $('#template_box').val('').trigger('change');
        else {
            $('#template_box').val('').trigger('change');
            $.ajax({
                url: g_asiBaseURL + "/Execution/audit_observation_template",
                type: "POST",
                data: {
                    'ACTIVITY_ID': $('#riskActivitiesSelectBox option:selected').val(),
                },
                cache: false,
                success: function (data) {
                    $.each(data, function (index, item) {
                        $('#template_box').val(item.obS_TEMPLATE).trigger('change');
                    });

                },
                dataType: "json",
            });
        }
    }

    function saveChecklistObservations() {
        if ($('#riskGroupSelectBox').val() == 0) {
            alert('Select Violation Category');
            return;
        }
        if ($('#riskSubGroupSelectBox').val() == 0) {
            alert('Select Violation Nature');
            return;
        }
        if ($('#auditCriteriaRiskField').val() == 0) {
            alert('Select Risk');
            return;
        }
        var g_memoObj = [];
        var memo = {
            'MEMO': $('.richText-editor').html(),
            'ID': 'obs_0',
            'DAYS': $('#viewMemo_replydays option:selected').val(),
            'LOANCASE': '',
            'ATTACHMENTS': ''
        };
        g_memoObj.push(memo);
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/save_observations",
            type: "POST",
            data: {
                'LIST_OBS': g_memoObj,
                'ENG_ID': g_engId,
                'S_ID': 0,
                'V_CAT_NATURE_ID': $('#riskSubGroupSelectBox').val(),
                'V_CAT_ID': $('#riskGroupSelectBox').val(),
                'RISK_ID': $('#auditCriteriaRiskField').val()
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
            },
            dataType: "json",
        });

    }

</script>
<div class="row mt-2 col-md-12">
    <h3 style="color: #45c545;">Assignement By BAC</h3>
</div>


<div class="row col-md-12 mt-3">
    <div class="row col-md-12">
        <label class="font-weight-bold">Actionable Item Ref No.</label>
    </div>
    <div class="row col-md-12">
        <input id="auditTeam_box"  class="form-select form-control" />
           
    </div>
</div>



    <div class="row col-md-12 mt-3">
        <label class="font-weight-bold">BAC Meeting</label>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="row col-md-1">
            <label>Meeting No</label>
        </div>
        <div class="col-md-5">
            <input id="auditTeam_box" class="form-select form-control" placeholder="--Meeting Number--" />

        </div>

        <div class="col-md-1">
            <label style="float:right">Date</label>
        </div>
        <div class="col-md-5">
            <input id="auditTeam_box" class="form-select form-control" type="date" placeholder="--Date--" />

        </div>


    </div>



    <Div class="row col-md-12 mt-3">
        <label class="font-weight-bold">BAC Observation/ Decisions</label>
    </Div>
    <div class="row col-md-12">
        <div class="row col-md-12 ">
            <textarea id="remarksAdditionalInfoField" rows="4" class="form-control"></textarea>
        </div>
    </div>

    <div class="row col-md-12 mt-3">
        <div class="row col-md-12">
            <label class="font-weight-bold">Responsibility</label>
        </div>
        <div class="row col-md-12">
            <input id="auditTeam_box" class="form-select form-control" />

        </div>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="row col-md-12">
            <label class="font-weight-bold">Division</label>
        </div>
        <div class="row col-md-12">
            <select id="divSelectionBox" onchange="ShowSelectedDivisionDepartments();" class="form-select form-control" aria-label="Default select example">
                <option value="0" id="0" selected>--Select Audit Division--</option>
                @{
                    if (ViewData["DivisionList"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["DivisionList"]))
                        {
                            <option value="@item.DIVISIONID" id="@item.DIVISIONID">@item.NAME</option>
                        }
                    }
                }
            </select>
        </div>
    </div>


    <div class="row col-md-12 mt-3">
        <div class="row col-md-12">
            <label class="font-weight-bold">Timeline</label>
        </div>
        <div class="row col-md-3">
            <select id="auditTeam_box" class="form-select form-control">
               <option>--Timeline--</option>
                <option>Till Next BAC Meeting</option>
            </select>

        </div>
    </div>

    <div class="row col-md-12 mt-4">
        <div class="col-md-12">
            <button onclick="approveAuditCriterias();" style="float:right; margin-right:2px;" class="btn btn-success col-md-2">Assign</button>

        </div>

    </div>
