@{
    ViewData["Title"] = "BAC Actionable Item Response";
    Layout = "_Layout";
}

<script>

    $(document).ready(function () {

        $('#bacresponse').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });
    });

    function bacassignmentresponse() {
       

        $('#bacassignmentresponse').modal('show');
        $('#bacresponse').val('').trigger('change')

     
    }

</script>
<div class="row mt-2 col-md-12">
    <h3 style="color: #45c545;">BAC Assignement Response</h3>
</div>



<div class="row col-md-12 mt-3">
    <table id="checklistDetailsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th class="col-md-1 font-weight-bold">Sr. No</th>
                <th class="col-md-1 font-weight-bold">Action ID</th>
                <th class="col-md-1 font-weight-bold">Division ID</th>
                <th class="col-md-4 font-weight-bold">Actionable Item</th>
              
                <th class="col-md-2 font-weight-bold">Assigned Date</th>
                <th class="col-md-1 font-weight-bold">Status</th>
                <th class="col-md-2 font-weight-bold"></th>


            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            
                <td></td>
                <td></td>
                <td><a class="text-center text-danger" onclick="bacassignmentresponse()">Add Response</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="bacassignmentresponse" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">BAC Assignment Response</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row mt-3 modal-body">
                <form>
                    <div class="col-md-12">
                        <label class="font-weight-bold">Reply</label>

                    </div>
                    <div class="col-md-12">
                        <textarea id="bacresponse" style="max-height:150px; height:auto;" class="form-control"></textarea>

                    </div>


                    <div class="row mt-3 col-md-12">
                        <div class="col-md-2">
                            <label class="font-weight-bold">Attachment:</label>

                        </div>
                        <div class="col-md-10">
                            <input id="bacresponseattachment" style="max-height:150px; height:auto;" class="form-control" type="file" />
                            </div>
                        </div>



</form>
            </div>

            <div class="mt-3 modal-footer">
                <button onclick="publishresponseChanges();" type="button" class="btn btn-danger">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

