@{
    ViewData["Title"] = "Notice";
    Layout = "_Layout";
}

<script>

    $(document).ready(function () {

        $('#bacresponse').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false

        });
    });

    function bacassignmentresponse() {


        $('#bacassignmentresponse').modal('show');

    }


</script>
<div class="row mt-2 col-md-12">
    <h3 style="color: #45c545;">BAC Notice</h3>
</div>



<div class="row col-md-12 mt-3">
    <div class="row col-md-1">
        <label class="font-weight-bold">Notice No.</label>
    </div>
    <div class="col-md-5">
        <input id="notice_number" class="form-select form-control" placeholder="--Notice Number--" />

    </div>

    <div class="col-md-1">
        <label class="font-weight-bold" style="float:right">Date</label>
    </div>
    <div class="col-md-5">
        <input id="date" class="form-select form-control" type="date" placeholder="--Date--" />

    </div>


</div>
<div class="row col-md-12 mt-3">
    <div class="row col-md-12">
        <label class="font-weight-bold">Subject</label>
    </div>
    <div class="row col-md-12">
        <input id="subject" class="form-select form-control" />

    </div>
</div>
<Div class="row col-md-12 mt-3">
    <label class="font-weight-bold">Notification</label>
</Div>
<div class="row col-md-12">
    <div class="row col-md-12 ">
        <textarea id="notification" rows="9" class="form-control"></textarea>
    </div>
</div>

<div class="row col-md-12 mt-4">
    <div class="col-md-12">
        <button onclick="approveAuditCriterias();" style="float:right; margin-right:2px;" class="btn btn-success col-md-2">Submit</button>

    </div>

</div>