@{
    ViewData["Title"] = "Observation Assigned";
    Layout = "_Layout";
}

<script type="text/javascript">
    var g_obsId = 0;
    var g_obsTextId = 0;
    var g_obsList = [];
    $(document).ready(function () {

        $('#viewMemo_reply').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });
        $('#auditeeEvidences').imageUploader();
    });
    function reloadLocation() {
        location.reload();
    }
    function showMemo(obs_id) {
        var obs_text_id, status, violation, nature, process, subprocess, checklist_detail,memo_number;
        $.each(g_obsList, function (i, v) {
            if (v.obS_ID == obs_id) {
                obs_text_id = v.obS_TEXT_ID;
                status = v.statuS_ID;
                violation = v.violation;
                nature = v.nature;
                process = v.process;
                subprocess = v.suB_PROCESS;
                checklist_detail = v.checklisT_DETAIL;
                memo_number = v.memO_NUMBER;
            }
        });

        g_obsId=obs_id;
        g_obsTextId = obs_text_id;
        $.ajax({
            url: "/ApiCalls/get_observation_text",
            type: "POST",
            data: {
                'OBS_ID': g_obsId
            },
            cache: false,
            success: function (data) {

                $('#viewMemoModel').modal('show');
                $('#viewMemo_memo').html(data[0]);
                $('#viewMemo_memoNumber').val(memo_number);
                if (nature != null && violation != null) {
                    $('#viewMemo_nature').val(nature);
                    $('#viewMemo_violation').val(violation);
                    $('#viewMemo_process').parent().addClass('d-none');
                    $('#viewMemo_subprocess').parent().addClass('d-none');
                    $('#viewMemo_checklist_detail').parent().addClass('d-none');
                } else {
                    $('#viewMemo_nature').parent().addClass('d-none');
                    $('#viewMemo_violation').parent().addClass('d-none');

                    $('#viewMemo_process').val(process);
                    $('#viewMemo_subprocess').val(subprocess);
                    $('#viewMemo_checklist_detail').val(checklist_detail);
                }
                
             
                if (status == 2) {
                    $('#replyButton_memoReply').removeClass('d-none');
                    $('#viewMemo_responded').parent().addClass('d-none');
                    $('#replyrichTextWrapper').removeClass('d-none');
                    $('#viewMemo_responded').html('');
                    $('#auditeeEvidences').parent().removeClass('d-none');
                }
                else {
                    $('#replyButton_memoReply').addClass('d-none');
                    $('#viewMemo_responded').parent().removeClass('d-none');
                    $('#replyrichTextWrapper').addClass('d-none');
                    $('#viewMemo_responded').html(data[1]);
                    $('#auditeeEvidences').parent().removeClass('d-none');
                    }

            },
            dataType: "json",
        });
    }
    function replyMemo() {
        var ele = document.getElementById($('#auditeeEvidences').find('input[type="file"]').attr('id'));

        var replyTxt = ($('#viewMemo_reply').val()).length;
        if (replyTxt > 0) {
            $.ajax({
                url: "/ApiCalls/reply_observation",
                type: "POST",
                data: {
                    'AU_OBS_ID': g_obsId,
                    'OBS_TEXT_ID': g_obsTextId,
                    'REPLY': $('#viewMemo_reply').val()
                },
                cache: false,
                success: function (data) {
                    alert("Reply sent successfuly");
                    onAlertCallback(reloadLocation);

                },
                dataType: "json",
            });
        } else {
            alert("Provide your comments to proceed");
            return false;
        }

    }

    function getEntityObservation() {
        $('#manageObsPanel tbody').empty();
        if ($('#entitySelectField option:selected').val() != 0) {
            $.ajax({
                url: "/ApiCalls/get_assigned_observation",
                type: "POST",
                data: {
                    'ENG_ID': $('#entitySelectField option:selected').val()
                },
                cache: false,
                success: function (data) {
                    g_obsList = data;
                    var sr = 1;
                    $.each(data, function (i, v) {
                        var sdate = v.memO_DATE.split(" ")[0];
                        var edate = v.memO_REPLY_DATE.split(" ")[0];
                        if(v.statuS_ID==2)
                            $('#manageObsPanel tbody').append('<tr><td class="text-center">' + sr + '</td><td>' + v.entitY_NAME + '</td><td>' + v.memO_NUMBER + '</td><td>' + sdate + '</td><td>' + edate + '</td><td>' + v.status + '</td><td class="text-center"><a onclick="showMemo(' + v.obS_ID + ');" class="text-hover font-weight-bold text-success">Reply</a></td></tr>');
                        else
                            $('#manageObsPanel tbody').append('<tr><td class="text-center">' + sr + '</td><td>' + v.entitY_NAME + '</td><td>' + v.memO_NUMBER + '</td><td>' + sdate + '</td><td>' + edate + '</td><td>' + v.status + '</td><td class="text-center"><a onclick="showMemo(' + v.obS_ID + ');" class="text-hover font-weight-bold text-success">View</a></td></tr>');
                        sr++;
                          });

                },
                dataType: "json",
            });

        }
    }
</script>
<div class="row col-md-12">

    <div class="row col-md-12 mt-3">
        <h3 style="color: #45c545;">Assigned Observations</h3>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label><b>Entity:</b></label>
        </div>
        <div class="col-md-10">
            <input id="entityNameField" disabled="disabled" class="form-control ml-1 d-none" type="text" />
            <select id="entitySelectField" onchange="getEntityObservation()" class="form-control form-select">
                <option value="0" id="0">--Select Audit Entity--</option>
                @{
                    if (ViewData["EntitiesList"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["EntitiesList"]))
                        {
                            <option value="@item.ENG_ID" id="@item.ENG_ID">@item.NAME</option>
                        }
                    }
                }

            </select>
        </div>
    </div>
    <div class="row col-md-12 mt-3">
        <table id="manageObsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto">Sr. No</th>
                    <th class="col-md-auto">Entity</th>
                    <th class="col-md-auto">Memo Number</th>
                    <th class="col-md-auto">Meno Date</th>
                    <th class="col-md-auto">Reply Till </th>
                    <th class="col-md-auto">Status</th>
                    <th class="col-md-auto"></th>
                </tr>
            </thead>
            <tbody>
              
            </tbody>
        </table>
    </div>
</div>


<div id="viewMemoModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Observation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="viewMemo_memoNumber">Memo Number</label>
                        <input id="viewMemo_memoNumber" class="form-control" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo">Violation</label>
                        <input id="viewMemo_violation" class="form-control" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo">Nature</label>
                        <input id="viewMemo_nature" class="form-control" disabled="disabled" />

                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo">Process</label>
                        <input id="viewMemo_process" class="form-control" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo">Sub Process</label>
                        <input id="viewMemo_subprocess" class="form-control" disabled="disabled" />

                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo">Checklist Detail</label>
                        <input id="viewMemo_checklist_detail" class="form-control" disabled="disabled" />

                    </div>

                    <div class="form-group">
                        <label for="viewMemo_memo">Memo</label>
                        <div id="viewMemo_memo" disabled="disabled" style="height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div class="form-group d-none">
                        <label for="viewMemo_responded">Management Response</label>
                        <div id="viewMemo_responded" disabled="disabled" style="height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div id="replyrichTextWrapper" class="form-group">
                        <label for="viewMemo_reply">Reply</label>
                        <textarea id="viewMemo_reply" style="max-height:150px; height:auto;" class="form-control"></textarea>
                    </div>
                    <div class="input-field">
                        <label class="active">Evidences</label>
                        <div id="auditeeEvidences" style="padding-top: .5rem;"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="replyButton_memoReply" onclick="replyMemo();" type="button" data-dismiss="modal" class="btn btn-danger">Reply</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

