@{
    ViewData["Title"] = "Observation Assigned";
    Layout = "_Layout";
}

<head>

    <style type="text/css">
        .evidence-link {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .evidence-icon {
            margin-right: 10px;
        }
    </style>
</head>

<script type="text/javascript">
    var g_obsId = 0;
    var g_obsTextId = 0;
    var g_obsList = [];
    var g_imgFiles = null;
    var g_imgLoader = null;
    var g_allAttachedImages = [];
    var g_allowedFormats = ["pdf", "jpg", "jpeg", "png", "doc", "docx", "jpg", "csv", "xls", "xlsx"]; // allowed file formats

    $(document).ready(function () {

        $('#viewMemo_reply').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });

        $("aks-file-upload").aksFileUpload({
            fileUpload: "#uploadfile", // With target [input]file or [type]json you can save the data of loaded items
            fileType: ["pdf", "zip", "jpg", "jpeg", "png", "doc", "docx", "jpg", "csv", "xls", "xlsx"], // allowed file formats
            dragDrop: true, // drag & drop upload
            maxSize: "2.5 MB", // maximum uploaded file size
            multiple: true, // multiple file upload
            maxFile: 100, // maximum number of uploaded files
            maxFileError: "File exceeds upload limit. - Max limit:", // error text
            maxSizeError: "File exceeds size. - Max limit:", // error text
            fileTypeError: "Disallowed file format.", // error text
            label: "Drag & Drop your files or Browse" // label text

        });

        document.getElementById('aksfileupload').addEventListener('change', function () {

            var g_imgFiles = this.files;

            function readFileAsDataURL(file) {
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.onload = () => resolve(reader.result.split(',')[1]); // get Base64 string without prefix
                    reader.onerror = reject;
                    reader.readAsDataURL(file);
                });
            }

            async function processFiles(files) {
                const productImagesArr = [];
                for (let i = 0; i < files.length; i++) {
                    const file = files[i];
                    if (file.size > 2621440)
                        continue;
                    var ext = getFileExtension(file);
                    if (!g_allowedFormats.includes(ext))
                        continue;

                    try {
                        const base64Data = await readFileAsDataURL(file);
                        var fileNameGen = generateUniqueTimestamp();
                        var extension = getFileExtension(file);
                        const ProductObject = {
                            'TEXT_ID': g_obsTextId,
                            'IMAGE_NAME': file.name,
                            'FILE_NAME': fileNameGen + "." + extension,
                            'IMAGE_DATA': base64Data,
                            'IMAGE_TYPE': extension,
                            'LENGTH': file.size,
                            'SEQUENCE': i
                        };

                        productImagesArr.push(ProductObject);
                        g_allAttachedImages.push(ProductObject);
                    } catch (error) {
                        console.log(error);
                    }
                }
                uploadFiles(productImagesArr);
            }
            function uploadFiles(productImagesArr) {

                $.each($(".aks-file-upload .aks-file-upload-delete"), function (i, v) {
                    var filename = $(v).attr("data-delete");
                    for (var i = 0; i < g_allAttachedImages.length; i++) {
                        if (g_allAttachedImages[i].IMAGE_NAME == filename) {
                            $(v).attr("file-name", g_allAttachedImages[i].FILE_NAME);
                        }
                    }
                });
                $(".aks-file-upload .aks-file-upload-delete").on("click", function (e) {
                    var filename = $(this).attr("file-name");
                    deleteFileFromServer(filename);
                });

            }
            processFiles(g_imgFiles);
        });
    });

    function getFileExtension(file) {
        var fileName = file.name;
        var extension = fileName.substring(fileName.lastIndexOf('.') + 1).toLowerCase();
        return extension;
    }
    function getIconClass(extension) {
        switch (extension) {
            case 'pdf': return 'fa fa-file-pdf';
            case 'zip': return 'fa fa-file-archive';
            case 'png':
            case 'jpg':
            case 'jpeg':
            case 'bmp': return 'fa fa-file-image';
            case 'doc':
            case 'docx': return 'fa fa-file-word';
            default: return 'fa fa-file';
        }
    }
    function getContentType(extension) {
        switch (extension) {
            case 'pdf': return 'application/pdf';
            case 'zip': return 'application/zip';
            case 'png': return 'image/png';
            case 'doc': return 'application/msword';
            case 'docx': return 'application/vnd.openxmlformats-officedocument.wordprocessingml.document';
            default: return 'application/octet-stream';
        }
    }
    function generateUniqueTimestamp() {
        var date = new Date();
        var year = date.getFullYear();
        var month = ('0' + (date.getMonth() + 1)).slice(-2);
        var day = ('0' + date.getDate()).slice(-2);
        var hours = ('0' + date.getHours()).slice(-2);
        var minutes = ('0' + date.getMinutes()).slice(-2);
        var seconds = ('0' + date.getSeconds()).slice(-2);
        var milliseconds = ('00' + date.getMilliseconds()).slice(-3);

        var timestamp = year + month + day + '_' + hours + minutes + seconds + milliseconds;
        return timestamp;
    }
    function deleteImageObjectByFileName(fileName) {
        const index = g_allAttachedImages.findIndex(image => image.FILE_NAME === fileName);
        if (index !== -1) {
            g_allAttachedImages.splice(index, 1);
        }
    }
    function base64ToBlob(base64, contentType) {
        const byteCharacters = atob(base64);
        const byteArrays = [];

        for (let offset = 0; offset < byteCharacters.length; offset += 512) {
            const slice = byteCharacters.slice(offset, offset + 512);

            const byteNumbers = new Array(slice.length);
            for (let i = 0; i < slice.length; i++) {
                byteNumbers[i] = slice.charCodeAt(i);
            }

            const byteArray = new Uint8Array(byteNumbers);
            byteArrays.push(byteArray);
        }

        const blob = new Blob(byteArrays, { type: contentType });
        return blob;
    }
    function deleteFileFromServer(fileName) {
        deleteImageObjectByFileName(fileName);
    }
    function getEntityObservation() {
        $('#manageObsPanel tbody').empty();
        if ($('#entitySelectField option:selected').val() != 0) {
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/get_assigned_observation",
                type: "POST",
                data: {
                    'ENG_ID': $('#entitySelectField option:selected').val()
                },
                cache: false,
                success: function (data) {
                    g_obsList = data;
                    $.each(data, function (i, v) {
                        v.memO_DATE = v.memO_DATE.split(' ')[0];
                        v.memO_REPLY_DATE = v.memO_REPLY_DATE.split(' ')[0];
                        if (v.caN_REPLY == 2)
                            $('#manageObsPanel tbody').append('<tr id="assignedObRow_' + v.obS_ID + '"><td>' + v.memO_NUMBER + '</td><td>' + v.audiT_YEAR + '</td><td>' + v.entitY_NAME + '</td><td class="text-center">' + v.memO_DATE + '</td><td class="text-center">' + v.gist + '</td><td class="text-center">' + v.memO_REPLY_DATE + '</td><td class="text-center">' + v.status + '</td><td class="text-center"><a onclick="event.preventDefault();showMemo(' + v.obS_ID + ',' + v.obS_TEXT_ID + ',' + v.responsE_ID + ');" class="text-hover font-weight-bold text-success">Update Reply</a></td></tr>');
                        else if (v.caN_REPLY == 1)
                            $('#manageObsPanel tbody').append('<tr id="assignedObRow_' + v.obS_ID + '"><td>' + v.memO_NUMBER + '</td><td>' + v.audiT_YEAR + '</td><td>' + v.entitY_NAME + '</td><td class="text-center">' + v.memO_DATE + '</td><td class="text-center">' + v.gist + '</td><td class="text-center">' + v.memO_REPLY_DATE + '</td><td class="text-center">' + v.status + '</td><td class="text-center"><a onclick="event.preventDefault();showMemo(' + v.obS_ID + ',' + v.obS_TEXT_ID + ',' + v.responsE_ID + ');" class="text-hover font-weight-bold text-success">Reply</a></td></tr>');
                        else if (v.editable == 1)
                            $('#manageObsPanel tbody').append('<tr id="assignedObRow_' + v.obS_ID + '"><td>' + v.memO_NUMBER + '</td><td>' + v.audiT_YEAR + '</td><td>' + v.entitY_NAME + '</td><td class="text-center">' + v.memO_DATE + '</td><td class="text-center">' + v.gist + '</td><td class="text-center">' + v.memO_REPLY_DATE + '</td><td class="text-center">' + v.status + '</td><td class="text-center"><a onclick="event.preventDefault();showMemo(' + v.obS_ID + ',' + v.obS_TEXT_ID + ',' + v.responsE_ID + ');" class="text-hover font-weight-bold text-success">Reply</a></td></tr>');
                        else
                            $('#manageObsPanel tbody').append('<tr id="assignedObRow_' + v.obS_ID + '"><td>' + v.memO_NUMBER + '</td><td>' + v.audiT_YEAR + '</td><td>' + v.entitY_NAME + '</td><td class="text-center">' + v.memO_DATE + '</td><td class="text-center">' + v.gist + '</td><td class="text-center">' + v.memO_REPLY_DATE + '</td><td class="text-center">' + v.status + '</td><td class="text-center"><a onclick="event.preventDefault();showMemo(' + v.obS_ID + ',' + v.obS_TEXT_ID + ',' + v.responsE_ID + ');" class="text-hover font-weight-bold text-success">View</a></td></tr>');

                    });

                    setTimeout(function () {
                        if (g_obsId != 0) {
                            var rowpos = $('#assignedObRow_' + g_obsId).position();
                            $('html').scrollTop(rowpos.top);
                        }
                    }, 200)
                },
                dataType: "json",
            });

        }
    }

    function reloadLocation() {
        document.getElementById('aksfileupload').value = '';
        getEntityObservation();
    }
    function showMemo(obs_id, obs_text_id, resp_id) {

        var memo_number, canReply, gist, editable;

        g_obsId = obs_id;
        g_obsTextId = obs_text_id;
        g_respId = resp_id;
        $.each(g_obsList, function (i, v) {
            if (v.obS_ID == obs_id) {
                gist = v.gist;
                memo_number = v.memO_NUMBER;
                canReply = v.caN_REPLY;
                editable = v.editable;
            }
        });

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_observation_text",
            type: "POST",
            data: {
                'OBS_ID': g_obsId,
                'RESP_ID': g_respId
            },
            cache: false,
            success: function (data) {

                $('#viewMemoModel').modal('show');
                $('.aks-file-upload-delete').click();
                $('.aks-file-upload-error').remove();
                document.getElementById('aksfileupload').value = '';

                $('#viewMemo_memo').html(data[0]);
                $('#viewMemo_memoNumber').val(memo_number);
                $('#viewMemo_memoGist').val(gist);
                if (canReply == 2) {

                    $('#replyButton_memoReply').removeClass('d-none');
                    $('#viewMemo_responded').parent().addClass('d-none');
                    $('#replyrichTextWrapper').removeClass('d-none');
                    $('#viewMemo_reply').val(data[1]).trigger('change');
                    $('#evidenceViewer').removeClass('d-none');
                    $('#evidenceUploader').removeClass('d-none');
                }
                else if (canReply == 1) {
                    $('#replyButton_memoReply').removeClass('d-none');
                    $('#viewMemo_responded').parent().addClass('d-none');
                    $('#replyrichTextWrapper').removeClass('d-none');
                    $('#viewMemo_reply').val(data[1]).trigger('change');
                    $('#evidenceViewer').addClass('d-none');
                    $('#evidenceUploader').removeClass('d-none');
                }
                else {
                    $('#replyButton_memoReply').addClass('d-none');
                    $('#viewMemo_responded').parent().removeClass('d-none');
                    $('#replyrichTextWrapper').addClass('d-none');
                    $('#viewMemo_responded').html(data[1]);
                    $('#evidenceViewer').removeClass('d-none');
                    $('#evidenceUploader').addClass('d-none');

                }
                var auctionImages = [];
                $('#complianceCycleEvidences').empty();
                $('#complianceCycleEvidences').removeClass('d-none');
                if (data[2].length == 0 && editable > 0 && canReply > 0) {

                    $('#complianceCycleEvidences').append("<i>No evidence is attached </i>");
                }
                $.each(data[2], function (i, v) {
                    var extension = v.imagE_NAME.split('.').pop().toLowerCase();
                    const blob = base64ToBlob(v.imagE_DATA, getContentType(extension));
                    const link = document.createElement('a');
                    link.href = URL.createObjectURL(blob);
                    link.download = v.imagE_NAME;
                    link.innerText = "Download " + v.imagE_NAME; // Set the text inside the hyperlink
                    const icon = document.createElement('i');
                    icon.className = getIconClass(extension) + ' evidence-icon';

                    const container = document.createElement('div');
                    container.className = 'evidence-link';
                    container.appendChild(icon);
                    container.appendChild(link);

                    $('#complianceCycleEvidences').append(container);

                });
            },
            dataType: "json",
        });
    }
    function replyMemo() {

        var replyTxt = ($('#viewMemo_reply').val()).length;
        if (replyTxt > 0) {
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/reply_observation",
                type: "POST",
                data: {
                    'AU_OBS_ID': g_obsId,
                    'OBS_TEXT_ID': g_obsTextId,
                    'REPLY': $('#viewMemo_reply').val(),
                    'EVIDENCE_LIST': g_allAttachedImages
                },
                cache: false,
                success: function (data) {
                    alert("Reply sent successfuly");
                    onAlertCallback(reloadLocation);

                },
                dataType: "json",
            });
        } else {
            alert("Provide your comments to proceed");
            return false;
        }

    }

    function clearEvidencesLog() {
        $('.aks-file-upload-delete').click();
        $('.aks-file-upload-error').remove();
        document.getElementById('aksfileupload').value = '';
    }

</script>
<div class="row col-md-12">
    <div class="row col-md-12 mt-3">
        <h3 style="color: #45c545;">Assigned Observations</h3>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label><b>Entity:</b></label>
        </div>
        <div class="col-md-10">
            <input id="entityNameField" disabled="disabled" class="form-control ml-1 d-none" type="text" />
            <select id="entitySelectField" onchange="getEntityObservation()" class="form-control form-select">
                <option value="0" id="0">--Select Audit Entity--</option>
                @{
                    if (ViewData["EntitiesList"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["EntitiesList"]))
                        {
                            <option value="@item.ENG_ID" id="@item.ENG_ID">@item.NAME</option>
                        }
                    }
                }

            </select>
        </div>
    </div>
    <div class="row col-md-12 mt-3">

        <table id="manageObsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto text-center">Memo #</th>
                    <th class="col-md-auto text-center">Audit Year</th>
                    <th class="col-md-auto text-center">Assigned to</th>
                    <th class="col-md-auto text-center">Memo Date</th>
                    <th class="col-md-auto text-center">Gist  </th>
                    <th class="col-md-auto text-center">Reply Till  </th>
                    <th class="col-md-auto text-center">Status</th>
                    <th class="col-md-auto text-center"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<div id="viewMemoModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Observation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="viewMemo_memoNumber">Memo Number</label>
                        <input id="viewMemo_memoNumber" class="form-control" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memoNumber">Gist</label>
                        <input id="viewMemo_memoGist" class="form-control" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo">Memo</label>
                        <div id="viewMemo_memo" disabled="disabled" style="height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div class="form-group d-none">
                        <label for="viewMemo_responded">Management Response</label>
                        <div id="viewMemo_responded" disabled="disabled" style="height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div id="replyrichTextWrapper" class="form-group">
                        <label for="viewMemo_reply">Reply</label>
                        <textarea id="viewMemo_reply" style="max-height:150px; height:auto;" class="form-control"></textarea>
                    </div>
                    <div id="evidenceUploader" class="form-group mt-3">
                        <label class="active">Evidences</label>
                        <aks-file-upload></aks-file-upload>
                        <div class="row col-md-12 mt-1">
                            <div class="row col-md-8">
                                <i class="text-danger">Maximum Upload File Size allowed 2.5MB</i>
                            </div>
                            <div class="row col-md-4">
                                <button class="btn btn-secondary offset-md-8 col-md-4" onclick="event.preventDefault();clearEvidencesLog();">Clear</button>
                            </div>
                        </div>
                    </div>
                    <div id="evidenceViewer" class="input-field d-none">
                        <label class="font-weight-bold">Previously attached Evidences</label>
                        <div class="row col-md-12 mt-3 mb-3">
                            <div id="complianceCycleEvidences">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="replyButton_memoReply" onclick="replyMemo();" type="button" data-dismiss="modal" class="btn btn-danger">Reply</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

