@{
    ViewData["Title"] = "Observation Assigned";
    Layout = "_Layout";
}
<h4 style=" display:block;color: #45c545;" class="mt-3">@ViewData["Title"]</h4>
<script type="text/javascript">
    $('#document').ready(function () {
        $('#sidebar_policy').hide();
    });
</script>
<div class="row col-md-12 mt-3">
    <!--
        <div class="mt-3">
            <h6>Job Assigned To: </h6>
            <h6>Team: </h6>
            <h6>P.P. No. </h6>
        </div>
    -->
    <div class="row col-md-12 mt-3">
            <center>
                <h5 style="display:block; color: #45c545;">Task List/Job Assignment</h5>
            </center>
    </div>
    <div class="row col-md-12 mt-3">
        <table class="table table-responsive table-sm table-bordered mb-0 mt-3 bg-white table-striped">
            <thead>
                <tr>
                    <th width="50">Sr. No</th>
                    <th width="500">Audit Entity</th>
                    <th width="500">Observation</th>
                    <th width="200">Execution Period</th>
                    <th width="200">Operational Period</th>
                    <th width="300">Status</th>
                    <th width="200">Reply</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './Reply_new';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Reply
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './Reply_new';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Reply
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './Reply_new';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Reply
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './Reply_new';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Reply
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './Reply_new';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Reply
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './Reply_new';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Reply
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './Reply_new';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Reply
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './Reply_new';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Reply
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>