@{
    ViewData["Title"] = "Old Paras Branch Compliance Review";
    Layout = "_Layout";
}
<script>
    var g_paraId = 0;
    var g_obsList = [];
    $(document).ready(function () {
        getbranchcompreview();

        $('#responseAuditee').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });
      //  $('#PublishParaText').on('click', function () {
       //     publishResponseChanges();
        //});
    });
    function getbranchcompreview() {
        
        $('#manageObsPanel tbody').empty();
        $.ajax({
            url: "/ApiCalls/get_branch_comp_review",
            type: "POST",
            data: {
                
            },
            cache: false,
            success: function (data) {
                g_obsList = data;
                $.each(data, function (index, child) {
                    $('#managereviewPanel tbody').append('<tr id="div_' + child.id + '"><td><p class="fw-normal mb-1">' + child.auditeename + '</p></td><td><p class="fw-normal mb-1">' + child.audiT_PERIOD + '</p></td><td><p class="fw-normal mb-1">' + child.parA_NO + '</p></td><td><p class="fw-normal mb-1">' + child.gistofpara + '</p></td><td><p class="fw-normal mb-1">' + child.amounT_INVOLVED + '</p></td><td><p class="fw-normal mb-1">' + child.reply + '</p></td><td class="text-center"><a href="#" onclick="getparatext(\'' + child.reF_P + '\');" class="text-hover text-danger mr-5px"><small>Add Reviewer Response</small></a></td></tr>')
  });
                
            },

            dataType: "json",
        });

    }

    function getparatext(refp) {
        g_paraId = refp;
        $('#reviewer_response').modal("show");
        $('#ReviewerRemarks').empty();

        $.ajax({
            url: "/ApiCalls/get_old_para_br_compliance_text",
            type: "POST",
            data: {
                'REF_P': refp,
                
            },
            cache: false,
            success: function (data) {
                $('#para').html(data.parA_TEXT);
                $('#processField').val(data.checklist);
                $('#subprocessField').val(data.subchecklist);
                $('#checklistDetailField').val(data.checklistdetail);
             //   $('#managereviewPanel tbody').append('<tr id="div_' + child.id + '"><td><p class="fw-normal mb-1">' + child.auditeename + '</p></td><td><p class="fw-normal mb-1">' + child.audiT_PERIOD + '</p></td><td><p class="fw-normal mb-1">' + child.parA_NO + '</p></td><td><p class="fw-normal mb-1">' + child.gistofpara + '</p></td><td><p class="fw-normal mb-1"></p></td><td><p class="fw-normal mb-1">' + child.amounT_INVOLVED + '</p></td><td class="text-center"><a href="#" onclick="getparatext(\'' + child.reF_P + '\');" class="text-hover text-danger mr-5px"><small>Add Reviewer Response</small></a></td></tr>')
             
            },

            dataType: "json",
        });

    }
    function addreviewerresponse(new_status) {

       

        if ($('#ReviewerRemarks').val() =="") {
            alert("Please enter Reply");
            return;
        }
        $.ajax({
            url: "/ApiCalls/AddOldParasComplianceReviewer",
            type: "POST",
            data: {
                'Para_ID': g_paraId,
                'REPLY': $('#ReviewerRemarks').val(),
                'r_status': new_status,
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
           
        });

        window.location.reload();
    }
  
   /* function publishResponseChanges() {
       
        if ($('.richText-editor').html() == "") {
            alert("Please enter Reply");
            return;
        }
        $.ajax({
            url: "/ApiCalls/add_legacy_para_reply",
            type: "POST",
            data: {
                'ID': g_paraId,
                'REPLY': $('.richText-editor').html()               
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });
    }*/
    function reloadLocation() {
     //   getbranchcompreview();
    }

</script>

<div class="row">
    <div class="col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">Old Audit Observations Compliace Review</h3>
    </div>
    <div class="row col-md-12 mt-3">
        <table id="managereviewPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>

                    <th class="col-md-auto">Entity Name</th>
                    <th class="col-md-auto">Audit Year</th>
                    <th class="col-md-auto">Para No.</th>
                    <th class="col-md-auto">Observation</th>
                    <th class="col-md-auto">Amount</th>
                    <th class="col-md-auto text-center">Branch Compliance</th>
                    <th class="col-md-auto text-center">Action</th>

                </tr>
            </thead>
            <tbody></tbody>
          
        </table>
    </div>

</div>


<div id="reviewer_response" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Sub Process Entry</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="mt-3 modal-body">
                <form>

                    <div class="row col-md-12">

                        <label class="font-weight-bold">Process</label>
                        <input class="form-control" id="processField" disabled="disabled" />


                    </div>
                    <div class="row mt-3 col-md-12">

                        <label class="font-weight-bold">Sub-Process</label>

                        <input class="form-control" id="subprocessField" disabled="disabled" />
                    </div>

                    <div class="row mt-3 col-md-12">

                        <label class="font-weight-bold">Checklist Details </label>
                        <textarea class="form-control" id="checklistDetailField" disabled="disabled" ></textarea>
                    </div>

                    <div class="row mt-3 col-md-12">
                        <label class="font-weight-bold">Observation</label>

                    </div>
                    <div class="row mt-3 col-md-12">
                        <div id="observation" class="col-md-12"></div>

                    </div>
                 
                    <div class="row mt-3 col-md-12" id="para" style="border:solid">
                     

                    </div>
                    <div class="row mt-3 col-md-12">
                        <label class="font-weight-bold">Add Remarks</label>

                    </div>
                    <div class="row mt-3 col-md-12">
                        <textarea class="form-control" id="ReviewerRemarks"></textarea>

                    </div>


                </form>
            </div>

            <div class="mt-3 modal-footer">
                <button id="PublishParaText" onclick="addreviewerresponse(12);" type="button" class="btn btn-danger" >Reffer Back</button>
                <button id="PublishParaText" onclick="addreviewerresponse(11);" type="button" class="btn btn-success" >Submit for Settlement</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onClick="window.location.reload()">Close</button>
            </div>
        </div>
    </div>
</div>



