@{
    ViewData["Title"] = "Old Paras Branch Compliance Recommendation";
    Layout = "_Layout";
}
<script>
    var g_paraId = 0;
    var g_paraRef = 0;
    var g_obsList = [];

    $(document).ready(function () {
        getLegacyPara();
        $('#viewMemo_compliance').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });      
    });

    function viewParaDetails(ref_p, memo_no, paraId) {
        g_paraRef = ref_p;
        $.ajax({
            url: "/ApiCalls/get_old_para_br_compliance_text",
            type: "POST",
            data: {
                'REF_P': g_paraRef
            },
            cache: false,
            success: function (data) {
                $('#viewMemoModel').modal('show');
                $('#viewMemo_memoNumber').val(memo_no);
                $('#viewMemo_process').val(data.checklist);
                $('#viewMemo_subprocess').val(data.subchecklist);
                $('#viewMemo_checklist_detail').val(data.checklistdetail);
                $('#viewMemo_memo').html(data.parA_TEXT);
            },

            dataType: "json",
        });
    }
    function viewReviewerResponse(ref_p, memo_no, paraId) {
        g_paraRef = ref_p;
        $.ajax({
            url: "/ApiCalls/get_old_para_br_compliance_text",
            type: "POST",
            data: {
                'REF_P': g_paraRef
            },
            cache: false,
            success: function (data) {
                $('#viewMemoModel').modal('show');
                $('#viewMemo_memoNumber').val(memo_no);
                $('#viewMemo_process').val(data.checklist);
                $('#viewMemo_subprocess').val(data.subchecklist);
                $('#viewMemo_checklist_detail').val(data.checklistdetail);
                $('#viewMemo_memo').html(data.parA_TEXT);
            },

            dataType: "json",
        });
    }
    function getLegacyPara() {

        $('#manageObsPanel tbody').empty();
        $.ajax({
            url: "/ApiCalls/get_old_para_br_compliance_recommendation",
            type: "POST",
            data: {

            },
            cache: false,
            success: function (data) {
                g_obsList = data;
                $('#entityNameField').html(data.length > 0 ? data[0].name : '');
                $.each(data, function (index, child) {
                    $('#manageObsPanel tbody').append('<tr id="div_' + child.id + '"><td><p class="fw-normal mb-1">' + child.auditeename + '</p></td><td><p class="fw-normal mb-1">' + child.auditperiod + '</p></td><td><p class="fw-normal mb-1">' + child.parano + '</p></td><td><p  class="fw-normal mb-1">' + child.gistofpara + '</p></td><td><p  class="fw-normal mb-1">' + child.amount + '</p></td><td><p  class="fw-normal mb-1">' + child.revieweR_REMARKS + '</p></td><td class="text-center"><a href="#" onclick="updateObservationStatus(' + child.id + ' ,\' ' + child.reF_P + ' \' , 14);" class="text-hover text-danger mr-5px"><small>Settle</small></a>/<a href="#" onclick="updateObservationStatus(' + child.id + ' ,\' ' + child.reF_P + ' \' ,13);" class="text-hover text-primary ml-5px"><small>Unsettle</small></a></td></tr>')
                });
            },

            dataType: "json",
        });

    }      

    function updateObservationStatus(id,refP, newStatus)
    {
        g_paraId = id;
        g_paraRef=refP;
        $("#viewMemoModel").modal('show');
        if (newStatus == 6) {
            $('#submitStatusViewModel').attr('onClick', 'setParaStatusSettled()');
        } else {
            $('#submitStatusViewModel').attr('onClick', 'setParaStatusUnsettled()');
        }

        
    }

    function setParaStatusSettled() {

        $.ajax({
            url: "/ApiCalls/submit_old_para_br_compliance_status",
            type: "POST",
            data: {
                'PARA_ID': g_paraId,
                'REFID': g_paraRef,
                'REMARKS': $('#viewMemo_complianc').val(),
                'NEW_STATUS':6
            },
            cache: false,
            success: function (data) {
                $("#viewMemoModel").modal('hide');
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });

    }

    function setParaStatusUnsettled() {
        $.ajax({
            url: "/ApiCalls/submit_old_para_br_compliance_status",
            type: "POST",
            data: {
                'PARA_ID': g_paraId,
                'REFID': g_paraRef,
                'REMARKS': $('#viewMemo_complianc').val(),
                'NEW_STATUS': 7
            },
            cache: false,
            success: function (data) {
                $("#viewMemoModel").modal('hide');
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });
    }

    function reloadLocation() {
        getLegacyPara();
    }
</script>

<div class="row">
    <div class="col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">Old Audit Observations</h3>
     
    </div>
    <div class="row col-md-12 mt-3">
        <table id="manageObsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto">Auditee Name</th>
                    <th class="col-md-auto">Audit Year</th>
                    <th class="col-md-auto">Para No.</th>
                    <th class="col-md-auto">Observation</th>
                    <th class="col-md-auto">Amount</th>
                    <th class="col-md-auto text-center">Zone/Reviewer Remarks</th>
                    <th class="col-md-auto text-center">Action</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>

</div>


<div id="viewMemoModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Remarks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label for="viewMemo_compliance">Add Comment</label>
                        <textarea class="form-control" id="viewMemo_complianc"></textarea>
                    </div>

                  
                </form>
            </div>
            <div class="modal-footer">
                <button id="submitStatusViewModel" type="button" class="btn btn-danger">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>




