@{
    ViewData["Title"] = "Old Paras Branch Compliance Submission";
    Layout = "_Layout";
}
<script>
    var g_paraId = 0;
    var g_obsList = [];

    $(document).ready(function () {
        getLegacyPara();       
    });

    function viewParaDetails(ref_p, memo_no, paraId) {
        g_paraId = paraId;
        $.ajax({
            url: "/ApiCalls/get_old_para_br_compliance_text",
            type: "POST",
            data: {
                'REF_P': ref_p
            },
            cache: false,
            success: function (data) {
                $('#viewMemoModel').modal('show');
                $('#viewMemo_memoNumber').val(memo_no);
                $('#viewMemo_process').val(data.checklist);
                $('#viewMemo_subprocess').val(data.subchecklist);
                $('#viewMemo_checklist_detail').val(data.checklistdetail);
                $('#viewMemo_memo').html(data.parA_TEXT);
            },

            dataType: "json",
        });
    }
    function getLegacyPara() {

        $('#manageObsPanel tbody').empty();
        $.ajax({
            url: "/ApiCalls/get_old_para_br_compliance_submission",
            type: "POST",
            data: {

            },
            cache: false,
            success: function (data) {
                g_obsList = data;
                $('#entityNameField').html(data.length > 0 ? data[0].name : '');
                $.each(data, function (index, child) {
                    $('#manageObsPanel tbody').append('<tr id="div_' + child.id + '"><td><p class="fw-normal mb-1">' + child.audiT_PERIOD + '</p></td><td><p class="fw-normal mb-1">' + child.parA_NO + '</p></td><td><p class="fw-normal mb-1">' + child.gisT_OF_PARAS + '</p></td><td><p  class="fw-normal mb-1">' + child.voL_I_II + '</p></td><td class="text-center"><a href="#" onclick="viewParaDetails(\'' + child.reF_P + '\', \'' + child.parA_NO + '\', \'' + child.id + '\' );" class="text-hover text-danger mr-5px"><small>Compliance</small></a></td></tr>')
                });
            },

            dataType: "json",
        });

    }

    function PublishCompliance() {

        if ($('.richText-editor').html() == "") {
            alert("Please enter Reply");
            return;
        }
        var productImagesArr = [];
        g_imgFiles = g_imgLoader.data('format.imagesloader').AttachmentArray;
        $.each(g_imgFiles, function (i, v) {
            var ProductObject = {
                'OBS_ID': g_obsId,
                'OBS_TEXT_ID': g_obsTextId,
                'IMAGE_NAME': v.FileName,
                'IMAGE_DATA': v.Base64,
                'IMAGE_TYPE': v.MimeType,
                'LENGTH': v.FileSizeInBytes,
                'COVER_IMAGE': i == 0 ? true : false,
                'SEQUENCE': i
            }
            productImagesArr.push(ProductObject);
        });


        $.ajax({
            url: "/ApiCalls/add_old_para_br_compliance_reply",
            type: "POST",
            data: {
                'Para_ID': g_paraId,
                'REPLY': $('.richText-editor').html(),
                'EVIDENCE_LIST': productImagesArr
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });
    }
    function reloadLocation() {
        getLegacyPara();
    }
</script>

<div class="row">
    <div class="col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">Old Audit Observations</h3>
        <h5>Branch Name: <span id="entityNameField"></span></h5>
    </div>
    <div class="row col-md-12 mt-3">
        <table id="manageObsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto">Audit Year</th>
                    <th class="col-md-auto">Para No.</th>
                    <th class="col-md-auto">Observation Gist</th>
                    <th class="col-md-auto">VOL I II</th>
                    <th class="col-md-auto">Action</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>

</div>


<div id="viewMemoModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Observation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="viewMemo_memoNumber">Memo Number</label>
                        <input id="viewMemo_memoNumber" class="form-control" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo">Process</label>
                        <input id="viewMemo_process" class="form-control" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo">Sub Process</label>
                        <input id="viewMemo_subprocess" class="form-control" disabled="disabled" />

                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo">Checklist Detail</label>
                        <input id="viewMemo_checklist_detail" class="form-control" disabled="disabled" />

                    </div>

                    <div class="form-group">
                        <label for="viewMemo_memo">Memo</label>
                        <div id="viewMemo_memo" disabled="disabled" style="height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                 

                </form>
            </div>
            <div class="modal-footer">
                <button onclick="PublishCompliance()" type="button" class="btn btn-danger">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





