@{
    ViewData["Title"] = "Reply";
    Layout = "_Layout";
}

<script type="text/javascript">
    var g_pId = '';
    var entity = '';
    var para = '';
    var period = '';
    $('#document').ready(function () {
        var url_string = window.location;
        var url = new URL(url_string);
        g_pId = url.searchParams.get("id");
        entity = url.searchParams.get("entity");
        period = url.searchParams.get("period");
        para = url.searchParams.get("para");
        $('#template_box').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });

        $('#entityname_field').val(entity);
        $('#auditperiod_field').val(period);
        $('#parano_field').val(para);
    });
    function reloadLocation() {
        window.location.href = g_asiBaseURL + "/AuditeePortal/old_outstanding_paras";
    }

    function submitAuditeeResponseofOldPara() {
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/old_para_response",
            type: "POST",
            data: {
                'AU_OBS_ID': g_pId,
                'REPLY': $('#template_box').val()
            },
            cache: false,
            success: function (data) {
                if (data) {
                    $('#submitKillSessionButton').addClass('d-none');
                    $('#submitLoginButton').removeClass('d-none');
                    alert('Response submitted Successfuly');
                    onAlertCallback(reloadLocation);
                }
            },
            dataType: "json",
        });
    }
</script>


<div class="row mt-3">
    <h4 style=" display:block;color: #45c545;">Management Comments/Compliance of Audit Observation</h4>
</div>
<div class="row col-md-12 mt-3">
    <div class="row col-md-6 mt-3">
        <label><b>Entity:</b></label>
        <input id="entityname_field" disabled="disabled" class="form-control mr-1" type="text" />
    </div>
    <div class="row col-md-6 mt-3">
        <label><b>Audit Period:</b></label>
        <input id="auditperiod_field" disabled="disabled" class="form-control ml-1" type="text" />
    </div>
    <div class="row col-md-6 mt-3">
        <label><b>Observation No:</b></label>
        <input id="parano_field" disabled="disabled" class="form-control ml-1" type="text" />
    </div>
    <div class="row col-md-12 mt-3">
        <label><b>Reply:</b></label>
        <textarea id="template_box" class="content" name="example"></textarea>
    </div>
</div>

<div class="row col-md-12 mt-4">
    <div class="row col-md-2">
        <label><b>Attachments</b></label>
    </div>
    <div class="row col-md-6">
        <input class="form-control" type="file" multiple="multiple" style="padding-top:3px;" />
    </div>
</div>
<div class="row">
    <div class="col-md-6 mt-5">
        <button onclick="submitAuditeeResponseofOldPara();" class="btn btn-primary" style="float:right;">Submit</button>
    </div>
    
</div>

