@{
    ViewData["Title"] = "Audit Criteria";
    Layout = "_Layout";
}


<div class="row col-md-12">
    <h3 style="color: #45c545;">Inspection Criteria</h3>
</div>
<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <h5>1st Quarter</h5>
    </div>
    <div class="col-md-3">
        <select id="auditCriteriaPeriodField" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0" selected>--Select Percentage--</option>
            <option value="1">5%</option>
            <option value="1">10%</option>
            <option value="1">15%</option>
            <option value="1">20%</option>
            <option value="1">25%</option>
            <option value="1">30%</option>
            <option value="1">35%</option>
            <option value="1">40%</option>
            <option value="1">45%</option>
            <option value="1">50%</option>
            <option value="1">55%</option>
            <option value="1">60%</option>
            <option value="1">65%</option>
            <option value="1">70%</option>
            <option value="1">75%</option>
            <option value="1">80%</option>
            <option value="1">85%</option>
            <option value="1">90%</option>
            <option value="1">95%</option>
            <option value="1">100%</option>

        </select>
    </div>
</div>

<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <h5>2nd Quarter</h5>
    </div>
    <div class="col-md-3">
        <select id="auditCriteriaPeriodField" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0" selected>--Select Percentage--</option>
            <option value="1">5%</option>
            <option value="1">10%</option>
            <option value="1">15%</option>
            <option value="1">20%</option>
            <option value="1">25%</option>
            <option value="1">30%</option>
            <option value="1">35%</option>
            <option value="1">40%</option>
            <option value="1">45%</option>
            <option value="1">50%</option>
            <option value="1">55%</option>
            <option value="1">60%</option>
            <option value="1">65%</option>
            <option value="1">70%</option>
            <option value="1">75%</option>
            <option value="1">80%</option>
            <option value="1">85%</option>
            <option value="1">90%</option>
            <option value="1">95%</option>
            <option value="1">100%</option>

        </select>
    </div>
</div>

<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <h5>3rd Quarter</h5>
    </div>
    <div class="col-md-3">
        <select id="auditCriteriaPeriodField" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0" selected>--Select Percentage--</option>
            <option value="1">5%</option>
            <option value="1">10%</option>
            <option value="1">15%</option>
            <option value="1">20%</option>
            <option value="1">25%</option>
            <option value="1">30%</option>
            <option value="1">35%</option>
            <option value="1">40%</option>
            <option value="1">45%</option>
            <option value="1">50%</option>
            <option value="1">55%</option>
            <option value="1">60%</option>
            <option value="1">65%</option>
            <option value="1">70%</option>
            <option value="1">75%</option>
            <option value="1">80%</option>
            <option value="1">85%</option>
            <option value="1">90%</option>
            <option value="1">95%</option>
            <option value="1">100%</option>

        </select>
    </div>
</div>

<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <h5>4rth Quarter</h5>
    </div>
    <div class="col-md-3">
        <select id="auditCriteriaPeriodField" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0" selected>--Select Percentage--</option>
            <option value="1">5%</option>
            <option value="1">10%</option>
            <option value="1">15%</option>
            <option value="1">20%</option>
            <option value="1">25%</option>
            <option value="1">30%</option>
            <option value="1">35%</option>
            <option value="1">40%</option>
            <option value="1">45%</option>
            <option value="1">50%</option>
            <option value="1">55%</option>
            <option value="1">60%</option>
            <option value="1">65%</option>
            <option value="1">70%</option>
            <option value="1">75%</option>
            <option value="1">80%</option>
            <option value="1">85%</option>
            <option value="1">90%</option>
            <option value="1">95%</option>
            <option value="1">100%</option>

        </select>
    </div>
</div>


<table id="listOfProcTransactions" class="table table-hover table-bordered table-hover mt-3 table-striped">
    <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
        <tr>
           
            <th class="col-md-Auto">Entity</th>
            <th class="col-md-Auto">Risk</th>
            <th class="col-md-Auto">Size</th>
            <th class="col-md-Auto">No of Days</th>
            <th class="col-md-Auto">Frequency</th>
            <th class="col-md-Auto">Visit</th>
            <th class="col-md-Auto">Comments</th>
            <th class="col-md-Auto">Inspection Ent</th>
            <th class="col-md-Auto">Remarks</th>
            <th class="col-md-Auto">Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    </table>


        <div class="col-md-12 mt-3">
            <button onclick="approveAuditCriterias();" style="float:right; margin-left:15px;" class="btn btn-success col-md-2">Save</button>
            <button onclick="referredBackAuditCriterias();" style="float:right;" class="btn btn-danger col-md-2">Submit</button>

        </div>
