@{
    ViewData["Title"] = "Voucher Checking";
    Layout = "_Layout";
}



<script>
    var g_paraId = 0;
    var g_engID = 0;
    $(document).ready(function () {

        var url_string = window.location;
        var url = new URL(url_string);
        g_engID = url.searchParams.get("engId");


        getVoucherChecking();
    });

    function openVoucherCheckingFile() {
        $('#newVoucherCheckingDialog').modal('show');
    }
    function getVoucherChecking() {

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/Get_Working_Paper_Voucher_Checking",
            type: "POST",
            data: {
                'ENGID': g_engID
            },
            cache: false,
            success: function (data) {
                console.log(data);
                $.each(data, function (i, v) {

                    $('#manageObsPanel').append('<tr><td>' + ++i + '</td><td>' + v.v_NUMBER + '</td><td>' + v.observation + '</td><td>' + v.parA_NO + '</td><td><a href="#" onclick="event.preventDefault();updateVoucherChecking(' + v.V_ID + ');"></a></td></tr>');

                })

            },

            dataType: "json",
        });
    }

    function updateVoucherChecking(vId) {

    }

    function AddNewVoucherChecking() {

        if ($('#accountnumber_txtField').val() == "") {
            alert("Provide Voucher Number to proceed");
            return;
        }


        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/Add_Working_Paper_Voucher_Checking",
            type: "POST",
            data: {
                'ENGID':g_engID,
                'VNUMBER': $('#accountnumber_txtField').val(),
                'OBS': $('#ob_txtField').val(),
                'PARA_NO': $('#pno_txtField').val()
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                onAlertCallback(reloadLocation);

            },

            dataType: "json",
        });
    }

    function reloadLocation() {
        window.location.reload();
    }

    function redirectToNexPage() {
        window.location.href = g_asiBaseURL + '/WorkingPaper/account_opening?engId=' + g_engID;
    }

    function redirectToPreviousPage() {
        window.location.href = g_asiBaseURL + '/WorkingPaper/loan_case_file?engId=' + g_engID;
    }

</script>

<div class="row">
    <div class="col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">Working Paper for Voucher Checking</h3>
    </div>

    <div class="row col-md-12 mt-3">
        <table id="manageObsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto">Sr. No</th>
                    <th class="col-md-auto">Voucher /Account No</th>
                    <th class="col-md-auto">Discrepency/Observation</th>
                    <th class="col-md-auto">Memo/Para No reference</th>
                    <th class="col-md- auto text-center font-weight-bold"><center><button type="button" onclick="openVoucherCheckingFile();" class="rounded-circle btn btn-danger btn-sm"><i class="fa fa-plus text-white"></i></button></center></th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="col-md-2 offset-md-8">
            <button onclick="redirectToPreviousPage()" class="btn btn-danger w-100">Loan Case File</button>
        </div>
        <div class="col-md-2">
            <button onclick="redirectToNexPage();" class="btn btn-success w-100">Account Opening Form</button>
        </div>

    </div>

</div>



<div id="newVoucherCheckingDialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-xl modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">New Voucher Checking Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="commentAreaInCommentsBox">Voucher / Account Number</label>
                        <input type="text" class="form-control" id="accountnumber_txtField" />
                    </div>

                    <div class="form-group">
                        <label for="commentAreaInCommentsBox">Observation (if any)</label>
                        <textarea class="form-control" id="ob_txtField"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="commentAreaInCommentsBox">Para No (if any)</label>
                        <input type="text" class="form-control" id="pno_txtField" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="AddNewVoucherChecking();" type="button" class="btn btn-danger">Add New</button>
            </div>
        </div>
    </div>
</div>




