@{
    ViewData["Title"] = "Post Compliance Submitted By Zonal Management / Departmental Head";
    Layout = "_Layout";
}
<script>
    var g_paraId = 0;
    var g_paraRef = 0;
    var g_auOBSID = 0;
    var g_paraCat = "";
    var g_repliedDate = "";
    var g_obsList = [];
    var g_upResArr = [];
    var g_upRes = {};
    var g_upResIndex = 0;
    var g_sequence = "";
    var g_auditedBy = "";

    $(document).ready(function () {
        getLegacyPara();
        
    });

    
   
    function getLegacyPara() {

        $('#manageObsPanel tbody').empty();
        $.ajax({
            url: "/ApiCalls/get_old_para_br_compliance_recommendation_ref",
            type: "POST",
            data: {

            },
            cache: false,
            success: function (data) {
                g_obsList = data;
                $('#entityNameField').html(data.length > 0 ? data[0].name : '');
                $.each(data, function (index, child) {
                    $('#manageObsPanel tbody').append('<tr id="div_' + child.id + '"><td><p class="fw-normal mb-1">' + child.auditeename + '</p></td><td><p class="fw-normal mb-1">' + child.reportingoffice + '</p></td><td><p class="fw-normal mb-1">' + child.auditperiod + '</p></td><td><p class="fw-normal mb-1">' + child.parano + '</p></td><td><p  class="fw-normal mb-1">' + child.gistofpara + '</p></td><td><p  class="fw-normal mb-1">' + child.risk + '</p></td><td><p  class="fw-normal mb-1">' + child.heaD_REF_REMARKS + '</p></td><td class="text-center"><a href="#" onclick="viewParaCompliance(\'' + child.reF_P + '\',\'' + child.aU_OBS_ID + '\' );" class="text-hover text-danger mr-5px"><small>View</small></a></td><td aling="center"><p  class="fw-normal mb-1 text-center"><a href="#" onclick="viewObservationStatus(' + child.id + ' ,\'' + child.reF_P + '\',\'' + child.parA_CATEGORY + '\',\'' + child.replieddate.split(' ')[0] + '\',\'' + child.aU_OBS_ID + '\' , \'' + child.sequence + '\' , \'' + child.auditeD_BY + '\');" class="text-hover text-primary text-center">View</a></p></td></tr>');
                });
            },

            dataType: "json",
        });

    }

    function viewParaCompliance(paraREF, obsID) {
        $('#viewParaComplianceModel').modal('show');
        $('#manageComplianceHistPanel tbody').empty();

        $.ajax({
            url: "/ApiCalls/get_compliance_history_count",
            type: "POST",
            data: {
                'REF_P': paraREF,
                'OBS_ID': obsID
            },
            cache: false,
            success: function (data) {
                g_compCount = data.Message;
                if (g_compCount > 0) {

                    $.ajax({
                        url: "/ApiCalls/get_compliance_history",
                        type: "POST",
                        data: {
                            'REF_P': paraREF,
                            'OBS_ID': obsID
                        },
                        cache: false,
                        success: function (data) {
                            $.each(data, function (i, v) {
                                i = i + 1;
                                $('#manageComplianceHistPanel tbody').append('<tr><td>' + i + '</td><td><div>' + v.reply + '</div></td><td>' + v.replieD_DATE + '</td><td><div>' + v.revieweR_REMARKS + '</div></td><td>' + v.revieweD_ON + '</td><td><div>' + v.imP_REMARKS + '</div></td><td>' + v.imP_REMARKS_ON + '</td><td><div>' + v.remarks + '</div></td><td>' + v.remarkS_ON + '</td><td>' + v.statuS_NAME + '</td></tr>');
                            });

                        },

                        dataType: "json",
                    });


                }
            },

            dataType: "json",
        });


    }

    function viewObservationStatus(id,refP, paraCat, replyDate,obsId, seq, audBy)
    {
        g_paraId = id;
        g_paraRef = refP;
        g_paraCat = paraCat;
        g_auOBSID = obsId;
        g_sequence = seq;
        g_auditedBy = audBy;
        g_repliedDate = replyDate;
        $("#viewMemoModel").modal('show');
        $.ajax({
            url: "/ApiCalls/get_old_para_imp_text_ref",
            type: "POST",
            data: {
                'PID':g_paraId,
                'REF_P': g_paraRef,
                'PARA_CATEGORY': g_paraCat,
                'OBS_ID': g_auOBSID,
                'REPLY_DATE': g_repliedDate

            },
            cache: false,
            success: function (data) {
                $('#para').html(data.parA_TEXT);
                $('#processField').val(data.checklist);
                $('#subprocessField').val(data.subchecklist);
                $('#checklistDetailField').val(data.checklistdetail);
                $('#viewMemo_brcompliance').html(data.brancH_REPLY);
                $('#zmoRemarksField').val(data.zonE_REPLY);
                $('#impPrevRemarksField').val(data.imP_REPLY);
                $('#azRemarksField').val(data.heaD_REPLY);
                $('#listofRespPersons tbody').empty();
                $('#listofRespPersonsForUpdateDelete tbody').empty();
                g_upResArr = data.responsiblE_PPs;
                

                if (data.responsiblE_PPs.length > 0) {
                    $.each(data.responsiblE_PPs, function (j, pp) {
                        g_upResArr[j].resP_ACTIVE='Y';
                        var srNo = $('#listofRespPersons tbody tr').length;
                        srNo++;
                        $('#listofRespPersons tbody').append('<tr id="tr_' + pp.pP_NO + '"><td>' + srNo + '</td><td>' + pp.pP_NO + '</td><td>' + pp.emP_NAME + '</td><td>' + pp.loaN_CASE + '</td><td>' + pp.lC_AMOUNT + '</td><td>' + pp.accounT_NUMBER + '</td><td>' + pp.acC_AMOUNT + '</td></tr>');
                        $('#listofRespPersonsForUpdateDelete tbody').append('<tr id="tr_' + pp.pP_NO + (j + 1) + '"><td>' + srNo + '</td><td>' + pp.pP_NO + '</td><td>' + pp.emP_NAME + '</td><td>' + pp.loaN_CASE + '</td><td>' + pp.lC_AMOUNT + '</td><td>' + pp.accounT_NUMBER + '</td><td>' + pp.acC_AMOUNT + '</td><td>Y</td><td><a href="#" onclick="updateResponsible(' + pp.pP_NO + ',' + pp.loaN_CASE + ',' + srNo + ');">Update</a></td></tr>');
                    });
                }
                $('#viewMemo_evidences').empty();
                if (data.evidences.length > 0) {
                    $.each(data.evidences, function (j, pp) {

                        $('#viewMemo_evidences').append('<div class="col-md-12 row mt-3"><img style="max-width:1105px !important;" src="data:image/png;base64,' + pp.imagE_DATA + '" /></div>');
                    });
                }

            },
            dataType: "json",
        });
        
        
    }

    function updateResponsible(PPNO, LLC, srNo) {
        g_upResIndex=srNo;
        $.each(g_upResArr,function(i,v){
            if (v.pP_NO == PPNO && v.loaN_CASE == LLC) {
                g_upRes=v;
            }
        })

        $('#ResponsiblePPModel').modal('show');
        $('#updatePPNo').html(g_upRes.pP_NO + " " + g_upRes.emP_NAME);
        $('#updateLoanCaseNo').val(g_upRes.loaN_CASE);
        $('#updateLoanCaseAmount').val(g_upRes.lC_AMOUNT);
        $('#updateAccountNo').val(g_upRes.accounT_NUMBER);
        $('#updateAccountAmount').val(g_upRes.acC_AMOUNT);
        $('#updateDeleteResp').val(g_upRes.resP_ACTIVE);


    }

    function updateResponsibilityToMainTable()
    {
        
       targetRow= $('#listofRespPersonsForUpdateDelete tbody').find('tr').eq(g_upResIndex - 1);
        $(targetRow).find('td').eq(3).html($('#updateLoanCaseNo').val());
        $(targetRow).find('td').eq(4).html($('#updateLoanCaseAmount').val());
        $(targetRow).find('td').eq(5).html($('#updateAccountNo').val());
        $(targetRow).find('td').eq(6).html($('#updateAccountAmount').val());
        $(targetRow).find('td').eq(7).html($('#updateDeleteResp').val());
        $('#ResponsiblePPModel').modal('hide');

    }

    function setParaStatusSettled() {
        $.ajax({
            url: "/ApiCalls/submit_old_para_br_compliance_status",
            type: "POST",
            data: {
                'PARA_ID': g_paraId,
                'REFID': g_paraRef,
                'SETTLE_INDICATOR': 'Y',
                'PARA_CAT': g_paraCat,
                'AU_OBS_ID': g_auOBSID,
                'SEQUENCE': g_sequence,
                'AUDITED_BY': g_auditedBy,
                'REMARKS': $('#viewMemo_complianc').val(),
                'NEW_STATUS':14
            },
            cache: false,
            success: function (data) {
                $("#viewMemoModel").modal('hide');
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });

    }
    function setParaStatusUnsettled() {
        $.ajax({
            url: "/ApiCalls/submit_old_para_br_compliance_status",
            type: "POST",
            data: {
                'PARA_ID': g_paraId,
                'REFID': g_paraRef,
                'SETTLE_INDICATOR': 'N',
                'AU_OBS_ID': g_auOBSID,
                'PARA_CAT': g_paraCat,
                'SEQUENCE': g_sequence,
                'AUDITED_BY': g_auditedBy,
                'REMARKS': $('#viewMemo_complianc').val(),
                'NEW_STATUS': 15
            },
            cache: false,
            success: function (data) {
                $("#viewMemoModel").modal('hide');
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });
    }
    function setParaStatusPartiallySettle() {

        var resP = [];
        $.each($('#listofRespPersonsForUpdateDelete tbody tr'), function (i, v) {
            resP.push({
                'PP_NO': $(v).find('td').eq(1).html(),
                'EMP_NAME': $(v).find('td').eq(2).html(),
                'LOAN_CASE': $(v).find('td').eq(3).html(),
                'LC_AMOUNT': $(v).find('td').eq(4).html(),
                'ACCOUNT_NUMBER': $(v).find('td').eq(5).html(),
                'ACC_AMOUNT': $(v).find('td').eq(6).html(),
                'RESP_ACTIVE': $(v).find('td').eq(7).html()
            });
        });

        $.ajax({
            url: "/ApiCalls/submit_old_para_br_compliance_status_partially_settle",
            type: "POST",
            data: {
                'PARA_ID': g_paraId,
                'REFID': g_paraRef,
                'SETTLE_INDICATOR':'P',
                'PARA_CAT': g_paraCat,
                'REMARKS': $('#viewMemo_complianc').val(),
                'NEW_STATUS': 13,
                'SEQUENCE': g_sequence,
                'AUDITED_BY': g_auditedBy,
                'RESPONSIBLES_ARR': resP
            },
            cache: false,
            success: function (data) {
                $("#viewMemoModel").modal('hide');
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });
    }
    function reloadLocation() {
        getLegacyPara();
    }
</script>

<div class="row">
    <div class="col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">Post Compliance Submitted By Zonal Management / Departmental Head</h3>
     
    </div>
    <div class="row col-md-12 mt-3">
        <table id="manageObsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto">Auditee Name</th>
                    <th class="col-md-auto">Reporting Office</th>
                    <th class="col-md-auto">Audit Year</th>
                    <th class="col-md-auto">Para No.</th>
                    <th class="col-md-auto">Title / Gist</th>
                    <th class="col-md-auto">Risk</th>
                    <th class="col-md-auto">Comments / Recommendations</th>
                    <th class="col-md-auto text-center">Compliance History</th>
                    <th class="col-md-auto text-center">Compliance</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>

</div>


<div id="viewMemoModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Remarks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           
            <div class="mt-3 modal-body">
                <form>

                    <div class="row col-md-12">

                        <label class="font-weight-bold">Process</label>
                        <input class="form-control" id="processField" disabled="disabled" />


                    </div>
                    <div class="row mt-3 col-md-12">

                        <label class="font-weight-bold">Sub-Process</label>

                        <input class="form-control" id="subprocessField" disabled="disabled" />
                    </div>

                    <div class="row mt-3 col-md-12">

                        <label class="font-weight-bold">Checklist Details </label>
                        <textarea class="form-control" id="checklistDetailField" disabled="disabled"></textarea>
                    </div>

                    <div class="row mt-3 col-md-12">
                        <label class="font-weight-bold">Para</label>

                    </div>
                    <div class="row mt-3 col-md-12">
                        <div id="para" class="col-md-12"></div>

                    </div>

                    <div class="form-group mt-3">
                        <label for="viewMemo_respPP" class="font-weight-bold">Responsible Personals</label>
                        <div class="col-md-12 pl-0 pr-0">
                            <table id="listofRespPersons" class="table table-hover table-bordered table-hover mt-3 table-striped">
                                <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                                    <tr>
                                        <th class="col-md- auto font-weight-bold">Sr.No</th>
                                        <th class="col-md- auto font-weight-bold">P.P. No</th>
                                        <th class="col-md- auto font-weight-bold">Name</th>
                                        <th class="col-md- auto font-weight-bold">Loan Case</th>
                                        <th class="col-md- auto font-weight-bold">LC Amount</th>
                                        <th class="col-md- auto font-weight-bold">Account No.</th>
                                        <th class="col-md- auto font-weight-bold">ACC Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr style="border: 3px solid black;" />
                    <h5 class="bg-primary header-section"><b>Auditee Compliance</b></h5>
                    <div class="form-group mt-3">
                        <div class="row mt-3 col-md-12">
                            <div id="viewMemo_brcompliance" style="background-color: #e9ecef;" class="col-md-12"></div>

                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="viewMemo_evidences">Evidences</label>
                        <div class="col-md-12 row" id="viewMemo_evidences"></div>
                    </div>
                    <hr style="border: 3px solid black;" />
                    <h5 class="bg-success header-section"><b>Reviewer Remarks</b></h5>
                    <div class="row mt-3 col-md-12">
                        <textarea disabled="disabled" class="form-control" id="zmoRemarksField"></textarea>
                    </div>
                    <hr style="border: 3px solid black;" />
                    <h5 class="bg-danger header-section"><b>Incharge Imp Previous Remarks</b></h5>
                    <div class="row mt-3 col-md-12">
                        <textarea disabled="disabled" class="form-control" id="impPrevRemarksField"></textarea>
                    </div>
                    <hr style="border: 3px solid black;" />
                    <h5 class="bg-warning header-section"><b>Head Audit Zone Remarks</b></h5>
                    <div class="row mt-3 col-md-12">
                        <textarea disabled="disabled" class="form-control" id="azRemarksField"></textarea>
                    </div>
                    <hr style="border: 3px solid black;" />
                    <h5 class="bg-info header-section">
                        <b>In-charge Implementation Section</b></h5>
                    <div class="form-group mt-3">
                        <label for="viewMemo_respPP" class="font-weight-bold">Update / Delete Responsibles</label>
                        <div class="col-md-12 pl-0 pr-0">
                            <table id="listofRespPersonsForUpdateDelete" class="table table-hover table-bordered table-hover mt-3 table-striped">
                                <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                                    <tr>
                                        <th class="col-md- auto font-weight-bold">Sr.No</th>
                                        <th class="col-md- auto font-weight-bold">P.P. No</th>
                                        <th class="col-md- auto font-weight-bold">Name</th>
                                        <th class="col-md- auto font-weight-bold">Loan Case</th>
                                        <th class="col-md- auto font-weight-bold">LC Amount</th>
                                        <th class="col-md- auto font-weight-bold">Account No.</th>
                                        <th class="col-md- auto font-weight-bold">ACC Amount</th>
                                        <th class="col-md- auto font-weight-bold">Active / In-Active</th>
                                        <th class="col-md- auto font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_compliance">In-charge Implementation Remarks</label>
                        <textarea class="form-control" id="viewMemo_complianc"></textarea>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button onclick="setParaStatusPartiallySettle();" type="button" class="btn btn-primary">Partial Settle</button>
                <button onclick="setParaStatusSettled();" type="button" class="btn btn-success">Settle</button>
                <button onclick="setParaStatusUnsettled();" type="button" class="btn btn-danger">Unsettle</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<div id="ResponsiblePPModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Responsible Person</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="col-md-12">
                            <h5 id="updatePPNo"></h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">                            
                            <label>Loan Case Number</label>
                            <input id="updateLoanCaseNo" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Loan Case Amount</label>
                            <input id="updateLoanCaseAmount" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">                            
                            <label>Account Number</label>
                            <input id="updateAccountNo" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Account Amount</label>
                            <input id="updateAccountAmount" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Delete / In-active Responsibility</label>
                            <select id="updateDeleteResp" class="form-control">
                                <option value="Y">Active</option>
                                <option value="N">In-Active</option>
                            </select>
                        </div>
                    </div>
                  

                </form>
            </div>
            <div class="modal-footer">
                <button onclick="updateResponsibilityToMainTable();" type="button" class="btn btn-danger">Update Responsibility</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="viewParaComplianceModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document" style="min-width:95% !important;">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Compliance History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="row col-md-12 mt-3">
                        <table id="manageComplianceHistPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
                            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                                <tr>
                                    <th class="col-md-auto">Sr No.</th>
                                    <th class="col-md-auto">Auditee Compliance</th>
                                    <th class="col-md-auto">Auditee Compliance On</th>
                                    <th class="col-md-auto">Reviewer Remarks</th>
                                    <th class="col-md-auto">Reviewer Remarks On</th>
                                    <th class="col-md-auto">Inchare Imp Remarks</th>
                                    <th class="col-md-auto">Incharge Imp Remarks On</th>
                                    <th class="col-md-auto">Head AZ Remarks</th>
                                    <th class="col-md-auto">Head AZ Remarks On</th>
                                    <th class="col-md-auto text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody></tbody>

                        </table>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>










