@{
    ViewData["Title"] = "Post Compliance";
    Layout = "_Layout";
}
<script>
    var g_newParaId = 0;
    var g_oldParaId = 0;
    var g_prevRole = "";
    var g_nextRole = "";
    var g_obsList = [];

    $(document).ready(function () {
        getLegacyPara();
        $('#viewMemo_compliance').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });
        g_imgLoader = $('[data-type=imagesloader]').imagesloader({
            maxFiles: 10,
            minSelect: 1,
            imagesToLoad: []
        });
    });

    function getLegacyPara() {

        $('#manageObsPanel tbody').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_paras_for_compliance_by_auditee",
            type: "POST",
            data: {

            },
            cache: false,
            success: function (data) {
                g_obsList = data;
                var hidePrevCol = "";
                var hideNextCol = "";

                $('#entityNameField').html(data.length > 0 ? data[0].name : '');
                $.each(data, function (index, child) {

                    if (child.preV_ROLE == "N") {
                        child.preV_ROLE = "";
                        hidePrevCol = "d-none";
                    }

                    if (child.nexT_ROLE == "N") {
                        child.nexT_ROLE = "";
                        hideNextCol = "d-none";
                    }
                    if (child.receiveD_FROM == "N") {
                        child.receiveD_FROM = "";
                    }

                    $('#manageObsPanel tbody').append('<tr id="div_' + child.id + '"><td><p class="fw-normal mb-1">' + child.audiT_PERIOD + '</p></td><td><p class="fw-normal mb-1">' + child.parA_NO + '</p></td><td><p class="fw-normal mb-1">' + child.gisT_OF_PARAS + '</p></td><td><p class="fw-normal mb-1">' + child.receiveD_FROM + '</p></td><td class="text-center"><a href="#" onclick="viewParaCompliance(\'' + child.coM_ID + '\',\'' + child.indicator + '\' );" class="text-hover text-danger mr-5px"><small>View</small></a></td><td class="text-center"><a href="#" onclick="viewParaDetails(' + child.neW_PARA_ID + ',' + child.olD_PARA_ID + ',\'' + child.indicator + '\', \'' + child.parA_NO + '\', \'' + child.preV_ROLE + '\', \'' + child.nexT_ROLE + '\' );" class="text-hover text-danger mr-5px"><small>Compliance</small></a></td></tr>');

                });

            },

            dataType: "json",
        });

    }

    function viewParaDetails(newParaId = 0, oldParaId = 0, indicator = '', memo_no = '', prevRole, nextRole) {

        g_newParaId = newParaId;
        g_oldParaId = oldParaId;
        g_prevRole = prevRole;
        g_nextRole = nextRole;
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_para_compliance_text",
            type: "POST",
            data: {
                'NEW_PARA_ID': newParaId,
                'OLD_PARA_ID': oldParaId,
                'INDICATOR': indicator
            },
            cache: false,
            success: function (data) {

                if (prevRole == "") {
                    $('#viewMemoModel').modal('show');
                    $('#viewMemo_memoNumber').val(memo_no);
                    $('#viewMemo_paraGist').val(data.gisT_OF_PARA);
                    $('#viewMemo_memo').html(data.parA_TEXT);
                    $('#viewMemo_compliance').val('').trigger('change');
                    if (prevRole == "")
                        $('#prevRoleButtonHandler').remove();
                    else
                        $('#prevRoleButtonHandler').html(prevRole);

                    if (nextRole == "")
                        $('#nextRoleButtonHandler').remove();
                    else
                        $('#nextRoleButtonHandler').html(nextRole);

                    $('#listofRespPersons tbody').empty();
                    if (data.responsiblE_PPs.length > 0) {
                        $.each(data.responsiblE_PPs, function (j, pp) {
                            var srNo = $('#listofRespPersons tbody tr').length;
                            srNo++;
                            $('#listofRespPersons tbody').append('<tr id="tr_' + pp.pP_NO + '"><td>' + srNo + '</td><td>' + pp.pP_NO + '</td><td>' + pp.emP_NAME + '</td><td>' + pp.loaN_CASE + '</td><td>' + pp.lC_AMOUNT + '</td><td>' + pp.accounT_NUMBER + '</td><td>' + pp.acC_AMOUNT + '</td></tr>');
                        });
                    }

                } else {
                    $('#viewMemoReportingModel').modal('show');
                    $('#viewMemo_memoNumber_rep').val(memo_no);
                    $('#viewMemo_paraGist_rep').val(data.gisT_OF_PARA);
                    $('#viewMemo_memo_rep').html(data.parA_TEXT);
                    $('#viewMemo_compliance_rep').val('');
                    if (prevRole == "")
                        $('#prevRoleButtonHandler_rep').remove();
                    else
                        $('#prevRoleButtonHandler_rep').html(prevRole);

                    if (nextRole == "")
                        $('#nextRoleButtonHandler_rep').remove();
                    else
                        $('#nextRoleButtonHandler_rep').html(nextRole);

                    $('#listofRespPersons_rep tbody').empty();
                    if (data.responsiblE_PPs.length > 0) {
                        $.each(data.responsiblE_PPs, function (j, pp) {
                            var srNo = $('#listofRespPersons_rep tbody tr').length;
                            srNo++;
                            $('#listofRespPersons_rep tbody').append('<tr id="tr_' + pp.pP_NO + '"><td>' + srNo + '</td><td>' + pp.pP_NO + '</td><td>' + pp.emP_NAME + '</td><td>' + pp.loaN_CASE + '</td><td>' + pp.lC_AMOUNT + '</td><td>' + pp.accounT_NUMBER + '</td><td>' + pp.acC_AMOUNT + '</td></tr>');
                        });
                    }

                }


            },

            dataType: "json",
        });
    }

    function PublishCompliance(ind) {

        var complianceRemarks = "";
        var commentsRemarks = "";
        var productImagesArr = [];

        if (g_prevRole == "") {
            if ($('.richText-editor').html() == "") {
                alert("Please provide Compliance to proceed");
                return;
            }

            g_imgFiles = g_imgLoader.data('format.imagesloader').AttachmentArray;
            $.each(g_imgFiles, function (i, v) {
                var ProductObject = {                    
                    'TEXT_ID': 0,
                    'IMAGE_NAME': v.FileName,
                    'IMAGE_DATA': v.Base64,
                    'IMAGE_TYPE': v.MimeType,
                    'LENGTH': v.FileSizeInBytes,
                    'COVER_IMAGE': i == 0 ? true : false,
                    'SEQUENCE': i
                }
                productImagesArr.push(ProductObject);
            });

            complianceRemarks = $('.richText-editor').html();

        }
        else {
            if ($('#viewMemo_compliance_rep').val() == "") {
                alert("Please provide Remarks to proceed");
                return;
            }
            commentsRemarks = $('#viewMemo_compliance_rep').val();
        }


        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/submit_post_audit_compliance",
            type: "POST",
            data: {
                'OLD_PARA_ID': g_oldParaId,
                'NEW_PARA_ID': g_newParaId,
                'INDICATOR': ind,
                'COMPLIANCE': complianceRemarks,
                'COMMENTS': commentsRemarks,
                'EVIDENCE_LIST': productImagesArr
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });
    }
    function reloadLocation() {

        $('#viewMemoModel').modal('hide');
        $('#viewMemoReportingModel').modal('hide');
        getLegacyPara();
    }
    function viewParaCompliance(comID, ind) {

        $('#viewParaComplianceModel').modal('show');
        $('#manageComplianceHistPanel tbody').empty();

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_compliance_history",
            type: "POST",
            data: {
                'COM_ID': comID,
            },
            cache: false,
            success: function (data) {

                var cycle_count = data.length > 0 ? parseInt(data[0].coM_CYCLE) - 1 : 0;
                $.each(data, function (i, v) {
                    if (v.coM_CYCLE > cycle_count) {
                        $('#manageComplianceHistPanel tbody').append('<tr><td><div>' + v.coM_CYCLE + '</div></td><td>' + v.pP_NO + '</td><td>' + v.name + '</td><td>' + v.designation + '</td><td>' + v.commenT_BY_ROLE + '</td><td>' + v.comments + '</td><td><a onclick="getComplianceText(' + v.coM_ID + ',' + v.coM_CYCLE + ');" href="#" class="text-danger">View Compliance</a></td></tr>');
                        cycle_count++;
                    }
                    else
                        $('#manageComplianceHistPanel tbody').append('<tr><td></td><td><div>' + v.pP_NO + '</div></td><td><div>' + v.name + '</div></td><td>' + v.designation + '</td><td>' + v.commenT_BY_ROLE + '</td><td>' + v.comments + '</td><td></td></tr>');

                });
             
            },

            dataType: "json",
        });
    }
    function getComplianceText(comID,cycle) {
        $('#viewParaComplianceTextModel').modal('show');
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_old_para_compliance_cycle_text",
            type: "POST",
            data: {
                'COM_ID': comID,
                'C_CYCLE': cycle
            },
            cache: false,
            success: function (data) {
                $('#complianceCycleTextPanel').html(data.parA_TEXT);
                $('#complianceCycleEvidences').empty();
                if (data.evidences.length > 0) {
                                        
                    $.each(data.evidences, function (j, pp) {
                        $('#complianceCycleEvidences').append('<a href="data:image/png; base64, ' + pp.imagE_DATA + '" data-lightbox="gallery"><img class="square-image" src="data:image/png; base64, ' + pp.imagE_DATA + '" alt="Image 1"></a> ');
                    });
                }else{
                    $('#complianceCycleEvidences').append("<i>No evidence is attached </i>");
                }

                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                });
            },

            dataType: "json",
        });



    }
</script>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

<style type="text/css">
    .square-image {
        width: 270px; /* Set the desired width */
        height: 270px; /* Set the desired height */
        padding: 2px;
        border: 1px solid;
        object-fit: cover; /* Ensure the image covers the container */
    }

    .gallery{
         display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 10px; /* Adjust the gap between images */

    }
</style>
</head>

<div class="row">


    <div class="col-md-12 mt-3">

        <table id="manageObsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto">Audit Year</th>
                    <th class="col-md-auto">Para No.</th>
                    <th class="col-md-auto">Title / Gist</th>
                    <th class="col-md-auto">Receive From</th>
                    <th class="col-md-auto">Compliance History</th>
                    <th class="col-md-auto">Action</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>

    </div>


</div>

<div id="viewMemoModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Observation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="viewMemo_memoNumber">Memo Number</label>
                        <input id="viewMemo_memoNumber" class="form-control" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memoNumber">Gist of Para</label>
                        <input id="viewMemo_paraGist" class="form-control" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo">Para</label>
                        <div id="viewMemo_memo" disabled="disabled" style="height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="viewMemo_respPP" class="font-weight-bold">Responsible Personals</label>
                        <div class="col-md-12 pl-0 pr-0">
                            <table id="listofRespPersons" class="table table-hover table-bordered table-hover mt-3 table-striped">
                                <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                                    <tr>
                                        <th class="col-md- auto font-weight-bold">Sr.No</th>
                                        <th class="col-md- auto font-weight-bold">P.P. No</th>
                                        <th class="col-md- auto font-weight-bold">Name</th>
                                        <th class="col-md- auto font-weight-bold">Loan Case</th>
                                        <th class="col-md- auto font-weight-bold">LC Amount</th>
                                        <th class="col-md- auto font-weight-bold">Account No.</th>
                                        <th class="col-md- auto font-weight-bold">ACC Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <label for="viewMemo_compliance">Compliance</label>
                        <textarea class="form-control" id="viewMemo_compliance"></textarea>
                    </div>

                    <div id="evidenceUploader" class="input-field">
                        <label class="active">Evidences</label>
                        <!--Image container -->
                        <div class="row"
                             data-type="imagesloader"
                             data-errorformat="Accepted file formats"
                             data-errorsize="Maximum size accepted"
                             data-errorduplicate="File already loaded"
                             data-errormaxfiles="Maximum number of images you can upload"
                             data-errorminfiles="Minimum number of images to upload"
                             data-modifyimagetext="Modify image">

                            <!-- Progress bar -->
                            <div class="col-12 order-1 mt-2">
                                <div data-type="progress" class="progress" style="height: 25px; display:none;">
                                    <div data-type="progressBar" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%;">Load in progress...</div>
                                </div>
                            </div>

                            <!-- Model -->
                            <div data-type="image-model" class="col-4 pl-2 pr-2 pt-2" style="max-width:200px; display:none;">

                                <div class="ratio-box text-center" data-type="image-ratio-box">
                                    <img data-type="noimage" class="btn btn-light ratio-img img-fluid p-2 image border dashed rounded" src="/images/photo-camera-gray.svg" style="cursor:pointer;">
                                    <div data-type="loading" class="img-loading" style="color:#218838; display:none;">
                                        <span class="fa fa-2x fa-spin fa-spinner"></span>
                                    </div>
                                    <img data-type="preview" class="btn btn-light ratio-img img-fluid p-2 image border dashed rounded" src="" style="display: none; cursor: default;">
                                    <span class="badge badge-pill badge-success p-2 w-50 main-tag bg-success " style="display:none; border-radius:20px">Main</span>
                                </div>

                                <!-- Buttons -->
                                <div data-type="image-buttons" class="row justify-content-center mt-2">
                                    <button data-type="add" class="btn btn-outline-success" type="button" style="width:105px"><span class="fa fa-camera mr-2" style="padding-right:5px"></span>Add</button>
                                    <button data-type="btn-modify" type="button" class="btn btn-outline-success m-0 " data-toggle="popover" data-placement="right" style="display:none; width:105px;">
                                        <span class="fa fa-pencil-alt mr-2" style="padding-right:5px"></span>Modify
                                    </button>
                                </div>
                            </div>



                            <!-- Popover operations -->
                            <div data-type="popover-model" style="display:none">
                                <div data-type="popover" class="ml-3 mr-3" style="min-width:150px;">
                                    <div class="row">
                                        <div class="col p-0">
                                            <button data-operation="main" class="btn btn-block btn-success btn-sm rounded-pill" type="button" style="width:170px"><span class="fa fa-angle-double-up mr-2" style="padding-right:15px"></span>Main</button>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-6 p-0 pr-1">
                                            <button data-operation="left" class="btn btn-block btn-outline-success btn-sm rounded-pill" type="button" style="width:80px"><span class="fa fa-angle-left mr-2" style="padding-right:5px"></span>Left</button>
                                        </div>
                                        <div class="col-6 p-0 pl-1">
                                            <button data-operation="right" class="btn btn-block btn-outline-success btn-sm rounded-pill" type="button" style="width:80px">Right<span class="fa fa-angle-right ml-2" style="padding-left:5px"></span></button>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-6 p-0 pr-1">
                                            <button data-operation="rotateanticlockwise" class="btn btn-block btn-outline-success btn-sm rounded-pill" type="button" style="width:80px"><span class="fas fa-undo-alt mr-2" style="padding-right:5px"></span>Rotate</button>
                                        </div>
                                        <div class="col-6 p-0 pl-1">
                                            <button data-operation="rotateclockwise" class="btn btn-block btn-outline-success btn-sm rounded-pill" type="button" style="width:80px">Rotate<span class="fas fa-redo-alt ml-2" style="padding-left:5px"></span></button>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <button data-operation="remove" class="btn btn-outline-danger btn-sm btn-block" type="button"><span class="fa fa-times mr-2" style="padding-right:10px"></span>Remove</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="input-group">
                                <!--Hidden file input for images-->
                                <input id="files" type="file" name="files[]" data-button="" multiple="" accept="image/jpeg, image/png, image/gif," style="display:none;">
                            </div>
                        </div>
                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button id="prevRoleButtonHandler" onclick="PublishCompliance('D')" type="button" class="btn btn-danger"></button>
                <button id="nextRoleButtonHandler" onclick="PublishCompliance('U')" type="button" class="btn btn-success"></button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div id="viewMemoReportingModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Observation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="viewMemo_memoNumber">Memo Number</label>
                        <input id="viewMemo_memoNumber_rep" class="form-control" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memoNumber">Gist of Para</label>
                        <input id="viewMemo_paraGist_rep" class="form-control" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo">Para</label>
                        <div id="viewMemo_memo_rep" disabled="disabled" style="height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="viewMemo_respPP_rep" class="font-weight-bold">Responsible Personals</label>
                        <div class="col-md-12 pl-0 pr-0">
                            <table id="listofRespPersons" class="table table-hover table-bordered table-hover mt-3 table-striped">
                                <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                                    <tr>
                                        <th class="col-md- auto font-weight-bold">Sr.No</th>
                                        <th class="col-md- auto font-weight-bold">P.P. No</th>
                                        <th class="col-md- auto font-weight-bold">Name</th>
                                        <th class="col-md- auto font-weight-bold">Loan Case</th>
                                        <th class="col-md- auto font-weight-bold">LC Amount</th>
                                        <th class="col-md- auto font-weight-bold">Account No.</th>
                                        <th class="col-md- auto font-weight-bold">ACC Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <label for="viewMemo_compliance">Compliance</label>
                        <textarea class="form-control" id="viewMemo_compliance_rep"></textarea>
                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button id="prevRoleButtonHandler_rep" onclick="PublishCompliance('D')" type="button" class="btn btn-danger"></button>
                <button id="nextRoleButtonHandler_rep" onclick="PublishCompliance('U')" type="button" class="btn btn-success"></button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="viewParaComplianceModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document" style="min-width:95% !important;">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Compliance History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="row col-md-12 mt-3">
                        <table id="manageComplianceHistPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
                            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                                <tr>
                                    <th class="col-md-auto">Compliance Cycle</th>
                                    <th class="col-md-auto">PP Number</th>
                                    <th class="col-md-auto">Designation</th>
                                    <th class="col-md-auto">Name</th>
                                    <th class="col-md-auto">Remarks Role</th>
                                    <th class="col-md-auto">Remarks</th>
                                    <th class="col-md-auto">View Compliance</th>
                                </tr>
                            </thead>
                            <tbody></tbody>

                        </table>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="viewParaComplianceTextModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document" style="min-width:85% !important;">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Auditee Compliance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <h5>Compliance Text</h5>

                    <div class="row col-md-12 mt-3">
                        <div id="complianceCycleTextPanel" class="col-md-12"></div>
                    </div>
                    <h5 class="mt-4">Evidences</h5>
                    <div id="complianceCycleEvidences" class="gallery" style="display:inline-flex">                        
                     
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

