@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<style type="text/css">
    .container{
        max-width:100%;
    }
    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }
    .icon-card{
        margin:10px;
    }
</style>



<div class="row col-md-10 align-content-center">
    <div class="col-md-6 mt-3 p-10 align-content-center ">
        <img class="w-100 align-content-md-center" src="~/Images/home.png">
        </div>
    
</div>
