@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<style type="text/css">
    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }
    .icon-card{
        margin:10px;
    }
</style>

<div class="row text-center" style="margin-top:10px;">
    <center class="w-100">
        <div class="row col-md-8">
            <img style="height: 526px," width="826px", src="~/Images/home.png" />
            
    </div>
    
</div>
