@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<style type="text/css">
    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }
    .icon-card{
        margin:10px;
    }
</style>

<div class="row col-md-12 text-center" style="margin-top:10px;">
    <div class="col-md-6" style="height:550px;">
            <img src="~/Images/home.png" style="position:absolute; right:70px;">
        </div>
    <div class="col-md-6 mt-3">
        <h4>Notification panel</h4>
        <table class="table table-bordered mb-0 mt-3 bg-white table-striped">
            <thead>

                <tr>
                    <th class="col-md-1">From</th>
                    <th class="col-md-2">Type</th>
                    <th class="col-md-2">Subject</th>
                    <th class="col-md-4">Sent Date</th>
                    <th class="col-md-4">Due Date</th>

                    <!-- <th class="col-md-2 font-weight-bold"></th>-->
                </tr>
            </thead>
            <tbody>

                <tb></tb>
                <tb></tb>
                <tb></tb>
                <tb></tb>


            </tbody>

        </table>
    </div>
    
</div>
