@{
    ViewData["Title"] = "Account Document List";
    Layout = "_Layout";
}
<!-- Add reference to custom CSS -->
<link rel="stylesheet" href="~/css/account_document.css" />

<script type="text/javascript">
    var g_engId = 0;
    var g_accountNo = 0;

    $(document).ready(function () {
        var url_string = window.location.href;
        var url = new URL(url_string);
        g_engId = url.searchParams.get("engId");
        g_accountNo = url.searchParams.get("acNo");
        loadAccountDocuments();
    });

    function loadAccountDocuments() {
        destroyDatatable('account_document_list');
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_biomet_account_documents_sampling_details",
            type: "POST",
            data: {
                'AC_NO': g_accountNo
            },
            success: function (data) {
                if (data.length > 0) {
                    populateTable(data);
                }
            },
            dataType:"json"
        });
    }
    function populateTable(data) {
        $('#wait').show();
        var tableBody = $("#account_document_list tbody");
        tableBody.empty();
        $.each(data, function (index, item) {
            var row = `<tr>
                <td>${index + 1}</td>
                <td>${item.oldAccountNo}</td>
                <td>${item.pageNo}</td>
                <td>${item.name}</td>
                <td>${item.docRemarks}</td>
                <td>
                    <a href="javascript:void(0);" onclick="viewDocument('${item.docImage}')" class="btn btn-info btn-sm">View Document</a>
                </td>
            </tr>`;
            tableBody.append(row);
        });
        initializeDataTable('account_document_list');
        $('#wait').hide();
    }
    function viewDocument(docImage) {
        let win = window.open("", "_blank");
        if (!win) {
            console.error("Popup blocked");
            alert("Please allow popups to view the document.");
            return;
        }


        if (docImage.startsWith("/9j/")) {
            let imageSrc = "data:image/jpeg;base64," + docImage;
            win.document.write(`
                <html>
                <head><title>Document Viewer</title></head>
                <body style="margin:0; text-align:center; background:#f8f8f8;">
                    <img src="${imageSrc}" style="max-width:90vw; max-height:90vh; object-fit:contain;" />
                <\/body>
                </html>
            `);
        }

        else if (docImage.startsWith("JVBERi0xL")) {
            let pdfSrc = "data:application/pdf;base64," + docImage;


            win.location.href = pdfSrc;
        }

        else {
            console.error("Unsupported document type");
            alert("The document type is not supported.");
            win.close();
        }
    }
</script>

<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow-sm border-0">
                <div class="card-header bg-success text-white d-flex align-items-center">
                    <i class="bi bi-folder2-open me-2"></i>
                    <h4 class="mb-0">Account Document List</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="account_document_list" class="table table-hover table-bordered table-striped align-middle">
                            <thead class="table-success">
                                <tr>
                                    <th>Sr No</th>
                                    <th>Old Account No</th>
                                    <th>Page No</th>
                                    <th>Name</th>
                                    <th>Document Remarks</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>