@{
    ViewData["Title"] = "Exception Reports Related to Accounts";
    Layout = "_Layout";
}

<script type="text/javascript">
    var g_engId = 0;
    var g_reportID = 0;
    var g_rID = 0;
    $(document).ready(function() {
        var url_string = window.location;
        var url = new URL(url_string);
        g_engId = url.searchParams.get("engId");
        g_reportID  = url.searchParams.get("report_id");
        g_rID = url.searchParams.get("r_IND");
        loadexceptionReport();
    });

    function loadexceptionReport(){
        destroyDatatable('account_exception_report');
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_exception_account_report            
            type: "POST",
            Cache: false,
            data:{ENG_ID: g_engId , R_IND : g_indID, RPT_ID : g_reportID},
            sucess: function (data) {
                if(data.lenght > 0) {
                    populateTable(data);
                }
            },
            dataType: "json",
        });
    function populateTable(data) {
        $('wait').show();
        var TableBody = $("account_exception_report tbody");
        tablebody.empty();

        $.each(data, function(index, item){
            var row = `<tr>
        <td>${index + 1}</td> 
        <td>${item.accounT_NO}</td>
        <td>${item.accounT_TITLE}</td>
        <td>${item.customeR_NAME}</td>
        <td>${formatDate(item.dob)}</td>
        <td>${item.phonE_CELL}</td>
        <td>${item.cnic}</td>
        <td>${formatDate(item.cniC_EXPIRY_DATE)}</td>
        <td>${item.accounT_TYPE}</td>
        <td>${item.accounT_CATEGORY}</td>
         <td>
            <a href="./account_document?engId=${g_engId}&acNo=${item.accounT_NO}" class="btn btn-primary btn-sm">Documents</a>
        </td>
        <td>
            <a href="./account_transaction?engId=${g_engId}&acNo=${item.accounT_NO}" class="btn btn-success btn-sm">Transactions</a>
        </td>
    </tr>`;
            tableBody.append(row);
          });
        initializeDataTable('account_exception_report');
        $('#wait').hide();
    }
     function formatDate(dateString) {
        if (!dateString || dateString.trim() === "") return "";
        let date = new Date(dateString);
        return date.toLocaleDateString();
    }    

</script>

<div class="row col-md-12 mt-3">
    <h3 style="color: #45c545;">Accounts Report</h3>

</div>
<div class="row col-md-12 mt-3">
    <table id="biomet_sample_list" class="table table-hover table-bordered table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important;">
            <tr>
                <th>Sr No</th>
                <th>Account No</th>
                <th>Account Title</th>
                <th>Customer Name</th>
                <th>DOB</th>
                <th>Cell</th>
                <th>CNIC</th>
                <th>CNIC Expiry</th>
                <th>Account Type</th>
                <th>Account Category</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>