@{
    ViewData["Title"] = "Samples for Biometrics";
    Layout = "_Layout";
}

<script type="text/javascript">
    var g_engId = 0;
    $(document).ready(function () {
        var url_string = window.location;
        var url = new URL(url_string);
<<<<<<< HEAD
       g_engId = url.searchParams.get("engId");
        g_sampleID  = url.searchParams.get("sample_id"); 
=======
        g_engId = url.searchParams.get("engId");
>>>>>>> parent of 068d39aa (Biomet and MASTER CDMS Transaction)
        loadBIOMETSamples();
    });


    function loadBIOMETSamples() {
       destroyDatatable('biomet_sample_list');
        $.ajax({
             url: g_asiBaseURL + "/ApiCalls/get_biomet_sampling_details",
            type: "POST",
               cache: false,
            data: { ENG_ID: g_engId },
            success: function (data) {
                if (data.length > 0) {
                    populateTable(data);
                }
            },
            dataType: "json",
        });
    }
        
    function populateTable(data) {
        $('#wait').show();
        var tableBody = $("#biomet_sample_list tbody");
        tableBody.empty(); // Clear existing rows

        $.each(data, function (index, item) {
               var row = `<tr>
        <td>${index + 1}</td>
        <td>${item.accounT_NO}</td>
        <td>${item.accounT_TITLE}</td>
        <td>${item.customeR_NAME}</td>
        <td>${formatDate(item.dob)}</td>
        <td>${item.phonE_CELL}</td>
        <td>${item.cnic}</td>
        <td>${formatDate(item.cniC_EXPIRY_DATE)}</td>
        <td>${item.accounT_TYPE}</td>
        <td>${item.accounT_CATEGORY}</td>
        <td>
            <a href="./account_document?engId=${g_engId}&acNo=${item.accounT_NO}" class="btn btn-primary btn-sm">Documents</a>
        </td>
        <td>
            <a href="./account_transaction?engId=${g_engId}&acNo=${item.accounT_NO}" class="btn btn-success btn-sm">Transactions</a>
        </td>
    </tr>`;
            tableBody.append(row);
        });

        initializeDataTable('biomet_sample_list');
        $('#wait').hide();
    }
        
    function formatDate(dateString) {
        if (!dateString || dateString.trim() === "") return "";
        let date = new Date(dateString);
        return date.toLocaleDateString();
    }

</script>

<div class="row col-md-12 mt-3">

    <h3 style="color: #45c545;">Biomet Samples</h3>
</div>

<div class="row col-md-12 mt-3">
    <table id="biomet_sample_list" class="table table-hover table-bordered table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important;">
            <tr>
                <th>Sr No</th>
                <th>Account No</th>
                <th>Account Title</th>
                <th>Customer Name</th>
                <th>DOB</th>
                <th>Cell</th>
                <th>CNIC</th>
                <th>CNIC Expiry</th>
                <th>Account Type</th>
                <th>Account Category</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>