@{
    ViewData["Title"] = "List of Samples";
    Layout = "_Layout";
}

<script type="text/javascript">
    
    var g_engID = 0;
    $(document).ready(function () {
        var url_string = window.location;
        var url = new URL(url_string);
        g_engID = url.searchParams.get("engId");
        listSamples();
     
    });
    function listSamples(){


        $.ajax({
             url: g_asiBaseURL + "/ApiCalls/get_list_of_samples",
            type: "POST",
               cache: false,

            data: { 
            'ENG_ID':g_engID
            },
            success: function (data) {
                if (data.length > 0) {
                    populateTable(data);
                }
            },
            dataType: "json",
        });
    }
        function populateTable(data) {
            $('#wait').show();
             destroyDatatable('listOfSamples');
        let tableBody = $("#listOfSamples tbody");
                 

         data.forEach((item, index) => {
        let row = `<tr>
            <td>${index + 1}</td>
            <td>${item.samplE_TYPE}</td>
            <td class="text-center">${item.samplE_PERCENTAGE}%</td>
            <td class="text-center">${item.totaL_COUNT}</td>
            <td class="text-center">${item.samplE_COUNT}</td>
            <td class="text-center">
                <button class="btn btn-danger btn-sm" onclick="viewSample(${item.samplE_ID}, ${item.loaN_STATUS}, '${item.samplE_INDICATOR}')">
                    View
                </button>
            </td>
        </tr>`;

        tableBody.append(row);
    });      

        // Reinitialize DataTable after populating data
        initializeDataTable("listOfSamples");
        $('#wait').hide();
    }

    function viewSample(sampleId, loanStatus, indicator) {
        if(indicator=="A"){
            redirectToBiomet(sampleId,loanStatus);
        }else if(indicator=="L"){
            redirectToLoan(sampleId,loanStatus);
        }
    }


    function redirectToBiomet(sampleId,loanStatus){
        
        window.location.href = g_asiBaseURL + "/Sampling/biomet?engId="+g_engID+"&sample_id="+sampleId+"&loan_status="+loanStatus;
    }
      function redirectToLoan(sampleId,loanStatus){

        window.location.href = g_asiBaseURL + "/Sampling/loans?engId="+g_engID+"&sample_id="+sampleId+"&loan_status="+loanStatus
    }

</script>

<div class="row col-md-12 mt-3">

    <h3 style="color: #45c545;">List of Samples</h3>

    <div class="row col-md-12 mt-3">

        <table id="listOfSamples" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto">Sr. No.</th>
                    <th class="col-md-auto">Sample List</th>
                    <th class="col-md-auto">Percentage</th>
                    <th class="col-md-auto">Total Count</th>
                    <th class="col-md-auto">Sample Count</th>
                    <th class="col-md-auto text-center">View</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
 
        
    </div>

  
</div>
