@{
    ViewData["Title"] = "List of Samples";
    Layout = "_Layout";
}

<script type="text/javascript">
    
    var g_engID = 0;
    $(document).ready(function () {
        var url_string = window.location;
        var url = new URL(url_string);
        g_engID = url.searchParams.get("engId");
     
    });


    function redirectToBiomet(){
        
        window.location.href = g_asiBaseURL + "/Sampling/biomet?engId="+g_engID;
    }
      function redirectToLoan(){

        window.location.href = g_asiBaseURL + "/Sampling/loans?engId="+g_engID;
    }

</script>

<div class="row col-md-12 mt-3">

    <h3 style="color: #45c545;">List of Samples</h3>

    <div class="row col-md-12 mt-3">

        <table id="manageObsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto">Sr. No.</th>
                    <th class="col-md-auto">Sample List</th>
                    <th class="col-md-auto">Percentage</th>
                    <th class="col-md-auto">Total Count</th>
                    <th class="col-md-auto">Sample Count</th>
                    <th class="col-md-auto text-center">View</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
 
        
    </div>

  
</div>
