
@{
    ViewData["Title"] = "Auditee_Observations_Report_cau";
    Layout = "_Layout";
}




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>


<script type="text/javascript">
    var g_teamMembers = [];
    var g_engId = 0;
    var g_entName = '';
    var g_startDate = '';
    var g_endDate = '';
    var g_ostartDate = '';
    var g_oendDate = '';
    var g_conoffice = '';
    $(document).ready(function () {
        var url_string = window.location;
        var url = new URL(url_string);
        g_engId = url.searchParams.get("engid");
        g_entName = url.searchParams.get("entName");
        g_startDate = url.searchParams.get("startDate");
        g_endDate = url.searchParams.get("endDate");
        g_ostartDate = url.searchParams.get("ostart");
        g_oendDate = url.searchParams.get("oend");
        g_conoffice = url.searchParams.get("conOffice");

        getParas();

        $('.conOffice').html(g_conoffice);
        $('.entNameField').html(g_entName);
        $('#startField').html(g_startDate);
        $('#endField').html(g_endDate);
        $('#ostartField').html(g_ostartDate);
        $('#oendField').html(g_oendDate);
    });

    function CreatePDFfromHTML() {
        $('#wait').show()
        var HTML_Width = $(".WordSection1").width();
        var HTML_Height = $(".WordSection1").height();
        var top_left_margin = 15;
        var PDF_Width = HTML_Width + (top_left_margin * 2);
        var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;

        var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

        html2canvas($(".WordSection1")[0]).then(function (canvas) {
            var imgData = canvas.toDataURL("image/jpeg", 1.0);
            var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
            pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
            for (var i = 1; i <= totalPDFPages; i++) {
                pdf.addPage(PDF_Width, PDF_Height);
                pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
            }
            pdf.save("branchReport.pdf");
            $('#wait').hide()
            //  $(".WordSection1").hide();
        });
    }


    function getParas() {

        //  var eng_id = $('#entitySelectField').val();

        $('.conOffice').empty();

        $.ajax({
            url: "/ApiCalls/get_report_paras",
            type: "POST",
            data: {
                'ENG_ID': g_engId
            },
            cache: false,
            success: function (data) {

                $('.conOffice').html(data.length > 0 ? data[0].name : '');
                $.each(data, function (i, v) {
                    if (v.assignedto == "CAU")
                        $('#obs_report_panel').append('<tr ><td style="text-align:center; font-size:9.0pt">' + v.memO_NUMBER + '</td><td style="text-align:center;font-size:9.0pt">' + v.name + '</td><td style="padding:06px !important;text-align:justify"><div style="width:1100px; max-width:1100px; overflow-y:auto">' + v.text + '</div></td><td style="text-align:center;font-size:09.0pt; width:70px; max-width:70px">' + v.reply + '</td ><td style="text-align:center;font-size:09.0pt">' + v.recommendation + '</td><td style="text-align:center;font-size:09.0pt">' + v.headremarks + '</td></tr>')
                    else
                        $('#obs_report_panel2').append('<tr ><td style="text-align:center; font-size:9.0pt">' + v.memO_NUMBER + '</td><td style="text-align:center;font-size:9.0pt">' + v.name + '</td><td style="padding:06px !important;text-align:justify"><div style="width:1100px; max-width:1100px; overflow-y:auto">' + v.text + '</div></td><td style="text-align:center;font-size:09.0pt; width:70px; max-width:70px">' + v.reply + '</td ><td style="text-align:center;font-size:09.0pt">' + v.recommendation + '</td><td style="text-align:center;font-size:09.0pt">' + v.headremarks + '</td></tr>')

 //$('#obs_report_panel2').append('<tr ><td style="text-align:center">' + v.memO_NUMBER + '</td><td style="text-align:center">' + v.name + '</td><td style="padding:50px !important;text-align:justify"><div style="width:1000px; max-width:1000px; overflow-y:auto">' + v.text + '</div></td><td style="text-align:center">' + v.reply + '</td ><td style="text-align:center">' + v.recommendation + '</td><td style="text-align:center">' + v.headremarks + '</td></tr>')


                });


            },
            dataType: "json",
        });

    }

    function closeDraftAudit() {

        $.ajax({

            url: "/ApiCalls/close_draft_audit",
            type: "POST",
            data: {
                'ENG_ID': g_engId
            },
            cache: false,
            success: function () {
                alert("Audit Closed Successfully");
                onAlertCallback(reloadLocationToUrl);
            },
            dataType: "json",
        });
    }
</script>
<div class="row col-md-12 mt-3">
    <h4 style="display: block; color: #45c545;">Auditee Observation Report</h4>
</div>

<div class="row">
    <div class="col-md-4 offset-md-8">
        <button class="btn btn-danger" style="float:right; margin-bottom:10px;" onclick="CreatePDFfromHTML();">Download Report</button>
    </div>
</div>



<div class="WordSection1">

    <div style="border:solid windowtext 3.0pt;padding:0cm 4.0pt 1.0pt 4.0pt">

        <p class="" align="center" style="text-align:center;line-height:150%;border:none;">
            <b>
                <span style="font-size:37.0pt;line-height:150%;">FINAL AUDIT REPORT<o:p></o:p></span>
            </b>
        </p>

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;">
            <b>
                <span style="font-size:30.0pt;line-height:150%;">OF <span class="conOffice"></span></span>
            </b>
            <b>
                <span style="font-size:37.0pt;line-height:150%;"><o:p></o:p></span>
            </b>
        </p>

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;">
            <b>
                <span style="font-size:24.0pt;line-height:150%;">IN RESPECT OF <span style="text-transform:uppercase" class="entNameField"></span><o:p></o:p></span>
            </b>
        </p>

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;padding:0cm;">
            <b>
                <span style="font-size:24.0pt;line-height:150%;">AND<o:p></o:p></span>
            </b>
        </p>

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;border:none;">
            <b>
                <span style="font-size:1.0pt;line-height:150%;"><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;border:none;padding:0cm;">
            <b>
                <span style="font-size:25.0pt;line-height:150%;">ZARAI TARAQIATI BANK LIMITED<o:p></o:p></span>
            </b>
        </p>

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;border:none;padding:0cm;">
            <b>
                <span style="font-size: 24.0pt; line-height: 150%;  text-transform:uppercase" class="entNameField"></span>
            </b><b>
                <span style="font-size:25.0pt;line-height:150%;">&nbsp CAU<o:p></o:p></span>
            </b>
        </p>

    
        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;border:none;padding:0cm">
            <b>
                <span style="font-size:25.0pt;line-height:150%;">FOR THE PERIOD ENDED ON <span id="oendField"></span>.<o:p></o:p></span>
            </b>
        </p>

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;border:none;padding:0cm">
            <b>
                <span style="font-size:14.0pt;line-height:150%">DATE OF AUDIT.FROM <span id="startField"></span>TO<span id="endField"></span> <span>&nbsp;&nbsp; </span>DATE OF DISCUSSION 24.05.2022</span>
            </b>
            <b>
                <span style="font-size:25.0pt;line-height:150%"><o:p></o:p></span>
            </b>
        </p>





        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;border:none;padding:0cm">
            <b>
                <span style="font-size:19.0pt;line-height:150%;"><o:p>&nbsp;</o:p></span>
            </b>
        </p>

    </div>

    <b>
        <u>
            <span style="font-size:12.0pt">
                <br clear="all" style="page-break-before:always">
            </span>
        </u>
    </b>



    <b>
        <span style="font-size:12.0pt">
            <br clear="all" style="page-break-before:always">
        </span>
    </b>

    <p class="MsoNormal"><b><o:p>&nbsp;</o:p></b></p>

    <div style="border:solid windowtext 3.0pt;padding:0cm 4.0pt 1.0pt 4.0pt">

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;border:none;padding:0cm">
            <b><span style="font-size:30.0pt;line-height:150%;">PART-01</span></b><b>
                <span style="font-size:25.0pt;line-height:150%"><o:p></o:p></span>
            </b>
        </p>

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;padding:0cm">
            <b>
                <span style="font-size:30.0pt;line-height:150%;">
                    AUDIT
                    PARAS PERTAINING TO CREDIT ADMINISTRATION UNIT<o:p></o:p>
                </span>
            </b>
        </p>

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;padding:0cm;">
            <b>
                <span style="font-size:30.0pt;line-height:150%">
                    PARA
                    NO. 01<o:p></o:p>
                </span>
            </b>
        </p>

        </div>



        <table class="MsoNormalTable mt-3 mr-5" border="1" style="border: solid windowtext 1.0pt">
            <thead>
                <tr>
                    <td width="10" class="p-0">
                        <p class="MsoNormal" align="center" style="text-align:center"><b><span>PARA<o:p></o:p></span></b></p>
                        <p class="MsoNormal" align="center" style="text-align:center"><b><span>NO<o:p></o:p></span></b></p>
                    </td>
                    <td width="15" class="p-0" >
                        <p  class="MsoNormal" align="center" style="text-align:center; line-height:40px"><b><span>ASSIGNED TO<o:p></o:p></span></b></p>

                    </td>

                    <td class="col-md-auto" style="border:solid windowtext 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:22.75pt">
                        <div style="width:1000px">
                            <p class="MsoNormal" align="center" style="text-align:center">
                                <b>
                                    <span>
                                        CA
                                        UNIT AUDIT OBSERVATION<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                            <p class="MsoNormal" align="center" style="text-align:center"><b><span>VOL-I<o:p></o:p></span></b></p>
                        </div>
                    </td>

                    <td width="25" class="p-0">
                        <p class="MsoNormal" align="center" style="text-align:center">
                            <b>
                                <span>
                                    BRANCH REPLY <o:p></o:p>
                                </span>
                            </b>
                        </p>
                    </td>
                    <td width="25" class="p-0" >
                        <p class="MsoNormal" align="center" style="text-align:center">
                            <b>
                                <span>
  AUDIT COMMENTS<o:p></o:p>
                                </span>
                            </b>
                        </p>
                    </td>
                    <td width="10" class="p-0" >
                        <p class="MsoNormal" align="center" style="text-align:center"><b><span>STATUS<o:p></o:p></span></b></p>
                    </td>
                </tr>

            </thead>
            <tbody id="obs_report_panel" style="width:48.25pt;border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:22.75pt">
            </tbody>
        </table>

        <p class="MsoNormal"><span><o:p>&nbsp;</o:p></span></p>

        <span style="font-size:12.0pt">
            <br clear="all" style="page-break-before:always">
        </span>

        <p class="MsoNormal"><span style="font-size:6.0pt"><o:p>&nbsp;</o:p></span></p>

        <p class="MsoNormal">
            <span style="font-size:14.0pt"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><o:p></o:p></span>
        </p>

   
    <div style="border:solid windowtext 3.0pt;padding:0cm 4.0pt 1.0pt 4.0pt">

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;border:none;padding:0cm">
            <b><span style="font-size:30.0pt;line-height:150%">PART-02</span></b>
            <b>
                <span style="font-size:25.0pt;line-height:150%"><o:p></o:p></span>
            </b>
        </p>

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;border:none;padding:0cm">
            <b>
                <span style="font-size:30.0pt;line-height:150%">
                    AUDIT
                    PARAS PERTAINING TO THE BRANCH<o:p></o:p>
                </span>
            </b>
        </p>
        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;padding:0cm">
            <b>
                <span style="font-size:30.0pt;line-height:150%">
                    PARA
                    NO. 02<o:p></o:p>
                </span>
            </b>
        </p>

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;border:none;padding:0cm">
            <b><span style="font-size:30.0pt;line-height:150%">TO<o:p></o:p></span></b>
        </p>

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;padding:0cm">
            <b>
                <span style="font-size:30.0pt;line-height:150%">
                    PARA
                    NO. 22<o:p></o:p>
                </span>
            </b>
        </p>

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;padding:0cm">
            <b>
                <span style="font-size:30.0pt;line-height:150%">
                    VOL-I(Para
                    No. 02 to Para No. 04)<o:p></o:p>
                </span>
            </b>
        </p>

        <p class="MsoNormal" align="center" style="text-align:center;line-height:150%;border:none;padding:0cm">
            <b>
                <span style="font-size:25.0pt;line-height:150%">
                    VOL-II(Para
                    No. 05 to Para No.22 )<o:p></o:p>
                </span>
            </b>
        </p>

    </div>

    <table class="MsoNormalTable mt-3 mr-5" border="1" cellspacing="0" cellpadding="0" style="width: 1091.8pt; border: solid windowtext 1.0pt">
        <thead>
            <tr>
                <td width="10" class="p-0">
                    <p class="MsoNormal" align="center" style="text-align:center"><b><span>PARA<o:p></o:p></span></b></p>
                    <p class="MsoNormal" align="center" style="text-align:center"><b><span>NO<o:p></o:p></span></b></p>
                </td>
                <td width="15" class="p-0">
                    <p class="MsoNormal" align="center" style="text-align: center; line-height:40px"><b><span>ASSIGNED TO<o:p></o:p></span></b></p>

                </td>

                <td class="col-md-auto" style="border:solid windowtext 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:22.75pt">
                    <div style="width:1000px">
                        <p class="MsoNormal" align="center" style="text-align:center">
                            <b>
                                <span>
                                    CA
                                    UNIT AUDIT OBSERVATION<o:p></o:p>
                                </span>
                            </b>
                        </p>
                        <p class="MsoNormal" align="center" style="text-align:center"><b><span>VOL-I<o:p></o:p></span></b></p>
                    </div>
                </td>

                <td width="25" class="p-0">
                    <p class="MsoNormal" align="center" style="text-align:center">
                        <b>
                            <span>
                                BRANCH REPLY <o:p></o:p>
                            </span>
                        </b>
                    </p>
                </td>
                <td width="25" class="p-0">
                    <p class="MsoNormal" align="center" style="text-align:center">
                        <b>
                            <span>
                                AUDIT COMMENTS<o:p></o:p>
                            </span>
                        </b>
                    </p>
                </td>
                <td width="10" class="p-0">
                    <p class="MsoNormal" align="center" style="text-align:center"><b><span>STATUS<o:p></o:p></span></b></p>
                </td>
            </tr>

            

        </thead>
        <tbody id="obs_report_panel2" style="width:48.25pt;border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:22.75pt">
        </tbody>
    </table>
</div>


