@{
    ViewData["Title"] = "Authorize_Change_Settle_Para_Status";
    Layout = "_Layout";
}
<script>
    var g_paraId = 0;
    var g_obsList = [];

    var g_paraRef = 0;
    var g_paraObsId = 0;
    var g_ind = "";
    $(document).ready(function () {
        getLegacyPara();

        $('#1').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });
        $('#PublishParaText').on('click', function () {
            publishResponseChanges();
        });
    });
    function getLegacyPara() {
       
        $('#manageObsPanel tbody').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_legacy_settled_paras_autorize",
            type: "POST",
            data: {
                
            },
            cache: false,
            success: function (data) {
                g_obsList = data;
                $.each(data, function (index, child) {
                    var status_text= child.parA_STATUS;
                    var status_change_text = child.parA_CHANGE_REQUEST_STATUS;
                    $('#manageObsPanel tbody').append('<tr id="div_' + child.id + '"><td><p class="fw-normal mb-1">' + child.entitY_NAME + '</p></td><td><p class="fw-normal mb-1">' + child.audiT_PERIOD + '</p></td><td><p class="fw-normal mb-1">' + child.parA_NO + '</p></td><td><p class="fw-normal mb-1">' + child.gisT_OF_PARAS + '</p></td><td><p class="fw-normal mb-1">' + child.voL_I_II + '</p></td><td><p class="fw-normal mb-1">' + status_text + '</p></td><td><p class="fw-normal mb-1">' + status_change_text + '</p></td><td class="col-md-1"><p  class="fw-normal mb-1" >' + child.remarks + '</p></td><td class="text-center"><a class="text-center text-danger" style="cursor:pointer;" onclick="event.preventDefault();parastatuschange(\'' + child.reF_P + '\',\'' + child.aU_OBS_ID + '\',\'' + child.ind + '\');">Authorize</a></td></tr>')
                });
            },

            dataType: "json",
        });

    }
    function parastatuschange(refp, obsId, ind) {
           
        g_paraRef = refp;
        g_paraObsId = obsId;
        g_ind = ind;
        confirmAlert("Do you confirm to authorize this Para Status Change Request");
        onconfirmAlertCallback(Publishchange);      
        
    }


    function Publishchange() {

       
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/Add_Authorization_Old_Para_Change_status",
            type: "POST",
            data: {
                'REFID': g_paraRef,
                'OBS_ID': g_paraObsId,
                'INDICATOR': g_ind              
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });
    }
    function reloadLocation() {
        getLegacyPara();
    }

</script>

<div class="row">
    <div class="col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">Authorize Para Status Change Request </h3>
    </div>
    <div class="row col-md-12 mt-3">
        <table id="manageObsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto">Entity</th>
                    <th class="col-md-auto">Audit Year</th>
                    <th class="col-md-auto">Para No.</th>
                    <th class="col-md-auto">Gist</th>
                    <th class="col-md-auto">VOL I-II</th>
                    <th class="col-md-auto">Existing Status</th>
                    <th class="col-md-auto">New Status</th>
                    <th class="col-md-auto">Remarks</th>
                    <th class="col-md-auto">Action</th>


                </tr>
            </thead>
            <tbody></tbody>
          
        </table>
    </div>

</div>

