@{
    ViewData["Title"] = "Authorize Legacy Para Gist/Para No Update";
    Layout = "_Layout";
}
<script>
    var g_paraId = 0;
    var g_obsList = [];
    $(document).ready(function () {
        getLegacyPara();

       
        $('#PublishParaText').on('click', function () {
            publishResponseChanges();
        });
    });
    function getLegacyPara() {
       
        $('#manageObsPanel tbody').empty();
        $.ajax({
            url: "/ApiCalls/get_update_gist_paraNo_legacy_paras_autorize",
            type: "POST",
            data: {
                
            },
            cache: false,
            success: function (data) {
                g_obsList = data;
                $.each(data, function (index, child) {
                   
                    $('#manageObsPanel tbody').append('<tr id="div_' + child.parA_REF + '"><td><p class="fw-normal mb-1">' + child.e_NAME + '</p></td><td><p class="fw-normal mb-1">' + child.audiT_YEAR + '</p></td><td><p class="fw-normal mb-1">' + child.parA_NO + '</p></td><td><p class="fw-normal mb-1">' + child.gisT_OF_PARA + '</p></td><td><p class="fw-normal mb-1">' + child.amount + '</p></td><td><p class="fw-normal mb-1">' + child.voL_I_II + '</p></td><td class="text-center"><a class="text-center text-success" style="cursor:pointer;" onclick="Publishchange(\'' + child.parA_REF + '\',\'' + child.gisT_OF_PARAS + '\',\'' + child.parA_NO + '\');">Authorize</a></td></tr>')
                });

            },

            dataType: "json",
        });

    }
    function parastatuschange(id,gist,parano) {
        g_paraId = id;   
        g_paraGist=gist;
        g_paraNo=parano;
        $('#process_detail').modal('show');     
    }


    function Publishchange(refp) {
        $.ajax({
            url: "/ApiCalls/Authorize_Legacy_Para_Gist_ParaNo",
            type: "POST",
            data: {
                'PARA_REF': refp,
                'PARA_NO':g_paraNo,
                'GIST_OF_PARA': g_paraGist
              
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                onAlertCallback(reloadLocation);
            },
            dataType: "json",
        });
    }
    function reloadLocation() {
        getLegacyPara();
    }

</script>

<div class="row">
    <div class="col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">Authorize Legacy Para Gist/Para No Update </h3>
    </div>
    <div class="row col-md-12 mt-3">
        <table id="manageObsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto">Entity</th>
                    <th class="col-md-auto">Audit Year</th>
                    <th class="col-md-auto">Para No.</th>
                    <th class="col-md-auto">Gist</th>
                    <th class="col-md-auto">Amount</th>
                    <th class="col-md-auto">VOL I-II</th>                    
                    <th class="col-md-auto text-center">Action</th>


                </tr>
            </thead>
            <tbody></tbody>
          
        </table>
    </div>

</div>

