@{
    ViewData["Title"] = "Sub Checklist";
    Layout = "_Layout";
}
<script type="text/javascript">
    var g_respUser = [];
    var g_memoObj = [];
    var g_observationId = 0;
    var g_endId = 0;
    var S_ID = 0;
    $(document).ready(function () {
        var url_string = window.location;
        var url = new URL(url_string);
        var checklistsub_id = url.searchParams.get("id");
        S_ID = checklistsub_id;
        g_endId = url.searchParams.get("engId");
        $.ajax({
            url: "/ApiCalls/checklist_details",
            type: "POST",
            data: {
                'S_ID': checklistsub_id
            },
            cache: false,
            success: function (data) {
                console.log('subhcekclist', data);
                $('#checklistDetailsPanel tbody').empty();
                var sr = 1;
                $.each(data, function (i, v) {
                    $('#checklistDetailsPanel tbody').append('<tr id="obs_' + v.id + '"><td>' + sr + '</td><td>' + v.s_NAME + '</td><td>' + v.v_NAME + '</td><td>' + v.heading + '</td><td><select class="checklistaction form-select form-control" onchange="showObservationArea($(this).val(),\'obs_' + v.id + '\');" aria-label="Default select example"><option value="0" id="0" selected>No</option><option value="1" id="1">Yes</option></select></td><td class="text-center"><a class="text-center text-danger" onclick="viewCreatedMemo(this,\'obs_' + v.id + '\')">View Memo</a></td></tr>');
                    sr++;
                });

            },
            dataType: "json",
        });
        $('#viewMemo_memo').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });
    });
    function showObservationArea(value, id) {
        g_observationId = id;
        if (value != 0) {
            $('#viewMemoModel').modal('show');
            $('.richText-editor').html('');
            $('#viewMemo_replydays').val(1);
            $('#viewMemo_loancase').val('');
            $('#listofRespPersons tbody').empty();
            $('#viewMemo_attachments').val('');
        }
    }

    function saveChecklistObservations() {
        $.ajax({
            url: "/ApiCalls/save_observations",
            type: "POST",
            data: {
                'LIST_OBS': g_memoObj,
                'ENG_ID': g_endId,
                'S_ID': S_ID
            },
            cache: false,
            success: function (data) {

                alert("<p> " + data.success + "  Memo(s) Successfully Saved</p><p>" + data.failed + " Memo(s) Already Saved</p>");
            },
            dataType: "json",
        });

    }

    function saveMemoContent() {
        var resP = [];
        $.each($('#listofRespPersons tbody tr'), function (i, v) {
            resP.push($(v).attr('id').split('tr_')[1]);
        });
        var memo = {
            'MEMO': $('.richText-editor').html(),
            'ID': g_observationId,
            'DAYS': $('#viewMemo_replydays option:selected').val(),
            'LOANCASE': $('#viewMemo_loancase').val(),
            'ATTACHMENTS': $('#viewMemo_attachments').val(),
            'RESPONSIBLE_PPNO': resP
        };
        var isFound = false;
        $.each(g_memoObj, function (i, v) {
            if (v.ID == g_observationId) {
                isFound = true;
                g_memoObj[i].MEMO = memo.MEMO;
                g_memoObj[i].ID = memo.ID;
                g_memoObj[i].LOANCASE = memo.LOANCASE;
                g_memoObj[i].DAYS = memo.DAYS;
                g_memoObj[i].ATTACHMENTS = memo.ATTACHMENTS;
                g_memoObj[i].RESPONSIBLE_PPNO = memo.RESPONSIBLE_PPNO;
            }

        });

        if (!isFound)
            g_memoObj.push(memo);
    }
    function viewCreatedMemo(e, id) {
        g_observationId = id;
        var value = $($(e).parent().parent().find('.checklistaction').eq(0)).val();

        var tempobj = {
            ID: '0',
            'MEMO': '',
            'DAYS': '',
            'LOANCASE': '',
            'ATTACHMENTS': ''
        };
        if (value != 0) {
            $.each(g_memoObj, function (i, v) {
                if (v.ID == id) {
                    tempobj = v;
                }

            });
        }
        if (tempobj.ID != 0) {
            $('#viewMemoModel').modal('show');
            $('.richText-editor').html(tempobj.MEMO);
            $('#viewMemo_replydays').val(tempobj.DAYS);
            $('#viewMemo_loancase').val(tempobj.LOANCASE);
            $('#viewMemo_attachments').val(tempobj.ATTACHMENTS);
        } else {
            alert("Please select Yes to create Observation");
            return;
        }
    }

    function openResponsiblePPs() {
        $('#ResponsiblePPModel').modal('show');
        $('#matchedPPNoPanels').empty();
        return false;
    }
    function getMatchedPP() {
        $('#matchedPPNoPanels').empty();
        g_respUser = [];
        $.ajax({
            url: "/ApiCalls/get_matched_pp_numbers",
            type: "POST",
            data: {
                'PPNO': $('#responsiblePPNoEntryField').val()               
            },
            cache: false,
            success: function (data) {
                g_respUser.push(data);
                if (data.id > 0) {
                    $('#matchedPPNoPanels').append('<div class="row"><div class="col-sm-4"><input id="respCheckBOX" type="checkbox" /></div><div class="col-sm-8"><span>' + data.name + ' (' + data.ppNumber + ') </span></div></div>');
                }                    
                else
                    $('#matchedPPNoPanels').append('<div class="row"><span>No record found..</span></div>');
            },
            dataType: "json",
        });
    }
    function deleteRespRow(e) {
        $(e).parent().parent().remove();
    }

    function addResponsibilityToMainTable() {
        if (g_respUser[0].id > 0) {
            if ($('#respCheckBOX:checked')) {

                if ($('#listofRespPersons tbody tr#tr_' + g_respUser[0].ppNumber).length == 0) {
                    var srNo = $('#listofRespPersons tbody tr').length;
                    srNo++;
                    $('#listofRespPersons tbody').append('<tr id="tr_' + g_respUser[0].ppNumber + '"><td>' + srNo + '</td><td>' + g_respUser[0].ppNumber + '</td><td>' + g_respUser[0].name + '</td><td><a href="#" onclick="deleteRespRow(this);">Delete</a></td></tr>');
                } else { alert("Responsibility already added"); return false; }
            } else
            {
                alert("Please tick Checkbox to add responsibility"); return false;
            }            
        }       

    }
</script>
<div class="row mt-3">
    <div>
        <center>
            <h3 style="color: #45c545;">Sub List Details</h3>
        </center>
    </div>

    <table id="checklistDetailsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th class="col-md-1 font-weight-bold">Sr. No</th>
                <th class="col-md-2 font-weight-bold">Parent/Sub Process</th>
                <th class="col-md-3 font-weight-bold">Voilation</th>
                <th class="col-md-3 font-weight-bold">Heading/Sublist Detail</th>
                <th class="col-md-2 font-weight-bold text-center">Yes/No</th>
                <th class="col-md-2 font-weight-bold"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="row mt-3">
    <button onclick="history.back()" class="col-md-3 btn btn-secondary">Back to Sub Process</button>
    <button onclick="saveChecklistObservations();" class="col-md-3 btn btn-success" style="margin-left:10px;">Save</button>
</div>


<div id="viewMemoModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Memo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="viewMemo_memo">Memo</label>
                        <textarea id="viewMemo_memo" style="height:300px;" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_loancase">Responsible PP NO.</label>
                        <div class="row col-sm-12">
                            <table id="listofRespPersons" class="table table-hover table-bordered table-hover mt-3 table-striped">
                                <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                                    <tr>
                                        <th class="font-weight-bold">Sr.No</th>
                                        <th class="font-weight-bold">P.P. No</th>
                                        <th class="font-weight-bold">Name</th>
                                        <th class="text-center font-weight-bold"><button type="button" onclick="openResponsiblePPs();" class="rounded-circle btn btn-danger btn-sm"><i class="fa fa-plus text-white"></i></button></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_replydays">No of Days to reply</label>
                        <select id="viewMemo_replydays" class="form-control form-select">
                            <option id="1" value="1">1</option>
                            <option id="2" value="2">2</option>
                            <option id="3" value="3">3</option>
                            <option id="4" value="4">4</option>
                            <option id="5" value="5">5</option>
                            <option id="6" value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_attachments">Attachments</label>
                        <input id="viewMemo_attachments" class="form-control" type="file" multiple="multiple" style="padding-top:3px;" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button onclick="saveMemoContent();" type="button" data-dismiss="modal" class="btn btn-danger">Save Memo</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="ResponsiblePPModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Responsible Person</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="viewMemo_memo">P.P No.</label>
                        <div class="row col-sm-12">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="responsiblePPNoEntryField" />
                            </div>
                            <div class="col-sm-2 w-100">
                                <button onclick="getMatchedPP();" type="button" class="btn btn-danger">Find</button>
                            </div>
                        </div> 
                    </div>  
                    <div class="form-group">
                        <div id="matchedPPNoPanels" style="padding:20px;">

                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">                
                <button onclick="addResponsibilityToMainTable();" type="button" class="btn btn-danger">Add Responsibility</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

