@{
    ViewData["Title"] = "Concluding_Closing_Audit";
    Layout = "_Layout";
}



<script type="text/javascript">
    var g_teamMembers = [];
    var g_engId = 0;
    var g_type_id = 0;
    function reloadLocationToUrl() {
        window.location.href = g_asiBaseURL + "/Engagement/task_list"
    }


    function getaddress() {

        $('#auditorWiseProgessTable tbody').empty();
        $('#joiningAuditorDetailsTable tbody').empty();
        //getParas();
        g_engId = $('#entitySelectField').val();
        g_type_id = $('#entitySelectField option:selected').attr("ent_type_id");
        $('#conoffice').empty();
        $('#EntN').empty();
        $('#ADD').empty();
        $('#a_s_d').empty();
        $('#a_e_d').empty();
        $('#o_s_d').empty();
        $('#o_e_d').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_address",
            type: "POST",
            data: {
                'ENT_ID': g_engId
            },
            cache: false,
            success: function (data) {
                $.each(data, function (i, v) {
                    console.log(v);
                    g_teamMembers.push(v.teaM_MEM_PPNO);
                    $('#conoffice').html(v.p_NAME);
                    $('#EntN').html(v.name);
                    $('#ADD').html(v.address);
                    $('#a_s_d').html(v.audiT_STARTDATE.split('T')[0]);
                    $('#a_e_d').html(v.audiT_ENDDATE.split('T')[0]);
                    $('#o_s_d').html(v.operatioN_STARTDATE.split('T')[0]);
                    $('#o_e_d').html(v.operatioN_ENDDATE.split('T')[0]);

                    $('#highTotalMemos').html(v.high);
                    $('#highTotalSettledMemos').html(v.settleD_HIGH);
                    $('#highTotalOpenMemos').html(v.opeN_HIGH);

                    $('#mediumTotalMemos').html(v.medium);
                    $('#mediumTotalSettledMemos').html(v.settleD_MEDIUM);
                    $('#mediumTotalOpenMemos').html(v.opeN_MEDIUM);

                    $('#lowTotalMemos').html(v.low);
                    $('#lowTotalSettledMemos').html(v.settleD_LOW);
                    $('#lowTotalOpenMemos').html(v.opeN_LOW);

                });


            },
            dataType: "json",
        });

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/GetTeamDetails",
            type: "POST",
            data: {
                'ENG_ID': g_engId
            },
            cache: false,
            success: function (data) {
                console.log(data);
                $.each(data, function (i, v) {
                    g_teamMembers.push(v.teaM_MEM_PPNO);
                    $('#joiningAuditorDetailsTable tbody').append('<tr><td class="text-center" >' + v.membeR_PPNO + '</td><td class="text-center" >' + v.membeR_NAME + '</td><td class="text-center" >' + v.isteamlead + '</td><td class="text-center" >' + v.audiT_START_DATE + '</td><td class="text-center" >' + v.audiT_END_DATE + '</td></tr>');

                });

            },
            dataType: "json",
        });



    }

    function auditeereport() {
        g_engId = $('#entitySelectField').val();

        $('#conoffice').html();
        $('#EntN').html();
        $('#ADD').html();
        $('#a_s_d').html();
        $('#a_e_d').html();
        $('#o_s_d').html();
        $('#o_e_d').html();

        // if (g_type_id == 6)
        window.location.href = g_asiBaseURL + '/Execution/auditee_observations_report?engid=' + g_engId + '&conOffice=' + $('#conoffice').html() + '&entName=' + $('#EntN').html() + '&startDate=' + $('#a_s_d').html() + '&endDate=' + $('#a_e_d').html() + '&ostart=' + $('#o_s_d').html() + '&oend=' + $('#o_e_d').html();
        //  else
        //     window.location.href = '/Execution/auditee_observations_report_cau?engid=' + g_engId + '&conOffice=' + $('#conoffice').html() + '&entName=' + $('#EntN').html() + '&startDate=' + $('#a_s_d').html() + '&endDate=' + $('#a_e_d').html() + '&ostart=' + $('#o_s_d').html() + '&oend=' + $('#o_e_d').html();





    }

    function getreportstatus() {
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_report_status",
            type: "POST",
            data: {
                'ENG_ID': g_engId
            },
            cache: false,
            success: function (data) {
                if (data[0].reF_OUT == "0") {
                    //   auditeereport();
                    // onAlertCallback(auditeereport);
                    if (g_engId == 0)
                        alert("Audit Entity Not Selected");


                    else {
                        alert(data[0].message);
                        return;
                    }
                }
                else {
                    if (g_engId == 0)
                        alert("Audit Entity Not Selected");

                    else {
                        alert(data[0].message);
                        onAlertCallback(auditeereport);
                        //auditeereport();
                    }


                }


            },
            dataType: "json",
        });

    }

    function reloadLocation(){
        window.location.reload();
    }
    function closeDraftAudit() {
        $.ajax({

            url: g_asiBaseURL + "/ApiCalls/conclude_draft_audit",
            type: "POST",
            data: {
                'ENG_ID': g_engId
            },
            cache: false,
            success: function (data) {
                alert(data.Message);
                onAlertCallback(reloadLocation);

            },
            dataType: "json",
        });
    }
</script>
<div class="row col-md-12 mt-3">
    <h4 style="display: block; color: #45c545;">Close Audit Report</h4>
</div>

<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <label><b>Entity:</b></label>
    </div>
    <div class="col-md-10">
        <input id="entityNameField" disabled="disabled" class="form-control ml-1 d-none" type="text" />
        <select id="entitySelectField" onchange="getaddress();" class="form-control form-select">
            <option value="0" id="0">--Select Audit Entity--</option>
            @{
                if (ViewData["EntitiesList"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["EntitiesList"]))
                    {
                        <option value="@item.ENG_ID" ent_type_id="@item.TYPE_ID">@item.ENTITY_NAME</option>
                    }
                }
            }

        </select>
    </div>
</div>
<div class="row col-md-12 mt-3">
    <h5 style="display: block; color: #45c545;">Auditee Information</h5>
</div>
<div class="row col-md-12">

    <table id="reportheading1" class="table table-bordered mb-0 mt-3 bg-white table-striped">
        <thead>
            <tr>
                <th style="background-color: rgb(181 229 117 / 93%) !important;" class="col-md-1">Controling Office</th>
                <th id="conoffice" Class="col-md-5"></th>
            </tr>
            <tr>
                <th style="background-color: rgb(181 229 117 / 93%) !important;" class="col-md-1">Entity Name</th>
                <th id="EntN" Class="col-md-5"></th>
            </tr>
            <tr>
                <th style="background-color: rgb(181 229 117 / 93%) !important;" class="col-md-aut-1">Address</th>
                <th id="ADD" Class="col-md-5"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="row col-md-12">
    <table id="reportheading2" class="table table-bordered mb-0  bg-white table-striped">

        <tr>

            <th style="background-color: rgb(181 229 117 / 93%);" class="col-md-1">Audit S-Date</th>
            <th id="a_s_d" Class="col-md-2"></th>
            <th style="background-color: rgb(181 229 117 / 93%);" class="col-md-1">Audit E-Date</th>
            <th id="a_e_d" Class="col-md-2"></th>
        </tr>

        <tr>
            <th style="background-color: rgb(181 229 117 / 93%);" class="col-md-1">Operational S-Date</t>
            <th id="o_s_d" Class="col-md-2"></th>
            <th style="background-color: rgb(181 229 117 / 93%);" class="col-md-1">Operational E-Date</th>
            <th id="o_e_d" Class="col-md-2"></th>
        </tr>


        <tr>
            <th class="col-md-auto"></th>
            <th style="background-color: rgb(181 229 117 / 93%);" class="col-md-auto">High</th>
            <th style="background-color: rgb(181 229 117 / 93%);" class="col-md-auto">Medium</th>
            <th style="background-color: rgb(181 229 117 / 93%);" class="col-md-auto">Low</th>
        </tr>
        <tr>
            <th style="background-color: rgb(181 229 117 / 93%);" class="col-md-auto">Total Memos</th>
            <th id="highTotalMemos" class="col-md-auto bg-transparent text-center"></th>
            <th id="mediumTotalMemos" class="col-md-auto bg-transparent text-center"></th>
            <th id="lowTotalMemos" class="col-md-auto bg-transparent text-center"></th>
        </tr>
        <tr>
            <th style="background-color: rgb(181 229 117 / 93%);" class="col-md-auto">Settled</th>
            <th id="highTotalSettledMemos" class="col-md-auto bg-transparent text-center"></th>
            <th id="mediumTotalSettledMemos" class="col-md-auto bg-transparent text-center"></th>
            <th id="lowTotalSettledMemos" class="col-md-auto bg-transparent text-center"></th>
        </tr>
        <tr>
            <th style="background-color: rgb(181 229 117 / 93%);" class="col-md-auto">Add to Final Report</th>
            <th id="highTotalOpenMemos" class="col-md-auto bg-transparent text-center"></th>
            <th id="mediumTotalOpenMemos" class="col-md-auto bg-transparent text-center"></th>
            <th id="lowTotalOpenMemos" class="col-md-auto bg-transparent text-center"></th>
        </tr>


      



    </table>
    
</div>
<div class="row col-md-12">
    <table id="joiningAuditorDetailsTable" class="table table-bordered mb-0  bg-white table-striped">
        <thead>
            <tr>
                <th style="background-color: rgb(181 229 117 / 93%) !important; " colspan="4" class="col-md-auto text-center">Joining Details</th>
            </tr>
            <tr>
                <th style="background-color: rgb(181 229 117 / 93%) !important; " class="col-md-auto">P.P. Number</th>
                <th style="background-color: rgb(181 229 117 / 93%) !important; " class="col-md-auto">Name</th>
                <th style="background-color: rgb(181 229 117 / 93%) !important; " class="col-md-auto">Team Lead</th>
                <th style="background-color: rgb(181 229 117 / 93%) !important; " class="col-md-auto">Joining Date</th>
                <th style="background-color: rgb(181 229 117 / 93%) !important; " class="col-md-auto">Completion Date </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


<div class="row col-md-12 mt-3">
    <button onclick="closeDraftAudit();" class="col-md-3 btn btn-danger offset-md-9"> Close Audit</button>
</div>

