@{
    ViewData["Title"] = "Fresh Disbursement Information";
    Layout = "_Layout";
}

<script type="text/javascript">
   
</script>
<div class="row col-md-12 mt-3">
    <h4 style="display: block; color: #45c545;">Fresh Disbursement Information</h4>
</div>

<div class="row col-md-12 mt-1">
    <div class="row col-md-6 mt-1">
        <label><b>Zone</b></label>
        <input disabled="disabled" class="form-control mr-1" type="text" />
    </div>
    <div class="row col-md-6 mt-1">
        <label><b>Branch</b></label>
        <input disabled="disabled" class="form-control ml-1" type="text" />
    </div>
</div>

<div class="row col-md-12 mt-3">
    <table class="table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th class="col-md-1">LC #</th>
                <th class="col-md-2">CNIC #</th>
                <th class="col-md-3">Name</th>
                <th class="col-md-1">GL Code</th>
                <th class="col-md-2">Disbursement Amount</th>
                <th class="col-md-2">Disbursement Date/th>
                <th class="col-md-2">Principle Amount</th>
                <th class="col-md-2">Principle Recovery</th>
                <th class="col-md-1">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
