@{
    ViewData["Title"] = "List of DSAs";
    Layout = "_Layout";
}

<script type="text/javascript">
    var g_dsaId=0;
    $(document).ready(function () {
      $.ajax({
        url: g_asiBaseURL + "/ApiCalls/get_draft_dsa_list",
        type: "POST",
        data: {}, // Add data here if necessary
        cache: false,
        success: function (data) {
          if (data.length > 0) {
            var tbody = $('#listofRespPersons tbody');
            tbody.empty();
            destroyDatatable("listofRespPersons");
            $.each(data, function (index, item) {
              if ($('#hiddenUserRoleField').val() == 15) {
                var row = `
                  <tr>
                    <td>${index + 1}</td>
                    <td>${item.audiT_PERIOD || ''}</td>
                    <td>${item.reportinG_OFFICE || ''}</td>
                    <td>${item.entitY_NAME || ''}</td>
                    <td>${item.dsA_NO || ''}</td>
                    <td>${item.heading || ''}</td>
                    <td>${item.resP_PP_NO || ''}</td>
                    <td>${item.emP_NAME || ''}</td>
                    <td>${item.loaN_CASE || ''}</td>
                    <td>${item.lC_AMOUNT || ''}</td>
                    <td>${item.dsA_STATUS || ''}</td>
                    <td>
                      <a onclick="viewDSAContent(${item.id},1);" href="#" class="text-primary">View DSA Content</a>
                    </td>
                     <td>
                      <a onclick="updateDSAContent(${item.id},1);" href="#" class="text-primary">Update DSA Heading</a>
                    </td>
                    <td>
                      <a href="#" onclick="forwardSubmissionOfDSAToFAD(${item.id});" class="text-danger">${item.statuS_UP || ''}</a>
                    </td>
                  </tr>`;
                tbody.append(row);
              } else if ($('#hiddenUserRoleField').val() == 5) {
                var row = `
                  <tr>
                    <td>${index + 1}</td>
                    <td>${item.audiT_PERIOD || ''}</td>
                    <td>${item.aZ_NAME || ''}</td>
                    <td>${item.reportinG_OFFICE || ''}</td>
                    <td>${item.entitY_NAME || ''}</td>
                    <td>${item.dsA_NO || ''}</td>
                    <td>${item.heading || ''}</td>
                    <td>${item.resP_PP_NO || ''}</td>
                    <td>${item.emP_NAME || ''}</td>
                    <td>${item.loaN_CASE || ''}</td>
                    <td>${item.lC_AMOUNT || ''}</td>
                    <td>${item.dsA_STATUS || ''}</td>
                    <td>
                      <a onclick="viewDSAContent(${item.id},0);" href="#" class="text-primary">View Content</a>
                    </td>
                    <td>
                      <a href="#" onclick="refferedBackDSAToAZ(${item.id});" class="text-danger">${item.statuS_DOWN || ''}</a>
                    </td>
                    <td>
                      <a href="#" onclick="forwardSubmissionOfDSAToDPD(${item.id});" class="text-success">${item.statuS_UP || ''}</a>
                    </td>
                  </tr>`;
                tbody.append(row);
              }
              else if ($('#hiddenUserRoleField').val() == 12 && $('#hiddenUserEntityField').val() == "112259") {
                var row = `
                  <tr>
                    <td>${index + 1}</td>
                    <td>${item.audiT_PERIOD || ''}</td>
                    <td>${item.aZ_NAME || ''}</td>                    
                    <td>${item.reportinG_OFFICE || ''}</td>
                    <td>${item.entitY_NAME || ''}</td>
                    <td>${item.dsA_NO || ''}</td>
                    <td>${item.heading || ''}</td>
                    <td>${item.resP_PP_NO || ''}</td>
                    <td>${item.emP_NAME || ''}</td>
                    <td>${item.loaN_CASE || ''}</td>
                    <td>${item.lC_AMOUNT || ''}</td>
                    <td>${item.dsA_STATUS || ''}</td>
                    <td>
                      <a onclick="viewDSAContent(${item.id},0);" href="#" class="text-primary">View Content</a>
                    </td>
                    <td>
                      <a href="#" onclick="refferedBackDSAToHeadFAD(${item.id});" class="text-danger">${item.statuS_DOWN || ''}</a>
                    </td>
                    <td>
                      <a href="#" onclick="AcknowledgeDSAByDPD(${item.id});" class="text-success">${item.statuS_UP || ''}</a>
                    </td>
                  </tr>`;
                tbody.append(row);
              }
            });
            initializeDataTable("listofRespPersons");
          }
        },
        error: function (xhr, status, error) {
          console.error("Error fetching data: ", error);
        },
        dataType: "json",
      });
    });

    function viewDSAContent(id) {
        g_dsaId=id;
      $('#ViewDSAContent').modal('show');
      $('#updateHeadingButtonHandler').hide();
      $('#dsaHeading').attr("readonly",true);
      $.ajax({
        url: g_asiBaseURL + "/ApiCalls/get_dsa_content",
        type: "POST",
        data: { 'DSA_ID': id },
        cache: false,
        success: function (data) {
          $('#dsa_no_field').val(data.no);
          $('#dsaHeading').val(data.heading);
          $('#dsaContent').html(data.text);
        },
        dataType: "json",
      });
    }
      function updateDSAContent(id,editRight) {
          g_dsaId=id;
      $('#ViewDSAContent').modal('show');
      $('#updateHeadingButtonHandler').hide();
      $('#dsaHeading').attr("readonly",true);
      $.ajax({
        url: g_asiBaseURL + "/ApiCalls/get_dsa_content",
        type: "POST",
        data: { 'DSA_ID': g_dsaId },
        cache: false,
        success: function (data) {
          $('#dsa_no_field').val(data.no);
          $('#dsaHeading').val(data.heading);
          if(editRight==1){
              $('#dsaHeading').attr("readonly",false);
              $('#updateHeadingButtonHandler').show();
          }

          $('#dsaContent').html(data.text);
        },
        dataType: "json",
      });
    }
    //SVP AZ ACTION
    function forwardSubmissionOfDSAToFAD(id) {
      $.ajax({
        url: g_asiBaseURL + "/ApiCalls/submit_dsa_to_head_fad",
        type: "POST",
        data: { 'DSA_ID': id },
        cache: false,
        success: function (data) {
          alert(data.Message);
          onAlertCallback(reloadLocation);
        },
        dataType: "json",
      });
    }
    //HEAD FAD ACTION
    function forwardSubmissionOfDSAToDPD(id) {
      $.ajax({
        url: g_asiBaseURL + "/ApiCalls/submit_dsa_to_dpd",
        type: "POST",
        data: { 'DSA_ID': id },
        cache: false,
        success: function (data) {
          alert(data.Message);
          onAlertCallback(reloadLocation);
        },
        dataType: "json",
      });
    }

    function refferedBackDSAToAZ(id) {
      $.ajax({
        url: g_asiBaseURL + "/ApiCalls/reffered_back_by_head_fad",
        type: "POST",
        data: { 'DSA_ID': id },
        cache: false,
        success: function (data) {
          alert(data.Message);
          onAlertCallback(reloadLocation);
        },
        dataType: "json",
      });
    }
    
    //SVP DPD
    function AcknowledgeDSAByDPD(id) {
      $.ajax({
        url: g_asiBaseURL + "/ApiCalls/acknowledge_dsa_by_dpd",
        type: "POST",
        data: { 'DSA_ID': id },
        cache: false,
        success: function (data) {
          alert(data.Message);
          onAlertCallback(reloadLocation);
        },
        dataType: "json",
      });
    }

    function refferedBackDSAToHeadFAD(id) {
      $.ajax({
        url: g_asiBaseURL + "/ApiCalls/reffered_back_by_dpd",
        type: "POST",
        data: { 'DSA_ID': id },
        cache: false,
        success: function (data) {
          alert(data.Message);
          onAlertCallback(reloadLocation);
        },
        dataType: "json",
      });
    }

    function updateDSAHeading(){
   
     $.ajax({
        url: g_asiBaseURL + "/ApiCalls/update_dsa_heading",
        type: "POST",
        data: {
            'DSA_ID': g_dsaId,
            'DSA_HEADING':  $('#dsaHeading').val()
        },
        cache: false,
        success: function (data) {
    $('#ViewDSAContent').modal('hide');
          alert(data.Message);
          onAlertCallback(reloadLocation);
        },
        dataType: "json",
      });
    }

    function reloadLocation() {
      window.location.reload();
    }
</script>

<div class="row col-md-12 mt-3">
    <h4 style="display: block; color: #45c545;">List of Draft DSAs</h4>
</div>

<input type="hidden" id="hiddenUserRoleField" value="@ViewData["USER_ROLE_ID"]" />
<input type="hidden" id="hiddenUserEntityField" value="@ViewData["USER_ENT_ID"]" />
<div class="row col-md-12 mt-3">

    <table id="listofRespPersons" class="table table-hover table-bordered table-hover mt-3 table-striped" style="font-size:10px !important">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th class="col-md- auto font-weight-bold">Sr.No</th>
                <th class="col-md- auto font-weight-bold">Audit Period</th>
                @{
                    if ((dynamic)ViewData["USER_ROLE_ID"] == 5 || (dynamic)ViewData["USER_ROLE_ID"] == 12)
                    {
                        <th class="col-md- auto font-weight-bold">Audit Zone</th>
                    }
                }
                
                <th class="col-md- auto font-weight-bold">Reporting Office</th>
                <th class="col-md- auto font-weight-bold">Entity Name</th>
                <th class="col-md- auto font-weight-bold">DSA No.</th>
                <th class="col-md- auto font-weight-bold">DSA Heading</th>
                <th class="col-md- auto font-weight-bold">Responsible P.P No</th>
                <th class="col-md- auto font-weight-bold">Responsible Person</th>
                <th class="col-md- auto font-weight-bold">Loan Case</th>
                <th class="col-md- auto font-weight-bold">Amount Involved</th>
                <th class="col-md- auto font-weight-bold">Current Status</th>
                <th class="col-md- auto font-weight-bold">Action</th>
                @{
                    if ((dynamic)ViewData["USER_ROLE_ID"] == 15)
                    {
                        <th class="col-md- auto font-weight-bold">Action</th>
                        <th class="col-md- auto font-weight-bold">Action</th>

                    }
                    else if ((dynamic)ViewData["USER_ROLE_ID"] == 5 || ((dynamic)ViewData["USER_ROLE_ID"] == 12 && (dynamic)ViewData["USER_ENT_ID"] == 112259))
                        {
                        <th class="col-md- auto font-weight-bold">Action</th>
                        <th class="col-md- auto font-weight-bold">Action</th>

                    }

                }

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="ViewDSAContent" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" style="width:95% !important;" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Content of DSA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="viewMemo_memo">DSA No.</label>
                        <input id="dsa_no_field" readonly="readonly" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo">DSA Heading</label>
                        <textarea id="dsaHeading" readonly="readonly" class="form-control">

                          </textarea>
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo">DSA Content</label>
                        <div id="dsaContent" disabled="disabled" style="height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="updateHeadingButtonHandler" onclick="updateDSAHeading();" type="button" class="btn btn-danger" >Update Heading</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>




