@{
    ViewData["Title"] = "Manage Observation";
    Layout = "_Layout";
}
<h4>@ViewData["Title"]</h4>
<script type="text/javascript">
    $('#document').ready(function () {
        $('#sidebar_policy').hide();
    });
</script>
<div class="row col-md-12 mt-3">
    <!--
        <div class="mt-3">
            <h6>Job Assigned To: </h6>
            <h6>Team: </h6>
            <h6>P.P. No. </h6>
        </div>
    -->

    <div class="row col-md-12 mt-3">
        <table class="table table-responsive table-bordered mb-0 mt-3 bg-white table-striped">
            <thead>
                <tr>
                    <th width="50">Sr. No</th>
                    <th width="400">Audit Department</th>
                    <th width="250">Branch</th>
                    <th width="400">Department</th>
                    <th width="50">Status</th>
                    <th width="50"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Memos
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Memos
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Memos
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Memos
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Memos
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Memos
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Memos
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Memos
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>