@{
    ViewData["Title"] = "Pre Audit Information";
    Layout = "_Layout";
}

<style type="text/css">
  
    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }

    .icon-card {
        margin: 10px;
    }
</style>


<div class="row col-md-12 mt-3">
    <div class="col-md-12">
        <h4 style="display: block; color: #45c545;">Pre Audit Information</h4>
    </div>
    </div>


    <div class="row col-md-12 mt-3 btn-group">

        <div class="row col-md-3 mt-3">

            <div class="col-md-12">
                <button type="button" class="col-md-12 mt-2  btn btn-success text-left" onclick="window.location.href ='/reports/glhead_yearwise_summary';">GLHead Summary(Yearly Comparison)</button>
            </div>
            <div class="col-md-12">
                <button type="button" class="col-md-12   btn btn-success text-left" onclick="window.location.href = '/reports/glhead_summary';">GL Head Transaction Details (GL Move)</button>
            </div>
            <div class="col-md-12">
                <button type="button" class="col-md-12  btn btn-success text-left" onclick="window.location.href = '/Reports/income_expenditure';">BranchWise Income And Expend Info.</button>
            </div>

        </div>
        <div class="row col-md-3 mt-3">
            <div class="col-md-12">
                <button type="button" class="col-md-12 mt-2 btn btn-success text-left" onclick="window.location.href = '/Execution/loan_scheme';">Loan Scheme Wise</button>
            </div>

            <div class="col-md-12">
                <button type="button" class="col-md-12 mt-2 btn btn-success text-left" onclick="window.location.href = '/Execution/loan_scheme_yearly';">Loan Scheme Yearly Comparison</button>
            </div>
            <div class="col-md-12">
                <button type="button" class="col-md-12 mt-2 btn btn-success text-left" onclick="window.location.href = '/Execution/loan_case_details?type=live';">Live loan Cases</button>
            </div>
            <div class="col-md-12">
                <button type="button" class="col-md-12 mt-2 btn btn-success text-left" onclick="window.location.href = '/Execution/loan_case_details?type=close';">Closed Loan Cases During Oper Period</button>
            </div>

            <div class="col-md-12">
                <button type="button" class="col-md-12 mt-2 btn btn-success text-left" onclick="window.location.href = '/Execution/loan_case_document';">Loan Case Documents</button>
            </div>
            <div class="col-md-12">
                <button type="button" class="col-md-12 mt-2 btn btn-success text-left" onclick="window.location.href = '/Execution/disb_info';">Disbursement (Fresh Disb Information)</button>
            </div>
        </div>
        <div class="row col-md-3 mt-3">
            <div class="col-md-12">
                <button type="button" class="col-md-12 mt-2 btn btn-success text-left" onclick="window.location.href = '/Execution/deposit_account';">Deposit Account (Categ Wise Details)</button>
            </div>
            <div class="col-md-12">
                <button type="button" class="col-md-12 mt-2 btn btn-success text-left" onclick="window.location.href = '/Execution/branch_deposit_info';">Deposit Account (with Balance)</button>
            </div>


        </div>


        <div class="row col-md-3 mt-3">
            <div class="col-md-12">
                <button type="button" class="col-md-12 mt-2 btn btn-success text-left" onclick="window.location.href = '/Execution/staff_pos_info';">Staff Position Information (ZTBL Only)</button>
            </div>
        </div>

    </div>
