@{
    ViewData["Title"] = "Pre Audit Information";
    Layout = "_Layout";
}

<style type="text/css">
  
    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }

    .icon-card {
        margin: 10px;
    }
</style>


<div class="row col-md-12 mt-3">
    <h4 style="display: block; color: #45c545;">Pre Audit Information</h4>
</div>
<div class="row col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-10">

        <div class="row btn-group">
            <div class="row col-md-12 mt-3">
                <button type="button" class="col-md-4 btn btn-success text-left" onclick="window.location.href = '/reports/glhead_summary';">GL Head Details</button>
            </div>
            <div class="row col-md-12 mt-3">
                <button type="button" class="col-md-4 btn btn-success text-left" onclick="window.location.href = '/reports/glhead_yearwise_summary';">GL Head Yearwise Summary</button>
            </div>
            <div class="row col-md-12 mt-3">
                <button type="button" class="col-md-4 btn btn-success text-left" onclick="window.location.href = '/Execution/loan_case_details?type=live';">Live Loan Cases</button>
            </div>
            <div class="row col-md-12 mt-3">
                <button type="button" class="col-md-4 btn btn-success text-left" onclick="window.location.href = '/Execution/loan_case_details?type=close';">Closed Loan Cases</button>
            </div>
            <div class="row col-md-12 mt-3">
                <button type="button" class="col-md-4 btn btn-success text-left" onclick="window.location.href = '/Reports/income_expenditure';">Income/Expenditure</button>
            </div>
            <div class="row col-md-12 mt-3">
                <button type="button" class="col-md-4 btn btn-success text-left" onclick="window.location.href = '/Execution/branch_deposit_info';">Deposit Summary</button>
            </div>
            <div class="row col-md-12 mt-3">
                <button type="button" class="col-md-4 btn btn-success text-left" onclick="window.location.href = '/Execution/disb_info';">Disbursement</button>
            </div>
            <div class="row col-md-12 mt-3">
                <button type="button" class="col-md-4 btn btn-success text-left" onclick="window.location.href = '/Execution/deposit_account';">Deposit Accounts</button>
            </div>
            
            <div class="row col-md-12 mt-3">
                <button type="button" class="col-md-4 btn btn-success text-left" onclick="window.location.href = '/Execution/loan_case_document';">Loan Case Documents</button>
            </div>
            
            <div class="row col-md-12 mt-3">
                <button type="button" class="col-md-4 btn btn-success text-left" onclick="window.location.href = '/Execution/loan_scheme';">Loan Schemes</button>
            </div>

            <div class="row col-md-12 mt-3">
                <button type="button" class="col-md-4 btn btn-success text-left" onclick="window.location.href = '/Execution/loan_scheme_yearly';">Loan Schemes Yearly</button>
            </div>

            <div class="row col-md-12 mt-3">
                <button type="button" class="col-md-4 btn btn-success text-left" onclick="window.location.href = '/Execution/staff_pos_info';">Staff Position Information</button>
            </div>

        </div>

    </div>
</div>
