@{
    ViewData["Title"] = "Sub Checklist";
    Layout = "_Layout";
}
<script type="text/javascript">
    var g_endId = 0;
    $(document).ready(function () {
        var url_string = window.location;
        var url = new URL(url_string);
        var checklist_id = url.searchParams.get("id");
        g_endId = url.searchParams.get("engId");
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/sub_checklist",
            type: "POST",
            data: {
                'T_ID': checklist_id,
                'ENG_ID': g_endId
            },
            cache: false,
            success: function (data) {
                console.log('subhcekclist', data);
                $('#subchecklistPanel tbody').empty();
                var sr = 1;
               $.each(data, function (i, v) {
                    $('#subchecklistPanel tbody').append('<tr id="' + v.s_ID + '"><td>' + sr + '</td><td>' + v.t_NAME + '</td><td>' + v.heading + '</td><td class="text-center"><span class="badge badge-danger rounded-pill d-inline">' + v.status + '</span></td><td class="text-center"><a href="#" onclick="event.preventDefault();proceedToChecklistDetails(' + v.s_ID + ')">Checklist Details</a></td></tr>');
                   sr++;
                });

            },
            dataType: "json",
        });
    });
    function proceedToChecklistDetails(id) {
        window.location.href = g_asiBaseURL + '/Execution/checklist_details?engId=' + g_endId + '&id=' + id;
    }
</script>
<div class="row mt-3">
    <div>
        <center>
            <h3 style="color: #45c545;">Sub List</h3>
        </center>
    </div>

    <table id="subchecklistPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th class="col-md-1 font-weight-bold">Sr. No</th>
                <th class="col-md-2 font-weight-bold">Parent/Process</th>
                <th class="col-md-4 font-weight-bold">Heading/Sub List</th>                
                <th class="col-md-1 font-weight-bold text-center">Status</th>
                <th class="col-md-2 font-weight-bold">Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="row mt-3">
    <button onclick="history.back()" class="col-md-3 btn btn-secondary">Back to Checklist</button>
</div>
