@{
    ViewData["Title"] = "Compliance Hierarchy";
    Layout = "_Layout";
}

<script type="text/javascript">
    var g_periodId = 0;
    $(document).ready(function () {
        getComplianceHierarchy();
    });

    function getComplianceHierarchy() {
        $('#listOfComplianceHierarchy tbody').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_compliance_hierarchy",
            type: "POST",
            data: {
               
            },
            cache: false,
            success: function (data) {
                $.each(data, function (i, v) {
                    $('#listOfComplianceHierarchy tbody').append('<tr><td>' + ++i + '</td><td>' + v.compliancE_UNIT + '</td><td>' + v.revieweR_NAME + ' ( ' + v.revieweR_PPNO + ')</td><td>' + v.approveR_NAME + ' ( ' + v.approveR_PPNO + ')</td><td><a href="#" onclick="event.preventDefault();updateComplianceHierarchy(' + v.entitY_ID + ', ' + v.revieweR_PPNO + ', ' + v.approveR_PPNO + ');">Update</a></td></tr>');
                    
                });

            },
            dataType: "json",
        });

    }

    function updateComplianceHierarchy(){
        $('#complianceUnit').modal('show');
    }

    function getMatchedPP() {
        $('#matchedPPNoPanels').empty();
        g_respUser = [];
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_employee_name_from_pp",
            type: "POST",
            data: {
                'PP_NO': $('#responsiblePPNoEntryField').val()
            },
            cache: false,
            success: function (data) {
                g_respUser.push(data);
                if (data.ppNumber > 0) {
                    $('#matchedPPNoPanels').append('<div class="row"><div class="row col-md-12 mt-2"><div class="col-sm-4"><label>Responsible</label></div><div class="col-sm-8"><span>' + data.name + ' (' + data.ppNumber + ') </span> <input style="margin-left:10px;" id="respCheckBOX" type="checkbox" /></div></div><div class="row col-md-12 mt-2"><div class="col-md-4"><label> Loan Case </label></div><div class="col-md-8"><input id="resp_loan_case" class="form-control" type="text" /></div></div><div class="row col-md-12 mt-2"><div class="col-md-4"><label> LC Amount </label></div><div class="col-md-8"><input id="resp_loan_amount" class="form-control" type="text" /></div></div><div class="row col-md-12 mt-2"><div class="col-md-4"><label> Account Number </label></div><div class="col-md-8"><input id="resp_account_number" class="form-control" type="text" /></div></div><div class="row col-md-12 mt-2"><div class="col-md-4"><label>ACC Amount </label></div><div class="col-md-8"><input id="resp_account_amount" class="form-control" type="text" /></div></div></div>');
                }
                else
                    $('#matchedPPNoPanels').append('<div class="row"><span>No record found..</span></div>');
            },
            dataType: "json",
        });
    }





</script>
<div class="row mt-3">
    <div class="row col-md-12">
        <div class="col-md-6" style="padding-left:0px;">
            <h2 style="color: #45c545;">Compliance Unit</h2>
        </div>
    </div>
</div>
<div id="listOfComplianceHierarchyContainer" class="row mt-3">

    <br />
    <table id="listOfComplianceHierarchy" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important;">
            <tr>
                <th class="col-md-1">Sr No.</th>
                <th class="col-md-4">Compliance Unit</th>
                <th class="col-md-2">Incharge Unit</th>
                <th class="col-md-2">Settelement Officer</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>




<div id="complianceUnit" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Compliance Unit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row col-md-6">
                 <h6>Incharge Compliance Unit / Authorizer</h6>
                </div>

                <div class="row col-md-12 mt-1">
                    <div class="col-md-2">
                        <label>P.P.No.</label>
                    </div>
                    <div class="col-md-4">
                        <input id="ppnoSearchField" type="text" class="form-control" placeholder="P.P.Number" aria-label="P.P.Number" aria-describedby="basic-addon2">
                    </div>
                    <div class="col-md-6">
                   
                        <button id="searchbtn" onclick="getMatchedPP();"  class="btn btn-danger col-md-2" style="margin-left:auto;">Search</button>
                    </div>
                </div>


                <div class="row col-md-12 mt-2">
                    <div class="col-md-3">
                   </div>
                <div class="row col-md-6 mt-2">
                    <h6>Display Name </h6>
                </div>

                </div>


                <div class="row col-md-6 mt-1">
                    <h6>Settelement Officer </h6>
                </div>

                <div class="row col-md-12 mt-1">
                    <div class="col-md-2">
                        <label>P.P.No.</label>
                    </div>
                    <div class="col-md-4">
                        <input id="ppnoSearch" type="text" class="form-control" placeholder="P.P.Number" aria-label="P.P.Number" aria-describedby="basic-addon2">
                    </div>
                    <div class="col-md-6">
                       
                        <button id="searchbtn" onclick="getMatchedPP();" class="btn btn-danger col-md-2" style="margin-left:auto;">Search</button>
                    </div>

                    <div class="row col-md-12 mt-2">
                        <div class="col-md-3">
                        </div>
                        <div class="row col-md-6 mt-2">
                            <h6>Display Name </h6>
                        </div>
                </div>

            </div>

                <div class="modal-footer mt-2">
              
                <button type="button" class="btn btn-danger">Save</button>
            </div>
        </div>
    </div>
</div>

