@{
    ViewData["Title"] = "Para Migration";
    Layout = "_Layout";

}

<script type="text/javascript">
    var g_aisEntitiesRec = [];
    var g_entIdToUpdate = 0;
    var g_entIdtoUpdateMapping = 0;
    var g_mappingExists = [];
    var url_string = window.location;
    var url = new URL(url_string);
    var ent_code = url.searchParams.get("code");
    var ent_name = url.searchParams.get("name");

    $(document).ready(function () {

        $('#entityNameTextBar').val(ent_name);
        $('#entityCodeTextBar').val(ent_code);

        $('#AISentityNameTextBar').val(ent_name);
        $('#AISentityCodeTextBar').val(ent_code);

    });


    function getEntityDetailsByName() {


        $('#entity_find_panel tbody').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_hr_entities_for_admin_panel_entity_addition",
            type: "POST",
            data: {
                'ENTITY_NAME': $('#entityNameTextBar').val(),
                'ENTITY_CODE': ""
            },
            cache: false,
            success: function (data) {


                $.each(data, function (i, v) {

                    $('#ais_entity_find_panel tbody').append('<tr><td>' + ++i + '</td><td>' + v.entitY_ID + '</td><td>' + v.entitY_CODE + '</td><td>' + v.entitY_NAME + '</td><td>' + v.typE_ID + '</td><td>' + v.audiT_BY + '</td><td>' + v.auditable + '</td><td>' + v.status + '</td><td><input id="' + v.entitY_ID + '_entSource" type="text" class="form-control entSource" /></td><td><input id="' + v.entitY_ID + '_entDestination" class="form-control entDestination" type="text" /></td><td><a onclick="event.preventDefault();paraMigrationProceed(' + v.entitY_ID + ');" href="#" class="text-danger text-center">Proceed Para Migration</a></td></tr>');
                });



            },
            dataType: "json",
        });



    }

    function getEntityDetailsByCode() {

        $('#entity_find_panel tbody').empty();

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_hr_entities_for_admin_panel_entity_addition",
            type: "POST",
            data: {
                'ENTITY_CODE': $('#entityCodeTextBar').val(),
                'ENTITY_NAME': ""
            },
            cache: false,
            success: function (data) {

                $.each(data, function (i, v) {

                    $('#entity_find_panel tbody').append('<tr><td>' + ++i + '</td><td>' + v.reportinG_CODE + '</td><td>' + v.reportinG_NAME + '</td><td>' + v.reportinG_STATUS + '</td><td>' + v.reportinG_INDICATOR + '</td><td>' + v.entitY_CODE + '</td><td>' + v.entitY_NAME + '</td><td>' + v.entitY_STATUS + '</td><td>' + v.entitY_INDICATOR + '</td><td><a href="#" onclick="event.preventDefault();AddNewAISEntity(\'' + v.entitY_NAME + '\',\'' + v.entitY_CODE + '\');">Add Entity in AIS</a></td></tr>');
                });


            },
            dataType: "json",
        });


    }


    function getAISEntityDetailsByName() {
        $('#ais_entity_find_panel tbody').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_ais_entities_for_admin_panel_entity_addition",
            type: "POST",
            data: {
                'ENTITY_NAME': $('#AISentityNameTextBar').val(),
                'ENTITY_CODE': ""
            },
            cache: false,
            success: function (data) {
                g_aisEntitiesRec = data;
                $.each(data, function (i, v) {

                    $('#ais_entity_find_panel tbody').append('<tr><td>' + ++i + '</td><td>' + v.entitY_ID + '</td><td>' + v.entitY_CODE + '</td><td>' + v.entitY_NAME + '</td><td>' + v.typE_ID + '</td><td>' + v.audiT_BY + '</td><td>' + v.auditable + '</td><td>' + v.status + '</td><td><input id="' + v.entitY_ID + '_entSource" type="text" class="form-control entSource" /></td><td><input id="' + v.entitY_ID + '_entDestination" class="form-control entDestination" type="text" /></td><td><a onclick="event.preventDefault();paraMigrationProceed(' + v.entitY_ID + ');" href="#" class="text-danger text-center">Proceed Para Migration</a></td></tr>');
                });



            },
            dataType: "json",
        });
    }

    function paraMigrationProceed(id) {


        alert("migration of Para in process");
        return;
    }

    function getAISEntityDetailsByCode() {

        $('#ais_entity_find_panel tbody').empty();

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_ais_entities_for_admin_panel_entity_addition",
            type: "POST",
            data: {
                'ENTITY_CODE': $('#AISentityCodeTextBar').val(),
                'ENTITY_NAME': ""
            },
            cache: false,
            success: function (data) {
                g_aisEntitiesRec = data;
                $.each(data, function (i, v) {

                    $('#ais_entity_find_panel tbody').append('<tr><td>' + ++i + '</td><td>' + v.entitY_ID + '</td><td>' + v.entitY_CODE + '</td><td>' + v.entitY_NAME + '</td><td>' + v.typE_ID + '</td><td>' + v.audiT_BY + '</td><td>' + v.auditable + '</td><td>' + v.status + '</td><td><a onclick="event.preventDefault();updateAISEntity(' + v.entitY_ID + ');" href="#">Update Entity</a></td><td><a onclick="event.preventDefault();updateAISEntityMapping(' + v.entitY_ID + ');" href="#">Update Entity Mapping</a></td></tr>');
                });

            },
            dataType: "json",
        });


    }

    function updateAISEntity(entId) {
        g_entIdToUpdate = entId;
        $('#updateEntityModal').modal('show');
        $.each(g_aisEntitiesRec, function (i, v) {
            if (v.entitY_ID == entId) {
                if (v.auditable == "")
                    v.auditable = 'N';
                if (v.status == "")
                    v.status = 'N';
                $('#entTypeField').val(v.typE_ID);
                $('#entCodeField').val(v.entitY_CODE);
                $('#entNameField').val(v.entitY_NAME);
                $('#entDescField').val(v.description);
                $('#entActiveField').val(v.status);
                $('#entAuditableField').val(v.auditable);
                $('#entAuditbyField').val(v.audiT_BY_ID);
            }
        })

    }

    function AddNewAISEntity(name, code) {

        $('#addEntityModal').modal('show');
        $('#addentTypeField').val('');
        $('#addentCodeField').val(code);
        $('#addentNameField').val(name);

        $('#addentDescField').val('');
        $('#addentActiveField').val('');
        $('#addentAuditableField').val('');
        $('#addentAuditbyField').val('');

    }


    function saveUpdateChangesInAISEntity() {
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/update_ais_entity_for_admin_panel_entity_addition",
            type: "POST",
            data: {
                'ENTITY_ID': g_entIdToUpdate,
                'ENTITY_NAME': $('#entNameField').val(),
                'ENTITY_CODE': $('#entCodeField').val(),
                'ENT_DESC': $('#entDescField').val(),
                'AUDITABLE': $('#entAuditableField').val(),
                'AUDIT_BY_ID': $('#entAuditbyField').val(),
                'ENTITY_TYPE_ID': $('#entTypeField').val(),
                'STATUS': $('#entActiveField').val()

            },
            cache: false,
            success: function (data) {
                alert(data.Message);

            },
            dataType: "json",
        });
    }

    function saveAddInAISEntity() {
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/add_ais_entity_for_admin_panel_entity_addition",
            type: "POST",
            data: {
                'ENTITY_ID': 0,
                'ENTITY_NAME': $('#addentNameField').val(),
                'ENTITY_CODE': $('#addentCodeField').val(),
                'ENT_DESC': $('#addentDescField').val(),
                'AUDITABLE': $('#addentAuditableField').val(),
                'AUDIT_BY_ID': $('#addentAuditbyField').val(),
                'ENTITY_TYPE_ID': $('#addentTypeField').val(),
                'STATUS': $('#addentActiveField').val()

            },
            cache: false,
            success: function (data) {
                alert(data.Message);

            },
            dataType: "json",
        });
    }

    function clearHREntitiesPanel() {
        $('#entity_find_panel tbody').empty();
    }

    function clearAISEntitiesPanel() {
        $('#ais_entity_find_panel tbody').empty();
    }


    function getEntityExistingMapping(entId) {
        g_entIdToUpdate = entId;
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_ais_entity_existing_mapping_for_admin_panel_entity_addition",
            type: "POST",
            data: {
                'ENTITY_ID': entId,

            },
            cache: false,
            success: function (data) {
                g_mappingExists = data;
                if (data.length > 0) {
                    data = data[0];
                    $('#mapentTypeField').val(data.parenT_TYPE_ID);
                    $('#mapentRelationshipField').val(data.relatioN_TYPE_ID);
                    $('#entity_mapping_panel tbody').empty();
                    $('#entity_mapping_panel tbody').append('<tr><td>' + data.parenT_ID + '</td><td>' + data.parenT_TYPE_ID + '</td><td>' + data.parenT_CODE + '</td><td>' + data.parenT_NAME + '</td><td>' + data.chilD_ID + '</td><td>' + data.chilD_TYPE_ID + '</td><td>' + data.chilD_CODE + '</td><td>' + data.chilD_NAME + '</td><td>' + data.auditeD_BY + '</td><td>' + data.relatioN_TYPE_ID + '</td></tr>');

                    getEntitiesListByTypeId(data.parenT_TYPE_ID, data.parenT_ID);
                } else {
                    $('#entity_mapping_panel tbody').empty();
                    $('#mapentTypeField').val(0);
                    $('#mapentParentField').val(0);
                    $('#mapentRelationshipField').val(0);
                }


            },
            dataType: "json",
        });

    }

    function getEntitiesListByTypeId(typeId, parentId) {
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_ais_entities_for_admin_panel_entity_addition",
            type: "POST",
            data: {
                'ENT_TYPE_ID': typeId,

            },
            cache: false,
            success: function (data) {

                $('#mapentParentField').empty();
                $('#mapentParentField').append('<option value="0">--Select Parent Entity--</option>');

                $.each(data, function (i, v) {
                    var selected = "";
                    if (v.entitY_ID == parentId)
                        selected = "selected=\"selected\"";
                    $('#mapentParentField').append('<option ' + selected + ' value="' + v.entitY_ID + '">' + v.entitY_NAME + '</option>');
                });

            },
            dataType: "json",
        });
    }

    function updateAISEntityMapping(entId) {
        $('#updateMappingEntityModal').modal('show');
        getEntityExistingMapping(entId);
    }

    function getOnChageList() {

        getEntitiesListByTypeId($('#mapentTypeField').val(), 0);
    }

    function saveInsertAISEntityMapping() {
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/add_ais_entity_mapping_for_admin_panel_entity_addition",
            type: "POST",
            data: {
                'ENTITY_ID': g_entIdToUpdate,
                'P_ENTITY_ID': $('#mapentParentField').val(),
                'RELATION_TYPE_ID': $('#mapentRelationshipField').val()

            },
            cache: false,
            success: function (data) {
                alert(data.Message);

            },
            dataType: "json",
        });


    }
    function saveUpdateAISEntityMapping() {
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/update_ais_entity_mapping_for_admin_panel_entity_addition",
            type: "POST",
            data: {
                'ENTITY_ID': g_entIdToUpdate,
                'P_ENTITY_ID': $('#mapentParentField').val(),
                'RELATION_TYPE_ID': $('#mapentRelationshipField').val()

            },
            cache: false,
            success: function (data) {
                alert(data.Message);

            },
            dataType: "json",
        });

    }

</script>

<div class="row col-md-12">
    <h3 style=" display:block;color: #45c545;">Para Migration</h3>
</div>


<div class="row col-md-12 mt-3">   


   
    <div class="col-md-12 row mt-3">
        <h3 class="text-center" style=" display:block;color:chocolate ;">AIS Entities</h3>


    </div>




    <div class="row col-md-12 mt-3">
        <div class="col-md-6">
            <div class="col-md-12 row">
                <div class="col-md-3">
                    <label>Entity Name</label>
                </div>
                <div class="col-md-7">
                    <input class="form-control" id="AISentityNameTextBar" type="text" />
                </div>
                <div class="col-md-2">
                    <button onclick="getAISEntityDetailsByName();" class="btn btn-danger w-100"> Find</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 row">
                <div class="col-md-3">
                    <label>Entity Code</label>
                </div>
                <div class="col-md-7">
                    <input id="AISentityCodeTextBar" class="form-control" type="text" />
                </div>
                <div class="col-md-2">
                    <button onclick="getAISEntityDetailsByCode();" class="btn btn-danger w-100"> Find</button>
                </div>
            </div>
        </div>

        <div class="mt-3 col-md-12">
            <table id="ais_entity_find_panel" class="table table-hover table-bordered table-hover mt-3 table-striped">
                <thead style="background-color: rgb(181 229 117 / 93%) !important;">
                    <tr>
                        <th class="col-md-auto">Sr. No.</th>
                        <th class="col-md-auto">Entity ID</th>
                        <th class="col-md-auto">Entity Code</th>
                        <th class="col-md-auto">Entity Name </th>
                        <th class="col-md-auto">Entity Type ID</th>
                        <th class="col-md-auto">Audit By</th>
                        <th class="col-md-auto">Auditable</th>
                        <th class="col-md-auto">Status</th>
                        <th class="col-md-auto">Source Entity ID</th>
                        <th class="col-md-auto">Destination Entity ID</th>
                        <th class="col-md-auto text-center"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button onclick="clearAISEntitiesPanel();" class="btn btn-sm btn-success offset-md-11 col-md-1 mt-1"> Clear Table</button>
        </div>


    </div>

</div>

