@{
    ViewData["Title"] = "Merge Duplicate/Redundant Sub Process";
    Layout = "_Layout";
}
<style type="text/css">
    .container {
        max-width: 100%;
    }

    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }

    .icon-card {
        margin: 10px;
    }
</style>
<script type="text/javascript">
    var g_procId = 0;
    var g_subProcId = 0;
    var g_procDetailId = 0;
    var g_subProcList = [];
    var g_procDetailList = [];
    $(document).ready(function () {
       
        $('#selectAllHeaderCheckbox').on('click', function () {
            if ($('#selectAllHeaderCheckbox').is(':checked')) {

                $.each($('#checkListDetailsPanel tbody tr.matched'), function (i, tr) {
                    $(tr).find('.chkbox').eq(0).prop('checked', true)
                });
            } else {
                $.each($('#checkListDetailsPanel tbody tr.matched'), function (i, tr) {
                    $(tr).find('.chkbox').eq(0).prop('checked', false);

                });
            }
        })
        getAuditSubChecklist();
    });

    function getAuditSubChecklist() {
        $('#subchecklistSelectField').empty();
        $('#checkListDetailsPanel tbody').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_audit_sub_checklist",
            type: "POST",
            data: {
                'PROCESS_ID': 0
            },
            cache: false,
            success: function (data) {
                g_subProcList = data;
                $('#subchecklistSelectField').append('<option value="0">--Select Audit Sub-Checklist--</option>');
                $.each(data, function (i, v) {
                    $('#subchecklistSelectField').append('<option value="' + v.s_ID + '">' + v.heading + '</option>');
                    $('#checkListDetailsPanel tbody').append('<tr class="matched"><td>' + ++i + '</td><td class="prIdCol" id="' + v.s_ID + '">' + v.heading + '</td><td>' + v.risK_SEQUENCE + '</td><td>' + v.risK_WEIGHTAGE + '</td><td class="text-center"><input id="' + v.s_ID + '" class="chkbox" type="checkbox" /></td></tr>');
                });
            },
            dataType: "json",
        });

    }
    
    function mergeDuplicate() {
        if ($('#checklistSelectField').val() == "0") {
            alert("Select Process and Sub Process to proceed");
            return;
        }

        if ($('#subchecklistSelectField').val() == "0") {
            alert("Select Sub Process to proceed");
            return;
        }

        var ids_arr = [];
        $('#checkListDetailsPanel tbody tr.matched').each(function (i, tr) {
            var $checkbox = $(tr).find('.chkbox').eq(0);
            if ($checkbox.is(':checked')) {
                ids_arr.push($checkbox.attr('id'));
            }
        });

        if (ids_arr.length > 0) {
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/merge_duplicate_sub_process",
                type: "POST",
                data: {
                    'MAIN_PROCESS_ID': $('#checklistSelectField').val(),
                    'MAIN_SUB_PROCESS_ID': $('#subchecklistSelectField').val(),
                    'MERGE_SUB_PROCESS_IDs': ids_arr
                },
                cache: false,
                success: function (data) {
                    alert(data.Message);
                    onAlertCallback(reloadLocation);
                },
                dataType: "json",
            });
        } else {
            alert("Please select atleast one Process to merge with above selected process");
            return;
        }

    }

    function reloadLocation() {
        getAuditSubChecklist();
    }

    function removeSelectedProcFromGrid() {
        var selProc = $('#subchecklistSelectField').val();
        $('#checkListDetailsPanel tbody tr td.prIdCol').each(function (i, tr) {

            if ($(tr).attr('id') == selProc) {
                $(tr).parent().hide();
                $(tr).parent().find('.chkbox').eq(0).prop("checked", false);
                $(tr).parent().removeClass("matched");
            } else {
                $(tr).parent().show();
                $(tr).parent().addClass("matched");
            }

        });


    }


</script>
<div class="row text-center mt-3">
    <h3 style=" display:block;color: #45c545;">Merge Duplicate/Redundant Process</h3>
</div>

<div class="row mt-3 col-md-12">

    <label class="form-label font-weight-bold">Please select the sub process in which you want to merge into</label>
    <select onchange="removeSelectedProcFromGrid();" id="subchecklistSelectField"  class="form-select form-control">
        <option value="0">--Select Sub-Checklist--</option>
    </select>
</div>

<div class="row col-md-12 mt-1">
    <label class="form-label font-weight-bold">Please select sub processes from below table you want to merge</label>
    <table id="checkListDetailsPanel" class="table table-bordered table mb-0 mt-3 bg-white table-hover table-striped">
        <thead>
            <tr style="background-color: rgb(181 229 117 / 93%) !important; ">
                <th class="col-md-1 font-weight-bold">ID</th>
                <th class="col-md-6 font-weight-bold">Sub Process</th>
                <th class="col-md-2 font-weight-bold">Risk Sequence</th>
                <th class="col-md-2 font-weight-bold">Risk Weightage</th>
                <th class="col-md-1 text-center"><input id="selectAllHeaderCheckbox" type="checkbox" /></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
<div class="row col-md-12 mt-3">
    <button onclick="mergeDuplicate();" class="btn btn-danger col-md-3 offset-md-9">Merge Duplicates</button>
</div>

