@{
    ViewData["Title"] = "OM Assigning";
    Layout = "_Layout";
}

<script type="text/javascript">
    $('#document').ready(function () {
        $('#template_box').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });
    });


    function saveOMAssignment() {
        if ($('#division_box').val() == 0) {
            alert('Select Division');
            return;
        }
        if ($('#omNumber_box').val() == "") {
            alert('Please enter OM Number');
            return;
        }
        if ($('.richText-editor').html() == "") {
            alert('Please provide OM Content');
            return;
        }
       
        $.ajax({
            url: "/ApiCalls/CAU_OM_assignment",
            type: "POST",
            data: {
                'ID': 0,
                'DIV_ID': $('#division_box').val(),
                'OM_NO': $('#omNumber_box').val(),
                'CONTENTS_OF_OM': $('.richText-editor').html(),
                'STATUS': 1,
            },
            cache: false,
            success: function (data) {
                alert("OM Assignment Successfully Done");
            },
            dataType: "json",
        });

    }

</script>
<div class="mt-3 col-md-12">
    <h3 style="color: #45c545;">Commercial Audit Memo/Para Assigning</h3>
</div>


<div class="col-md-12 mt-3">
    
        <label class="font-weight-bold">O.M/Para No.</label>
    
    
        <input id="omNumber_box" type="text" class="form-select form-control">
  
</div>

<div class="col-md-12 mt-3">
    <div class="page-wrapper box-content">
        <textarea id="template_box" class="content" name="example"></textarea>
    </div>
</div>
<div class="col-md-12 mt-3 mb-4">
   
        <label class="font-weight-bold">Division</label>
    
        <select id="division_box" class="form-select form-control">
            <option value="0" id="0" selected>--Select Division--</option>
            @{
                if (ViewData["DivisionList"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["DivisionList"]))
                    {
                        <option value="@item.DIVISIONID" id="@item.DIVISIONID">@item.DESCRIPTION</option>
                    }
                }
            }
        </select>
    </div>


<div class="row col-md-12 mt-3">
    <div class="col-md-12 mt-3 mb-4">
        <button style="float:right;margin-left:15px;" class="btn btn-danger col-md-2">Submit</button>
        <button onclick="saveOMAssignment();" style="float:right; " class="btn btn-success col-md-2">Save</button>

    </div>

</div>
