@{
    ViewData["Title"] = "OM Assigning ACU";
    Layout = "_Layout";
}

<script type="text/javascript">
    var g_engId = 0;
    $('#document').ready(function () {
        var url_string = window.location;
        var url = new URL(url_string);
        g_engId = url.searchParams.get("engId");
        $('#template_box').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });
    });

    function div_risksubcategoryShowHide() {
        if ($('#riskGroupSelectBox option:selected').val() == 0) {
            $('#div_risksubcategory').hide();
            $('#div_activityContainer').hide();
        }
        else {
            $('#div_risksubcategory').show();
            $('#div_activityContainer').hide();
            $('#riskSubGroupSelectBox').empty();
            $.ajax({
                url: "/Execution/sub_voilation",
                type: "POST",
                data: {
                    'GR_ID': $('#riskGroupSelectBox option:selected').val(),
                },
                cache: false,
                success: function (data) {
                    $('#riskSubGroupSelectBox').append("<option value=\"0\" id=\"0\">--Select Sub Group--</option>");
                    $.each(data, function (index, item) {
                        $('#riskSubGroupSelectBox').append("<option value=\"" + item.v_ID + "\"> " + item.suB_V_NAME + " " + item.risK_ID + " </option > ");
                    });

                },
                dataType: "json",
            });
        }
    }
    function div_activityContainerShowHide() {
        if ($('#riskSubGroupSelectBox option:selected').val() == 0)
            $('#div_activityContainer').hide();
        else
            $('#div_activityContainer').show();
        $('#riskActivitiesSelectBox').empty();
        $.ajax({
            url: "/Execution/risk_activities",
            type: "POST",
            data: {
                'S_GR_ID': $('#riskSubGroupSelectBox option:selected').val(),
            },
            cache: false,
            success: function (data) {
                //console.log(data);
                $('#riskActivitiesSelectBox').append("<option value=\"0\" id=\"0\">--Select Sub Group--</option>");
                $.each(data, function (index, item) {
                    $('#riskActivitiesSelectBox').append("<option value=\"" + item.activitY_ID + "\"> " + item.description + "</option>");
                });

            },
            dataType: "json",
        });
    }
    function getAuditObservationTemplate() {
        if ($('#riskActivitiesSelectBox option:selected').val() == 0)
            $('#template_box').val('').trigger('change');
        else {
            $('#template_box').val('').trigger('change');
            $.ajax({
                url: "/Execution/audit_observation_template",
                type: "POST",
                data: {
                    'ACTIVITY_ID': $('#riskActivitiesSelectBox option:selected').val(),
                },
                cache: false,
                success: function (data) {
                    $.each(data, function (index, item) {
                        $('#template_box').val(item.obS_TEMPLATE).trigger('change');
                    });

                },
                dataType: "json",
            });
        }
    }

    function saveChecklistObservations() {
        if ($('#riskGroupSelectBox').val() == 0) {
            alert('Select Violation Category');
            return;
        }
        if ($('#riskSubGroupSelectBox').val() == 0) {
            alert('Select Violation Nature');
            return;
        }
        if ($('#auditCriteriaRiskField').val() == 0) {
            alert('Select Risk');
            return;
        }
        var g_memoObj = [];
        var memo = {
            'MEMO': $('.richText-editor').html(),
            'ID': 'obs_0',
            'DAYS': $('#viewMemo_replydays option:selected').val(),
            'LOANCASE': '',
            'ATTACHMENTS': ''
        };
        g_memoObj.push(memo);
        $.ajax({
            url: "/ApiCalls/save_observations",
            type: "POST",
            data: {
                'LIST_OBS': g_memoObj,
                'ENG_ID': g_engId,
                'S_ID': 0,
                'V_CAT_NATURE_ID': $('#riskSubGroupSelectBox').val(),
                'V_CAT_ID': $('#riskGroupSelectBox').val(),
                'RISK_ID': $('#auditCriteriaRiskField').val()
            },
            cache: false,
            success: function (data) {
                alert("Memo successfully submitted to Auditee");
            },
            dataType: "json",
        });

    }

</script>
<div class="mt-3 col-md-12">
    <h3 style="color: #45c545;">Commercial Audit Memo/Para Response </h3>
</div>


<div class="row col-md-12 mt-3">
    <div class="row col-md-12">
        <label>O.M/Para No.</label>
    </div>
    <div class="row col-md-12">
        <select id="auditTeam_box" class="form-select form-control">
            <option value="0" id="0" selected>O.M/Para No.</option>
        </select>
    </div>
</div>
<div class="row col-md-12 mt-3">
    <div class="row col-md-12">
        <label>Division</label>
    </div>
    <div class="row col-md-12">
        <select id="auditTeam_box" class="form-select form-control">
            <option value="0" id="0" selected>Division</option>
        </select>
    </div>
</div>
<Div class="row col-md-10 mt-3">
    <label>Content of Para/OM</label>
</Div>
<div class="row col-md-11">
            <textarea id="remarksAdditionalInfoField" rows="4" class="form-control"></textarea>
        </div>
<div class="row col-md-12 mt-3">
    <div class="row col-md-12 mt-3">
        <label>Reply</label>
    </div>
    <div class="row col-md-12 page-wrapper box-content form-select">
        <textarea id="template_box" class="content" name="example"></textarea>
    </div>
</div>

<div class="row col-md-12 mt-3">
    <div class="col-md-12">
        <button onclick="approveAuditCriterias();" style="float:right; margin-left:15px;" class="btn btn-success col-md-2">Submit</button>
        <button onclick="referredBackAuditCriterias();" style="float:right;" class="btn btn-danger col-md-2">Forward</button>

    </div>

</div>
