@{
    ViewData["Title"] = "audit_report";
    Layout = "_Layout";
}


<script type="text/javascript">
    function FindAuditPlanData() {
        $.ajax({
            url: "/ApiCalls/get_auditplan_completion",
            type: "POST",
            data: {

                'DEPT_ID': $('#auditDepartmentSelectBox').val(),
                'AUDIT_STARTDATE': $('#auditStartDateField').val(),
                'AUDIT_ENDDATE': $('#auditEndDateField').val()
            },
            cache: false,
            success: function (data) {
                var sr = 1;
                $.each(data, function (i, v) {
                    $('#AuditPlanGrid tbody').append('<tr><td>' + sr + '</td><td>' + v.auditname + '</td><td>' + v.audits + '</td><td>' + v.engplan + '</td><td>' + v.joining + '</td><td>' + v.completed + '</td><td>' + v.observations + '</td><td>' + v.highriskpara + '</td><td>' + v.mediumriskpara + '</td><td>' + v.lowriskpara + '</td></tr>');
                    sr++;

                });
            },
            dataType: "json",
        });
    }


</script>

<div class="mt-3 mb-4">
    <h3 style="color: #45c545;">Audit Plan Progess Report</h3>


</div>


<div class="row col-md-12 mt-3">

    <label class="font-weight-bold"> Audit Department</label>
    <select id="auditDepartmentSelectBox" class="form-select form-control" aria-label="Default select example">
        <option value="112215">--All--</option>
        @{
            if (ViewData["DepartmentList"] != null)
            {
                foreach (var item in (dynamic)(ViewData["DepartmentList"]))
                {
                    <option value="@item.ID">@item.NAME</option>
                }
            }
        }
    </select>

</div>



<div class="row col-md-12 w-100 mt-3">
    <button onclick="FindAuditPlanData();"  class="btn btn-primary">Find</button>
</div>

<div class="mt-3">
    <table id="AuditPlanGrid" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th>Sr. No.</th>
                <th>Department /<br />Audit Zone</th>
                <th>Number of <br />Audits</th>
                <th>Engagement <br /> Assinged</th>
                <th>Under Execution/<br /> In Progress</th>
                <th>Completed</th>
                <th>Number of <br />Observation</th>
                <th>High Risk <br /> Observations</th>
                <th>Medium Risk <br /> Observations</th>
                <th>Low Risk <br /> Observations</th>
            </tr>
        </thead>
        <tbody >
            <tr >
            </tr>

        </tbody>
    </table>
</div>


