@{
    ViewData["Title"] = "audit_report";
    Layout = "_Layout";
}



<script type="text/javascript">
    $('#document').ready(function () {
       
        $('.template_box').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });
    });
</script>




<div class="row">
    <div class="col-md-4 offset-md-8">
        <button class="btn btn-danger" style="float:right; margin-bottom:10px; " onclick="CreatePDFfromHTML();">Download Report</button>
    </div>
</div>



<div class="WordSection1">

    <div class="col-md-12" style="font-family:'Times New Roman'">
        <br />  <br />  

        <h1 style="text-transform: uppercase; font-weight: bold; text-decoration: underline; text-align: right; float: right !important" class="entNameField pr-3"></h1>

      <div > <center> <a class="navbar-brand" href="#" ><img height="500" src="~/Images/ztbllogo.png" alt="Logo"></a>
            </center>
        </div>
       

        <h1 style="text-align:center";  !important"><b>ZARAI TARAQIATI BANK LIMITED &nbsp;</b> </h1>
        <div   class="border-dark" style="border:solid">
        <h1 style="text-align:center" ; !important"><b>Internal Audit Report Of &nbsp;</b> </h1>
        <h1 style="text-align:center" ; !important"><b>ZTBL,(</b>branch name<b>),(</b>Operational Zone<b>)</b>; </h1>
        <h1 style="text-align:center" ; !important"><b>For the period from &nbsp;</b> </h1>

        <h1 style="text-align:center" ; !important"><b>(</b>mm dd, yyyy<b> to (</b>mm dd, yyyy<b>)</b> &nbsp;</b> </h1>

        <h1 style="text-align:center" ; !important"><b>Report Issuance Date: (</b>mm dd, yyyy<b>)</b> &nbsp; </h1>
            <br /><br /><br />
        </div>
    </div>
        <br />  <br />

    <div class="border-dark" style="border:solid">
        <p style="text-align:left" ; !important"><b><u>Restriction Clause;</u></b> </p>
     <p> "Please note that confidentiality of the report must be maintained and it must not be distributed to the third parties unless otherwise approved by Chief Internal Auditor or required by any regulation"</p>
    </div>
    <br /><br /><br />
    <div>
        <h3 style="text-align:center" ; !important"><b>Audit Zone ____________</b> </h3>
        <h3 style="text-align:center" ; !important"><b> Internal Audit Divsion</b> </h3>
        <br /><br />
    </div>
</div>

    
      

<div class="mt-3 mb-4">
    <h3 style="color: #45c545;">Field Audit Report</h3>


</div>






<div>
    <div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <label class="text-bold">To</label>
    </div>
    <div class="col-md-10">
        <input class="form-control" id="ToField" />
    </div>
    </div>
    <div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <label class="text-bold">CC:</label>
    </div>
    <div class="col-md-10">
        <textarea class="form-control" style="width:100%" id="CCtextarea"></textarea>
    </div>
    </div>

<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <label class="text-bold">From:</label>
    </div>
    <div class="col-md-10">
        <input class="form-control" type="text" id="FromField" />
    </div>
</div>


<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <label class="text-bold">Subject</label>
    </div>
    <div class="col-md-10">
        <input class="form-control" type="text" id="SubjectField" />
    </div>
</div>
</div>

<br/><br/>
<hr />
<br/>

<div class="col-md-12">
    <textarea class="form-control" style="width:100%" id="template_box"></textarea>
</div>
<br />
<br />

<div class="col-md-12">
    <h4 style="text-align:left" ; !important"><b><u>Risk Analysis of Branch</u></b> </h4>
    <textarea class="form-control" style="width:100%"></textarea>
</div>
<br />
<br />
<div class="col-md-12">
    <h4 style="text-align:left" ; !important"><b><u>SUMMARY OF LEAKAGE OF INCOME/IDENTIFIED FROM SAMPLE OF TRANSACTIONS</u></b> </h4>
    <textarea class="form-control" style="width:100%"></textarea>
</div>
<br />
<br />
<hr/>

<div>
  <p> "Observation of significant priority warranting imediate attention/remedial action of higher management are summarised below"</p>
    <h4 style="text-align:left" ; !important"><b>Major internal control lapse</b> </h4>
    <textarea class="form-control" style="width:100%"></textarea><br />
    <h4 style="text-align:left" ; !important"><b>Branch General Control</b> </h4>
    <textarea class="form-control" style="width:100%"></textarea><br />
    <h4 style="text-align:left" ; !important"><b>AML / CFT</b> </h4>
    <textarea class="form-control" style="width:100%"></textarea><br />
    <h4 style="text-align:left" ; !important"><b>Loan Operation</b> </h4>
    <textarea class="form-control" style="width:100%"></textarea><br />
    <h4 style="text-align:left" ; !important"><b>Deposits</b> </h4>
    <textarea class="form-control" style="width:100%"></textarea><br />
    <h4 style="text-align:left" ; !important"><b>Account</b> </h4>
    <textarea class="form-control" style="width:100%"></textarea><br />
   
</div>
<br />
<br />
<hr />

<div class="col-md-12">
    <h4 style="text-align:left" ; !important"><b><u>Contents</u></b> </h4>
    <textarea class="form-control" style="width:100%"></textarea>
</div>
<br />
<br />
<hr />

<div class="col-md-12">
    <h4 style="text-align:left" ; !important"><b><u>1. Executive Summary</u></b> </h4>
    <br />
    <h5 style="text-align:left" ; !important"><b><u>1.1 Branch Profile</u></b> </h5>
    <textarea class="form-control" style="width:100%"></textarea>
    <div class="mt-3">
        <table  class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th style="width:400px">Non-Financial Information of the Branch:</th>
                    <td colspan="3"></td>
                </tr>
               
            </thead>
            <tbody>
                <tr>
                    <td>Name of Present Branch Manager</td>
                    <td colspan="3"><input style="border:0" class="w-100"/></td>
                   
                </tr>
                <tr>

                
                    <td>Date of Posting</td>
                    <td colspan="3"><input style="border:0" class="w-100" /></td>

                
                </tr>
                <tr>
                    <td>Name of Present Assistant Operation Manager</td>
                    <td colspan="3"><input style="border:0" class="w-100" /></td>
                </tr>
                <tr>
                    <td>Date of Posting</td>
                    <td colspan="3"><input style="border:0" class="w-100" /></td>

                </tr>
                <tr>
                    <td>Name of Previous Branch Manager</td>
                    <td colspan="3"><input style="border:0" class="w-100" /></td>
                </tr>
                <tr>
                    <td>Period of Service</td>
                    <td><input style="border:0" class="w-100" /></td>
                </tr>
                <tr>
                    <td>Name of Previous Present Assistant Operation Manager</td>
                    <td colspan="3"><input style="border:0" class="w-100" /></td>
                </tr>
                <tr>
                    <td>Date of Branch Opened</td>
                    <td colspan="3"><input style="border:0" class="w-100" /></td>
                </tr>
                <tr>
                    <td>Branch Size</td>
                    <td colspan="3"><input style="border:0" class="w-100" /></td>
                </tr>
                <tr>
                    <td><b>Staff Strength</b></td>
                    <td><b>Permanent</b></td>
                    <td><b>Contractual</b></td>
                    <td><b>Total</b></td>

                </tr>
                <tr>
                    <td>Executive/Officer</td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>

                </tr>
                <tr>
                    <td>Clerical/Non-Clerical</td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>

                </tr>
                <tr>
                    <td>Naib Qasid, Guard, Driver, etc</td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>

                </tr>
                <tr>
                    <td><b>Total</b></td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>

                </tr>
                <tr>
                    <td>Fraud/Forgery during Audit Period</td>
                    <td colspan="3"><input style="border:0" class="w-100" /></td>
                </tr>
                <tr>
                    <td>Last Audit Risk Rating</td>
                    <td colspan="3"><input style="border:0" class="w-100" /></td>
                </tr>
                <tr>
                    <td>Penalities Imposed during Audit Period</td>
                    <td colspan="3"><input style="border:0" class="w-100" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-3">
        <table class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th style="width:400px"><b>On Spot Recovery</b></th>
                    <td colspan="4"></td>
                    
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td><b>Total Amount Involved</b></td>
                    <td><b>Recovery Effected due to Excess payment to employees</b></td>
                    <td><b>Recovery Effected due to irregular lending of Loan</b></td>
                    <td><b>Total amount Recovered</b></td>


                </tr>
                <tr>


                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>


                </tr>
             
            </tbody>
        </table>
    </div>
    <div class="mt-3">
        <table class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th style="width:400px"><b>On Spot Settlement</b></th>

                    <td colspan="4"></td>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td><b>Para Raised</b></td>
                    <td><b>Para Settled By team</b></td>
                    <td><b>Balance</b></td>
                    <td><b>Para Settled By SVP</b></td>
                    <td><b>Outstanding</b></td>



                </tr>
                <tr style="width:100%">


                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>



                </tr>

            </tbody>
        </table>
    </div>
    <div class="mt-3">
        <table class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th style="width:500px" colspan="12"><b><span style="float:left">Target Vs Achievement Information</span><span style="float:right">(Rs in Million)</span></b></th>

                   
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td><b>Particular</b></td>
                    <td><b>Target December 31,2023</b></td>
                    <td><b>Achieved December 31,2023</b></td>
                    <td><b>Variance %</b></td>
                    <td><b>Target December 31,2022</b></td>
                    <td><b>Achieved December 31,2022</b></td>
                    <td><b>Variance %</b></td>




                </tr>
                <tr>


                    <td>
                        <input style="border:0" class="w-100" />
                    </td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>
                    <td><input style="border:0" class="w-100" /></td>


                </tr>

            </tbody>
        </table>
    </div>
</div>
<br />
<br />
<hr />

<div class="col-md-12">
    <h4 style="text-align:center" ; !important"><b>Target Vs Achievements</b> </h4>
    <textarea class="form-control template_box" style="width:100%" rows="7" id=""></textarea>
</div>

<br />
<br />

<div class="col-md-12">
    <h4 style="text-align:center" ; !important"><b>Operation Performance</b> </h4>
    <textarea class="form-control template_box" style="width:100%" rows="7" id=""></textarea>
</div>

<br />
<br />
<div class="col-md-12">
    <h4 style="text-align:center" ; !important"><b>Expense Analysis</b> </h4>
    <textarea class="form-control template_box" style="width:100%" rows="7" id=""></textarea>
</div>

<br />
<br />

<div class="col-md-12">
    <h4 style="text-align:center" ; !important"><b>Income Analysis</b> </h4>
    <textarea class="form-control template_box" style="width:100%" rows="7" id=""></textarea>
</div>

<br />
<br />
<hr />