@{
    ViewData["Title"] = "Audit_Plan_Engagement";
    Layout = "_Layout";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#searchTableRecord").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#A_P_E_T tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });


    });

    function getauditplanengagement() {

        var bid = $('#auditCriteriaPeriodField option:selected').attr('id');
        if (bid != 0) {
            $.ajax({
                url: "/ApiCalls/getauditplanengagement",
                type: "POST",
                data: {
                    'b_id': bid
                },
                cache: false,
                success: function (data) {
                   // console.log(data);
                    $('#A_P_E_T tbody').empty();
                    //console.log(data);
                    $.each(data, function (i, v) {
                        console.log(v);
                        $('#A_P_E_T tbody').append('<tr><td>' + v.auditperiod + '</td><td>' + v.parenT_OFFICE + '</td><td>' + v.enitiY_NAME + '</td><td class="pr-2">' + v.audiT_STARTDATE.split('T')[0] + '</td><td>' + v.audiT_ENDDATE.split('T')[0] + '</td><td>' + v.traveL_DAY + '</td><td>' + v.revenuE_RECORD_DAY + '</td><td>' + v.discussioN_DAY + '</td><td>' + v.teaM_NAME + '</td><td>' + v.status + '</td> </tr>')
                    });
                },
                dataType: "json",
            });
        }
    }</script>

<div class="mt-3 mb-4">
    <h3 style="color: #45c545;">Audit Plan Engagement</h3>


</div>
<!--<div class="panel panel-default">
    Default panel contents
<div class="panel-heading"> </div>
<div class="panel-body">
    <p>...</p>
</div>

List group
<ul class="list-group">
    <li class="list-group-item">Branch Special Audit</li>
    <li class="list-group-item">SAM Protfolio </li>
    <li class="list-group-item">Budget Assesment</li>
    <li class="list-group-item">Profitabilty Assesment of the branches</li>
    <li class="list-group-item">Inspection</li>
</ul>
-->
<div class="row col-md-12 mt-2">

    <div class="row col-md-12">
        <label><b>Audit Period</b></label>
        <select id="auditCriteriaPeriodField" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0" selected>--Select Audit Period--</option>
            @{
                if (ViewData["AuditPeriodList"] != null)
                {

                    foreach (var period in (dynamic)(ViewData["AuditPeriodList"]))
                    {
                        <option id="@period.AUDITPERIODID" value="@period.AUDITPERIODID">@period.DESCRIPTION</option>
                    }

                }
            }
        </select>


    </div>
    <!--- <div class="row col-md-6">
          <label><b> Entity Types</b></label>
          <select id="A_dept" onchange="ShowBranchInfoBox();" class="form-select form-control" aria-label="Default select example">
              <option value="0" id="0">--Select Entity Types--</option>


          </select>
      </div>-->

</div>
<div class="row col-md-12 w-100 mt-3">
    <button onclick="getauditplanengagement();" class="btn btn-primary">Find</button>
</div>
<div class="row col-md-12 mt-3 mb-2">
   
        <input class="form-control" id="searchTableRecord" type="text" placeholder="Search Results..">
   
</div>


<div class="mt-3">
    <table id="A_P_E_T" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th>Audit Period</th>
                <th>Parent/Reporting Office</th>
                <th>Entity Name</th>
                <th>Audit Period Start Date</th>
                <th>Audit Period End Date</th>
                <th>Travel Days</th>
                <th>Revenue Record Review Day</th>
                <th>Discussion Day</th>
                <th>Team Name</th>
                <!--<th>Member Name</th>-->
                <th>Status</th>




            </tr>
        </thead>
        <tbody>
         
        </tbody>
    </table>
</div>


