@{
    ViewData["Title"] = "Report ~ Para Position Analysis";
    Layout = "_Layout";
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#searchTableRecord").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#observation_panel tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });



    })

    function getAuditEngagementDetials() {

        if ($('#auditedByField').val() == 0) {
            alert("Select Audited By Department");
            return;
        }

        if ($('#auditPeriodField').val() == 0) {
            alert("Select Audit Period");
            return;
        }

        $('#observation_panel tbody').empty();
        $.ajax({
            url: "/ApiCalls/get_audit_plan_engagement_detailed_report",
            type: "POST",
            data: {
                'AUDITED_BY': $('#auditedByField').val(),
                'PERIOD_ID': $('#auditPeriodField').val()
            },
            cache: false,
            success: function (data) {


                $.each(data, function (i, v) {

                    $('#observation_panel tbody').append('<tr><td align="center"> ' + ++i + '</td><td  align="left">' + v.enG_ID + '</td><td  align="left">' + v.reportinG_OFFICE + '</td><td align="left">' + v.entitY_NAME + '</td><td align="left">' + v.audiT_START_DATE.split(" ")[0] + '</td><td align="left">' + v.audiT_END_DATE.split(" ")[0] + '</td><td align="left">' + v.totaL_DAYS + '</td><td align="left">' + v.enG_STATUS + '</td></tr>');

                });


            },
            dataType: "json",
        });


    }


</script>
<div class="row col-md-12 mt-1">

    <h3 style="color: #45c545;">Audit Plan Engagements Detail</h3>

</div>



<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <label><b>Audited By</b></label>
    </div>
    <div class="col-md-4">
        <select id="auditedByField" class="form-control form-select">
            <option id="0" value="0" selected="selected">--Select Audited By Department--</option>


            @{
                if (ViewData["AuditDepartmentList"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["AuditDepartmentList"]))
                    {
                        <option value="@item.ENTITY_ID">@item.NAME</option>
                    }
                }
            }



        </select>
    </div>


    <div class="col-md-2">
        <label><b>Audit Period</b></label>
    </div>
    <div class="col-md-4">
        <select id="auditPeriodField" class="form-control form-select">
            <option id="0" value="0" selected="selected">--Select Audit Period--</option>


            @{
                if (ViewData["AuditPeriodList"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["AuditPeriodList"]))
                    {
                        <option value="@item.AUDITPERIODID">@item.DESCRIPTION</option>
                    }
                }
            }



        </select>
    </div>
</div>


<div class="row col-md-12 mt-3">

    <button onclick="getAuditEngagementDetials();" class="btn btn-danger offset-md-9 col-md-3">Search</button>
</div>

<div class="row col-md-12 mt-3">
    <input class="form-control" id="searchTableRecord" type="text" placeholder="Search..">
</div>

<div class="row mt-3 col-md-auto">
    <table id="observation_panel" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important;">
            <tr>
                <th class="col-md-auto">Sr. No.</th>
                <th class="col-md-auto ">ENG ID</th>
                <th class="col-md-auto ">Reporting Office</th>
                <th class="col-md-auto ">Entity Name</th>
                <th class="col-md-auto text-center">Audit Start Date</th>
                <th class="col-md-auto text-center">Audit End Date</th>
                <th class="col-md-auto text-center">Total Days</th>
                <th class="col-md-auto text-center">Status</th>
                <th class="col-md-auto"></th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
