@{
    ViewData["Title"] = "CNIC Loan Detials";
    Layout = "_Layout";
}

<script type="text/javascript">
    var g_cnic = 0;
    $('#document').ready(function () {

        var url_string = window.location;
        var url = new URL(url_string);
        g_cnic = url.searchParams.get("cnic");
        getCnicLoanDetail();

    });

   
    function getCnicLoanDetail() {

        
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_cnic_loan_detail_report",
            type: "POST",
            data: {
                'CNIC': g_cnic,              
            },
            cache: false,
            success: function (data) {


                $.each(data, function (i, v) {

                    $('#gldetailtab tbody').append('<tr><td class="text-center">' + v.cnic + '</td><td class="text-right">' + v.loaN_CASE_NO + '</td><td>' + v.customername + '</td>  <td class="text-left">' + v.glsubname + '</td><td class="text-right">' + v.disB_DATE.split(" ")[0] + '</td> <td class="text-center">' + v.lasT_TRANSACTION_DATE.split(" ")[0] + '</td><td class="text-right">' + v.disB_STATUSID + '</td><td class="text-right">' + v.lasT_RECOVERY_AMOUNT + '</td><td class="text-center">' + v.principle + '</td><td class="text-center">' + v.markup + '</td><td><a href="'+g_asiBaseURL+'/Reports/cnic_default_loan_report?cnic=' + g_cnic + '&disb_id=' + v.loaN_DISB_ID + '">Details</a></td></tr>')

                });
            },
            dataType: "json",
        });
    }


</script>

<div class="row col-md-12 mt-3">
    <h4 style="display: block; color: #45c545;">CNIC Loan Details</h4>
</div>



<div class="row col-md-12 mt-3">
    <div class="row col-md-12">
        <table id="gldetailtab" class="col-md-12 table table-bordered table-hover mt-1 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto">CNIC</th>
                    <th class="col-md-auto">LC No.</th>
                    <th class="col-md-auto">Customer Name</th>
                    <th class="col-md-auto">GL Sub Name</th>
                    <th class="col-md-auto">Disb Date</th>
                    <th class="col-md-auto">Last Transaction Date</th>

                    <th class="col-md-auto">Disb Status</th>
                    <th class="col-md-auto">Last Recovery</th>
                    <th class="col-md-auto">Principle</th>
                    <th class="col-md-auto">Markup</th>
                    <th class="col-md-auto"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>


        </table>


    </div>
</div>