@{
    ViewData["Title"] = "Report ~ Compliance Progress Report";
    Layout = "_Layout";
}

<script type="text/javascript">

    $(document).ready(function () {

    })

    function getComplianceProgressReport() {
        destroyDatatable('progressReport_panel');
        if($('#roleSelectionField').val()=="0"){
            return false;
        }
        if ($('#roleSelectionField').val() == "R") {
            $('#theadTitle').html("Recommended for Settlement");
        } else if ($('#roleSelectionField').val() == "A") {
            $('#theadTitle').html("Settled");
        }
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_compliance_progress_report",
            type: "POST",
            data: {
                "ROLE_TYPE": $('#roleSelectionField').val()
            },
            cache: false,
            success: function (data) {

                var t_c=0;
                var t_rb=0;
                var t_s=0;
                var t_p=0;
                $.each(data, function (i, v) {
                    t_c+= parseInt(v.total);
                    t_rb += parseInt(v.referreD_BACK);
                    t_s += parseInt(v.recommended);

                    var pending = parseInt(v.total) - (parseInt(v.referreD_BACK) + parseInt(v.recommended));
                    t_p += parseInt(pending);
                    $('#progressReport_panel tbody').append('<tr><td class="text-center"> ' + ++i + '</td><td class="text-center">' + v.ppno + '</td><td class="text-left" >' + v.name + '</td><td class="text-right">' + v.total + '</td><td class="text-right">' + v.referreD_BACK + '</td><td class="text-right">' + v.recommended + '</td><td class="text-right">' + pending + '</td>><td class="text-right">' + v.lasT_LOGIN_ON + '</td><td class="text-center"><a href="#" onclick="event.preventDefault();getComplianceProgressDetails(' + v.ppno + ');">Details</a></td></tr>');

                    });

                $('#progressReport_panel tbody').append('<tr><td></td><td></td><td><b>Total</b></td><td class="text-right">' + t_c + '</td><td class="text-right">' + t_rb + '</td><td class="text-right">' + t_s + '</td><td class="text-right">' + t_p + '</td><td class="text-right"></td><td class="text-center"></td></tr>');
                initializeDataTable('progressReport_panel');

            },
            dataType: "json",
        });
    }

    function getComplianceProgressDetails(ppno){
        $('#complianceProgressReportDetailModel').modal('show');
        destroyDatatable('progressReportdetails_panel');
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_compliance_progress_report_details",
            type: "POST",
            data: {
                "ROLE_TYPE": $('#roleSelectionField').val(),
                    "PP_NO": ppno
            },
            cache: false,
            success: function (data) {
                var t_c = 0;
                var t_rb = 0;
                var t_s = 0;
                var t_p = 0;
                $.each(data, function (i, v) {
                    t_c += parseInt(v.total);
                    t_rb += parseInt(v.referreD_BACK);
                    t_s += parseInt(v.recommended);
                    var pending = parseInt(v.total) - (parseInt(v.referreD_BACK) + parseInt(v.recommended));
                    t_p += parseInt(pending);
                    $('#progressReportdetails_panel tbody').append('<tr><td class="text-center"> ' + ++i + '</td><td class="text-left">' + v.parenT_NAME + '</td><td class="text-center">' + v.entitY_CODE + '</td><td class="text-left">' + v.entitY_NAME + '</td><td class="text-right">' + v.total + '</td><td class="text-right">' + v.referreD_BACK + '</td><td class="text-right">' + v.recommended + '</td><td class="text-right">' + pending + '</td></tr>');

                });
                initializeDataTable('progressReportdetails_panel');

            },
            dataType: "json",
        });

    }


</script>

<div class="row col-md-12 mt-3">

    <h3 style="color: #45c545;">Compliance Progress Report</h3>

    <div class="row col-md-12">
        <label class="font-weight-bold">Select Role</label>
        <select id="roleSelectionField" class="form-control" onchange="getComplianceProgressReport();">

            <option value="0">--Select Role--</option>
            <option value="R">Reviewer (Settlement Officer)</option>
            <option value="A">Authorizer (Unit Head Compliance)</option>
        </select>
    </div>
    <div class="row mt-3 col-md-12">

        <table id="progressReport_panel" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important;">
                <tr>
                    <th class="col-md-auto">Sr. No.</th>
                    <th class="col-md-auto">PP No.</th>
                    <th class="col-md-auto">Employee Name</th>
                    <th class="col-md-auto">Total Compliances</th>
                    <th class="col-md-auto">Referred Back</th>
                    <th id="theadTitle" class="col-md-auto">Recommended for Settlement</th>
                    <th class="col-md-auto">Under Consideration</th>
                    <th class="col-md-auto">Last Login On</th>
                    <th class="col-md-auto"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div id="complianceProgressReportDetailModel" class="modal" tabindex="-1" role="dialog">
    <div style="max-width:90% !important" class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Compliance Unit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row col-md-12 mt-3">
                    <table id="progressReportdetails_panel" class="table table-hover table-bordered table-hover mt-3 table-striped">
                        <thead style="background-color: rgb(181 229 117 / 93%) !important;">
                            <tr>
                                <th class="col-md-auto">Sr. No.</th>
                                <th class="col-md-auto">Reporting Office</th>
                                <th class="col-md-auto">Entity Code</th>
                                <th class="col-md-auto">Entity Name</th>
                                <th class="col-md-auto">Total Compliances Received</th>
                                <th class="col-md-auto">Referred Back</th>
                                <th class="col-md-auto">Found Satisfactory</th>
                                <th class="col-md-auto">Pending</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>


                <div class="modal-footer mt-2">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
