@{
    ViewData["Title"] = "FAD_Branch_Audit_Status";
    Layout = "_Layout";
}
<script>
    $(document).ready(function () {
        $("#searchTableRecord").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#A_P_E_T tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });


    });
</script>

    <div class="row col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">FAD Branch Audit Status</h3>
    </div>

    <div class="row col-md-12 mt-2">
        <div style=" width:155px">
        <label for="periodStartModalField"><b>Audit Cluster</b><span class="text-danger">*</span></label>
        </div>
        <div class=" col-md-5 mr-1">
            <select id="entitySelectField" onchange="" class="form-control form-select">
            <option value="0" id="0">--Select Audit Cluster--</option>
            </select>
        </div>

        <div style=" width:135px">
            <label for="periodEndModalField"><b>Branch Name</b><span class="text-danger">*</span></label>
        </div>
        <div style=" width:545px">
            <select id="entitySelectField" onchange="" class="form-control form-select">
                <option value="0" id="0">--Select Branch Name--</option>
            </select>
        </div>
    </div>



    <div class="row col-md-12 mt-1">
        <button id="findButton" onclick="" class="btn btn-danger" style="margin-left:auto;">Search</button>

    </div>




    <div class="row col-md-12 mt-3 mb-2">

        <input class="form-control" id="searchTableRecord" type="text" placeholder="Search Results..">

    </div>

    <div class="row col-md-12 mt-3">
        <table id="zoneiwseperformance" class="table table-hover table-bordered table-hover mt-3 table-striped" style="text-align:center">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto" rowspan="2">Sr. No</th>
                <th class="col-md-auto" rowspan="2">Audit Cluster</th>


                    <th class="col-md-auto" rowspan="2">Operational Zone</th>

                    <th class="col-md-auto" rowspan="2">Branch Name</th>
                    <th class="col-md-auto" colspan="4">Audit Status</th>





                </tr>
                <tr>
                    <td class="col-md-auto">Executed</td>
                    <td class="col-md-auto">Joined</td>
                    <td class="col-md-auto">Planned</td>
                    <td class="col-md-auto">Pending</td>

                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>
    <div class="col-md-12 offset-md-12 mt-4">
        <button id="printPreview_btn" class="btn btn-danger" style="float:right; margin-bottom:10px;">Download Report/Print</button>
    </div>
