@{
    ViewData["Title"] = "FAD_Monthly_Review";
    Layout = "_Layout";
}

<script type="text/javascript">

    $(document).ready(function () {
        $('#entityTypeSelectionField').select2();

    });

    function entityTypeSelectionChangeEvent() {
        if ($('#entityTypeSelectionField').val() != 0) {
            destroyDatatable('fadMonthlyReviewGrid');
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/get_fad_monthly_review_paras_for_entity_type_id",
                type: "POST",
                data: {
                    "ENT_TYPE_ID": $('#entityTypeSelectionField').val(),
                    "S_DATE": $('#periodStartModalField').val(),
                    "E_DATE": $('#periodEndModalField').val()
                },
                cache: false,
                success: function (data) {
                    var t_r1 = 0;
                    var t_r2 = 0;
                    var t_r3 = 0;

                    $.each(data, function (i, v) {
                        var total = parseInt(v.openinG_BALANCE) + parseInt(v.parA_ADDED);
                        t_r1 += parseInt(v.r1);
                        t_r2 += parseInt(v.r2);
                        t_r3 += parseInt(v.r3);

                        $('#fadMonthlyReviewGrid tbody').append('<tr><td>' + ++i + '</td><td>' + v.reportinG_OFFICE + '</td><td>' + v.chilD_CODE + '</td><td>' + v.placE_OF_POSTING + '</td><td>' + v.openinG_BALANCE + '</td><td>' + v.parA_ADDED + '</td><td>' + total + '</td><td>' + v.settled + '</td><td>' + v.outstanding + '</td><td align="right">' + v.r1 + '</td><td align="right">' + v.r2 + '</td><td align="right">' + v.r3 + '</td></tr>')
                    });
                    initializeDataTable('fadMonthlyReviewGrid');
                },
                dataType: "json",
            });
        }
    }

   

</script>

<div class="row col-md-12">

    <div class="row col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">FAD Monthly Review-Operational Zone Wise Settlement Position</h3>
    </div>
    <div class="row col-md-12 mt-3">
        <label>Entity Type</label>
    </div>
    <div class="row col-md-12 mt-1">
        <select id="entityTypeSelectionField" class="form-select form-control" aria-label="Default select example">
            <option value="0" selected>--Select Entity Type--</option>
            @{
                if (ViewData["EntitiesList"] != null)
                    {
                    foreach (var item in (dynamic)(ViewData["EntitiesList"]))
                        {
                        <option value="@item.CODE" id="@item.CODE">@item.NAME</option>
                        }
                    }
            }
        </select>

    </div>
    <div class="row col-md-12 mt-3">

        <label for="periodStartModalField"><b>Report Period From</b><span class="text-danger">*</span></label>
        <input required type="date" class="form-control" id="periodStartModalField" aria-describedby="brcode" placeholder="Start Date">
    </div>
    <div class="row col-md-12 mt-3">

        <label for="periodEndModalField"><b>Report Period To</b><span class="text-danger">*</span></label>
        <input required type="date" class="form-control" id="periodEndModalField" aria-describedby="brcode" placeholder="End Date">

    </div>
    <div class="row col-md-12 mt-3">

        <button onclick="entityTypeSelectionChangeEvent();" class="btn btn-danger col-md-2 offset-md-10">Search</button>

    </div>
    <div class="row col-md-12 mt-3">
        <table id="fadMonthlyReviewGrid" class="table table-hover table-bordered table-hover mt-3 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto">Sr. No</th>
                    <th class="col-md-auto">Reporting Office</th>
                    <th class="col-md-auto">Entity Code</th>
                    <th class="col-md-auto">Entity Name</th>
                    <th class="col-md-auto">Opening Balance</th>
                    <th class="col-md-auto">Para Added</th>
                    <th class="col-md-auto">Total</th>
                    <th class="col-md-auto">Paras Settled</th>
                    <th class="col-md-auto">Paras Outstanding</th>
                    <th class="col-md-auto">High Risk</th>
                    <th class="col-md-auto">Medium Risk</th>
                    <th class="col-md-auto">Low Risk</th>

                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>

</div>