@{
    ViewData["Title"] = "FAD_Compliance_Pos_Fortnightly_FAD_Level";
    Layout = "_Layout";
}
<script>
    $(document).ready(function () {
        $("#searchTableRecord").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#A_P_E_T tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });


    });
</script>

    <div class="row col-md-12 mt-3">
        <h3 style=" display:block;color: #45c545;">FAD Compliance Position Fortnightly</h3>
    </div>
    <div class="row col-md-12 mt-3 mb-2">

        <input class="form-control" id="searchTableRecord" type="text" placeholder="Search Results..">

    </div>


    <div class="row col-md-12 mt-3">
        <h5 style=" display:block;color: #45c545;">COMPLIANCE AT FAD LEVEL</h5>
    </div>
    <div class="row col-md-12">

        <table id="fadcompliance" class="table table-hover table-bordered table-hover mt-1 table-striped" style="font-size: small; text-align: center">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-auto">Total Compliance Received From Zone At FAD</th>

                    <th class="col-md-auto">Compliance Received On</th>
                    <th class="col-md-auto">Paras Settled By FAD</th>
                    <th class="col-md-auto">Referred Back/Forwarded On</th>


                    <th class="col-md-auto">In Process</th>

                    <th class="col-md-auto">Not Received</th>
                    <th class="col-md-auto">Reference pending for more than 03 days</th>




                </tr>
            </thead>
            <tbody>
                </tbody>
            </table>
        </div>
    <div class="col-md-12 offset-md-12 mt-4">
        <button id="printPreview_btn" class="btn btn-danger" style="float:right; margin-bottom:10px;">Download Report/Print</button>
    </div>


