@{
    ViewData["Title"] = "Main GL Head Summary";
    Layout = "_Layout";
}

<script type="text/javascript">
    $('#document').ready(function () {
        $('#sidebar_policy').hide();
    });
</script>

<div class="row col-md-12 mt-3">
    <h4 style="display: block; color: #45c545;">GL Head Summary</h4>
</div>

<div class="row col-md-12 mt-3">
    <div class="row col-md-12">
        <table class="col-md-12 table-bordered table-hover mt-1 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-2">GL Head</th>
                    <th class="col-md-3">GL Description</th>
                    <th class="col-md-2">Date</th>
                    <th class="col-md-2">Credit</th>
                    <th class="col-md-2">Debit</th>
                    <th class="col-md-1">Balance</th>
                    <th class="col-md-2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Action
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>