@{
    ViewData["Title"] = "GL Head Detials";
    Layout = "_Layout";
}

<script type="text/javascript">

    $('#document').ready(function () {
        var url_string = window.location;
        var url = new URL(url_string);
        var gl_id = url.searchParams.get("glcode");
        $.ajax({
            url: "/ApiCalls/Glhead_Sub_Details",
            type: "POST",
            data: {
                'GL_CODE': gl_id
            },
            cache: false,
            success: function (data) {
                //v = data;

                // console.log(data);

                $.each(data.gL_SUBDETAILS, function (i, v) {

                    $('#gldetailtab tbody').append('<tr><td>' + v.glcode + '</td><td>' + v.glsubname + '</td><td>' + v.datetime.split('T')[0] + '</td>  <td>' + v.runninG_CR + '</td><td>' + v.runninG_DR + '</td> <td>' + v.balance + '</td> </tr>')
                });
            },
            dataType: "json",
        });
    });


</script>

<div class="row col-md-12 mt-3">
    <h4 style="display: block; color: #45c545;">GL Head Details</h4>
</div>

<div class="row col-md-12 mt-3">
    <div class="row col-md-12">
        <table id="gldetailtab" class="col-md-12 table-bordered table-hover mt-1 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-2">GL Head</th>
                    <th class="col-md-3">GL Description</th>
                    <th class="col-md-2">Date</th>
                    <th class="col-md-2">Credit</th>
                    <th class="col-md-2">Debit</th>
                    <th class="col-md-1">Balance</th>


                </tr>
            </thead>
            <tbody>
            </tbody>


        </table>
        <div class="row col-md-12 mt-3">

           <button onclick="history.back()" class="bg-primary" style="color:white">Return</button>

            </div>

        </div>
    </div>