@{
    ViewData["Title"] = "Group Wise Users Count";
    Layout = "_Layout";
}

<script type="text/javascript">
   
    $(document).ready(function () {

        $("#searchTableRecord").on("keyup", function ()        
        
        {
            var value = $(this).val().toLowerCase();
            $("#group_wise_user_grid tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        getGroupWiseUsersCount();
     
    }); 

    function getGroupWiseUsersCount() {

        $('#group_wise_user_grid tbody').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_group_wise_users_count",
            type: "POST",
            data: {
               
            },
            cache: false,
            success: function (data) {

                var srNo = 1;
                $.each(data, function (index, row) {
                  
                    $('#group_wise_user_grid tbody').append('<tr><td>' + srNo + '</td><td>' + row.g_NAME+ '</td><td>' + row.u_COUNT+ '</td></tr>');
                    srNo++;
                });

            },
            dataType: "json",
        });


    }
</script>

<div class="mt-3 mb-4">
    <h3 style="color: #45c545;">Group Wise Users Count</h3>
</div>

<div class="mt-3">
    <div class="col-md-12 px-0">
        <input class="form-control" id="searchTableRecord" type="text" placeholder="Search..">
    </div>

    <br>
    <table id="group_wise_user_grid" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th>Sr. No.</th>
                <th>Group Name</th>
                <th>Total Users</th>
              
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

