@{
    ViewData["Title"] = "Expenditure/Income";
    Layout = "_Layout";
}

<style type="text/css">
    .container {
        max-width: 100%;
    }

    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }

    .icon-card {
        margin: 10px;
    }
</style>

<script type="text/javascript">

    var g_engId = 0;
    $(document).ready(function () {
        var url_string = window.location;
        var url = new URL(url_string);
        var eng_id = url.searchParams.get("engId");
        if (typeof eng_id != 'undefined')
            g_engId = eng_id;
        get_gl_details();

        $("#searchTableRecord").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#b_d_T tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });


    });

    function get_gl_details() {

        var bid = $('#b_i').val();
        if (bid != 0) {
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/GetIncomeExpenceDetails",
                type: "POST",
                data: {
                    'b_id': bid,
                    'ENG_ID':g_engId
                },
                cache: false,
                success: function (data) {
                    console.log(data);
                    $('#b_d_T tbody').empty();
                    console.log(data);
                    $.each(data, function (i, v) {
                        console.log(v);
                        $('#b_d_T tbody').append('<tr><td>' + v.name + '</td><td>' + v.glsubname + '</td><td class="pr-2">' + v.glsubcode + '</td><td>' + v.debit + '</td><td>' + v.credit + '</td> </tr>')
                    });
                },
                dataType: "json",
            });
        }
    }</script>
<div class="row col-md-12 mt-3">
    <h4 style="display: block; color: #45c545;">Branch Wise Income And Expenditure Information</h4>
</div>

<!--<div class="row col-md-12 mt-1">

    <div class="row col-md-6 mt-1">
        <label><b>Branch ID</b></label>
        <input id="b_i" class="form-control ml-1" type="number" />
    </div>
</div>
<div class="row col-md-12 mt-3">
    <button onclick="get_gl_details();" class="btn btn-primary">Find</button>
</div>
-->
<div class="row col-md-12">
    <input class="form-control" id="searchTableRecord" type="text" placeholder="Search..">
</div>

<div class="row col-md-12 mt-3">
    <table id="b_d_T" class="col-md-12 table table-hover table-bordered mb-0 mt-3 bg-white table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
              
              
                <th class="col-md-auto">Branch</th>
                <th class="col-md-auto">GL Head Name</th>
                <th class="col-md-auto">GL Sub-Code</th>
              

                <th class="col-md-auto">Credit</th>
                <th class="col-md-auto">Debit</th>



            </tr>
        </thead>
        <tbody style="font-size:medium">
        </tbody>
    </table>

    <div class="row col-md-12 mt-3">

        <button onclick="history.back()" class="btn btn-primary" style="color:white">Return</button>

    </div>
</div>
