@{
    ViewData["Title"] = "Expenditure/Income";
    Layout = "_Layout";
}

<style type="text/css">
    .container {
        max-width: 100%;
    }

    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }

    .icon-card {
        margin: 10px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        get_gl_details();

        $("#searchTableRecord").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#b_d_T tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });


    });

    function get_gl_details() {

        var bid = $('#b_i').val();
        if (bid != 0) {
            $.ajax({
                url: "/ApiCalls/GetIncomeExpenceDetails",
                type: "POST",
                data: {
                    'b_id': bid
                },
                cache: false,
                success: function (data) {
                    console.log(data);
                    $('#b_d_T tbody').empty();
                    console.log(data);
                    $.each(data, function (i, v) {
                        console.log(v);
                        $('#b_d_T tbody').append('<tr><td>' + v.branchid + '</td><td>' + v.glcode + '</td><td class="pr-2">' + v.gldesp + '</td><td class="pl-1, pr-1">' + v.monthend.split('T')[0] + '</td><td>' + v.runninG_CR + '</td><td>' + v.runninG_DR + '</td><td>' + v.balance + '</td> </tr>')
                    });
                },
                dataType: "json",
            });
        }
    }</script>
<div class="row col-md-12 mt-3">
    <h4 style="display: block; color: #45c545;">Branch Wise Income And Expenditure Information</h4>
</div>

<!--<div class="row col-md-12 mt-1">

    <div class="row col-md-6 mt-1">
        <label><b>Branch ID</b></label>
        <input id="b_i" class="form-control ml-1" type="number" />
    </div>
</div>
<div class="row col-md-12 mt-3">
    <button onclick="get_gl_details();" class="btn btn-primary">Find</button>
</div>
-->
<div class="row col-md-12">
    <input class="form-control" id="searchTableRecord" type="text" placeholder="Search..">
</div>

<div class="row col-md-12 mt-3">
    <table id="b_d_T" class="col-md-12 table table-hover table-bordered mb-0 mt-3 bg-white table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>

                <th class="col-md-2">BRANCH ID</th>
                <th class="col-md-2">GL Head</th>
                <th class="col-md-2">GL Description</th>
                <th class="col-md-2">Date</th>
                <th class="col-md-1">Credit</th>
                <th class="col-md-2">Debit</th>
                <th class="col-md-1">Balance</th>


            </tr>
        </thead>
        <tbody style="font-size:medium">
        </tbody>
    </table>

    <div class="row col-md-12 mt-3">

        <button onclick="history.back()" class="btn btn-primary" style="color:white">Return</button>

    </div>
</div>
