@{
    ViewData["Title"] = "Expenditure/Income";
    Layout = "_Layout";
}

<div class="row col-md-12 mt-3">
    <h4 style="display: block; color: #45c545;">Expenditure/Income</h4>
</div>

<div class="row col-md-12 mt-3">
<div class="row col-md-12">
<label><b>Income</b></label>
</div>
    <div class="row col-md-12">
        <table class="col-md-12 table table-hover table-bordered table-hover mt-1 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-2">GL Head</th>
                    <th class="col-md-3">GL Description</th>
                    <th class="col-md-2">Budget</th>
                    <th class="col-md-3">Revenue Amount</th>
                    <th class="col-md-2">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Details
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row col-md-12 mt-3">
    <div class="row col-md-12">
        <label><b>Expenditure</b></label>
    </div>
    <div class="row col-md-12">
        <table class="col-md-12 table table-hover table-bordered table-hover mt-1 table-striped">
            <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                <tr>
                    <th class="col-md-2">GL Head</th>
                    <th class="col-md-3">GL Description</th>
                    <th class="col-md-2">Budget</th>
                    <th class="col-md-3">Expenditure</th>
                    <th class="col-md-2">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" onclick="window.location.href = './';" class="btn btn-link text-danger btn-sm btn-rounded">
                            Details
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row col-md-12 mt-3">
    <div class="row col-md-12">
        <label><b>Profitablity</b></label>
    </div>
    <center>
        <div class="row col-md-12">
            <table class="col-md-12 table table-hover table-bordered table-hover mt-1 table-striped">
                <thead class="col-md-12">
                    <tr>
                        <th class="col-md-4">Total Revenue Generated</th>
                        <td class="col-md-4"></td>
                    </tr>
                    <tr>
                        <th class="col-md-4">Total Expenditure</th>
                        <td class="col-md-4"></td>
                    </tr>
                    <tr>
                        <th class="col-md-4">Profit/Loss</th>
                        <td class="col-md-4"></td>
                    </tr>
                </thead>
            </table>
        </div>
    </center>
</div>