﻿@{
 
    ViewData["Title"] = "CDMS Master Transactions Details Asad";
    Layout = "_Layout";
}
<script type="text/javascript">
    function getrelation(parentEntityId = 0, userEntityId = 0) {
        $('#controlingsearch').empty();
        $('#childposting').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/getparentrelForDashboardPanel",
            type: "POST",
            data: {
                'ENTITY_REALTION_ID': $('#RelationshipField option:selected').val(5)
            },


            cache: false,
            success: function (data) {


                $('#controlingsearch').append('<option id="0" value="0">--Select Controlling/Reporting Office--</option>');
                $.each(data, function (index, contof) {

                    var selected = '';
                    if (contof.entitY_ID == parentEntityId)
                        selected = 'selected="selected"';

                    $('#controlingsearch').append('<option ' + selected + ' value="' + contof.entitY_ID + '" id="' + contof.entitY_REALTION_ID + '">' + contof.description + '</option>')
                });
                if (userEntityId != 0)
                    getplacepost(userEntityId);
            },
            dataType: "json"
        });



    }
    function getplacepost(userEntityId = 0) {
        $('#childposting').empty();

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/getpostplaceForDashboardPanel",
            type: "POST",
            data: {
                'E_R_ID': $('#controlingsearch option:selected').val()
            },


            cache: false,
            success: function (data) {
                $('#childposting').append('<option id="0" value="0" selected="selected">--Select Place of Posting--</option>');
                $.each(data, function (index, gpp) {

                    var selected = '';
                    if (gpp.entitY_ID == userEntityId)
                        selected = 'selected="selected"';
                    $('#childposting').append('<option ' + selected + ' value="' + gpp.entitY_ID + '" id="' + gpp.entitY_ID + '">' + gpp.c_NAME + '</option>');
                });
            },
            dataType: "json"
        });

    }

      function getCDMSMasterTransaction(){
           // if($('#childposting').val()=="0"){
           //     alert("Select entity to proceed");
           //     return;
           // }
           //  if($('#startDateField').val()==""){
           //     alert("Select start date to proceed");
           //     return;
           // }
           //  if($('#endDateField').val()==""){
           //     alert("Select end date to proceed");
           //     return;
           // }
              // var selectedValue = $('#auditPeriodField').val(); // Make sure this input exists!
           destroyDatatable('cdms_master_tr_grid');
            $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_CDMS_master_transactions",
            type: "POST",
            data: {                
                'ENTITY_ID':  $('#childposting').val(),
                'START_DATE': $('#startDateField').val(),
                'END_DATE': $('#endDateField').val(),
                'CNIC_NO': $('#cnicNumField').val(),
                'ACC_NO': $('#accNumField').val()

            },
            cache: false,
            success: function (data) {
                    console.log(data);
               $.each(data, function (index, item) {
                var row = `<tr>
                    <td>${index + 1}</td>
                    <td>${item.entitY_NAME}</td>
                    <td>${item.olD_ACCOUNT_NO}</td>
                    <td>${item.cnic}</td>
                    <td>${item.accounT_NAME}</td>
                    <td>${item.description}</td>
                    <td>${item.remarks}</td>
                    <td>${formatDate(item.transactioN_DATE)}</td>
                    <td>${item.authorizatioN_DATE}</td>
                    <td>${item.dR_AMOUNT}</td>
                    <td>${item.cR_AMOUNT}</td>
                </tr>`;

                $("#cdms_master_tr_grid tbody").append(row);           
            
            });

            initializeDataTable('cdms_master_tr_grid');
            },
            dataType: "json"
        });


        //alert(selectedValue);
    }

      // });
//}

</script>
    <div class="row w-100">
    <div class="col-md-12 mt-3">
        <h3 style="color: #45c545;">CDMS Master Account Transactions</h3>
        <div class="col-md-12 mt-3">
            <h6 style="color: #ff051d;">Details of any Account by fetching Account No / CNIC can be check. </h6>
            <h6 style="color: #ff051d;">If you need transaction of any particular branch then only Start Date will be taken due to system load </h6>
            </div>
        <div class="row w-100">
       <div class="row col-md-12 mt-3">
            <div class="col-md-2">
                <label class="text-bold">Regional Office</label>
            </div>
            <div class="col-md-4">
                <select id="controlingsearch" onchange="getplacepost();" class="form-control form-select">
                    <option id="0" value="0" selected="selected">--Select Regional Office--</option>

                        @{
                            if (ViewData["regionoffice"] != null)
                            {
                                foreach (var item in (dynamic)(ViewData["regionoffice"]))
                                {
                                    <option value="@item.ENTITY_ID" id="@item.ENTITY_ID">@item.DESCRIPTION</option>
                                }
                            }
                        }

                </select>
            </div>


            <div class="col-md-2">
                <label class="text-bold">Branch</label>
            </div>
            <div class="col-md-4">
                <select id="childposting" class="form-control form-select">
                    <option id="0" value="0" selected="selected">--Select Branch--</option>

                </select>
            </div>
        </div>
    </div>
</div>
       

                    
<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <label>Start Date</label>
    </div>
    <div class="col-md-4">
        <input id="startDateField" type="date" class="form-control" />
    </div>
    <div class="col-md-2">
        <label>End Date</label>
    </div>
    <div class="col-md-4">
        <input id="endDateField" type="date" class="form-control" />
    </div>
</div>

<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <label>CNIC</label>
    </div>
    <div class="col-md-4">
        <input id="cnicNumField" type="number" class="form-control" />
    </div>
    <div class="col-md-2">
        <label>Account Number</label>
    </div>
    <div class="col-md-4">
        <input id="accNumField" type="number" class="form-control" />
    </div>
</div>
<div class="row col-md-12 mt-3">
    <button onclick="getCDMSMasterTransaction();" class="btn btn-danger offset-md-9 col-md-3">Search</button>
</div>


<div class="row col-md-12">
    <table class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <div class="row col-md-12 mt-3">
                <table id="cdms_master_tr_grid" class="table table-hover table-bordered table-striped mt-3">
                    <thead style="background-color: rgb(181 229 117 / 93%) !important;">
                        <tr>
                            <th class="col-md-auto">Sr No.</th>
                            <th class="col-md-auto">Entity Name</th>
                            <th class="col-md-auto">Account No</th>
                            <th class="col-md-auto">CNIC</th>
                            <th class="col-md-auto">Account Title</th>
                            <th class="col-md-auto">Details </th>
                            <th class="col-md-auto">Remarks</th>
                            <th class="col-md-auto">Transaction Date</th>
                            <th class="col-md-auto">Authorization Date</th>
                            <th class="col-md-auto">Debit Amount</th>
                            <th class="col-md-auto">Credit Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

    