﻿@{
 
    ViewData["Title"] = "CDMS Master Transactions Details";
    Layout = "_Layout";
}


<script type="text/javascript">
   
    function getrelation(parentEntityId = 0, userEntityId = 0) {


        $('#controlingsearch').empty();
        $('#childposting').empty();
        $.ajax({
               url: g_asiBaseURL + "/ApiCalls/getparentrelForParaPositionReport",
               type: "POST",
               data: {
                   'ENTITY_REALTION_ID': $('#RelationshipField option:selected').val()
               },


               cache: false,
               success: function (data) {


                   $('#controlingsearch').append('<option id="0" value="0">--Select Controlling/Reporting Office--</option>');
                   $.each(data, function (index, contof) {

                       var selected = '';
                       if (contof.entitY_ID == parentEntityId)
                           selected = 'selected="selected"';

                       $('#controlingsearch').append('<option ' + selected + ' value="' + contof.entitY_ID + '" id="' + contof.entitY_REALTION_ID + '">' + contof.description + '</option>')
                   });
                   if (userEntityId != 0)
                       getplacepost(userEntityId)
               },
               dataType: "json",
           });
       }

       function getplaceposting(userEntityId = 0) {
           $('#childposting').empty();

           $.ajax({
               url: g_asiBaseURL + "/ApiCalls/getpostplaceForParaPositionReport",
               type: "POST",
               data: {
                   'E_R_ID': $('#controlingsearch option:selected').val()
               },

               cache: false,
               success: function (data) {
                   $('#childposting').append('<option id="0" value="0" selected="selected">--Select Place of Posting--</option>');
                   $.each(data, function (index, gpp) {
                       var selected = '';
                       if (gpp.entitY_ID == userEntityId)
                           selected = 'selected="selected"';
                       $('#childposting').append('<option ' + selected + ' value="' + gpp.entitY_ID + '" id="' + gpp.entitY_ID + '">' + gpp.c_NAME + '</option>')
                   });
               },
               dataType: "json",
           });
       }

       function getCDMSMasterTransaction(){
           if($('#childposting').val()=="0"){
               alert("Select entity to proceed");
               return;
           }
            if($('#startDateField').val()==""){
               alert("Select start date to proceed");
               return;
           }
            if($('#endDateField').val()==""){
               alert("Select end date to proceed");
               return;
           }

           destroyDatatable('cdms_master_tr_grid');
            $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_CDMS_master_transactions",
            type: "POST",
            data: {
                'AUDIT_PERIOD_ID': selectedValue
                'ENTITY_ID':  $('#childposting').val(),
                'START_DATE': $('#startDateField').val(),
                'END_DATE': $('#endDateField').val(),
                'CNIC_NO': $('#cnicNumField').val(),
                'ACC_NO': $('#accNumField').val()

            },
            cache: false,
            success: function (data) {
                console.log(data);
                //$.each(data, function (index, row) {
                //    $('#settled_paras tbody').append('<tr><td>' + ++index + '</td><td>' + row.reportinG_OFFICE + '</td><td>' + row.placE_OF_POSTING + '</td> <td>' + row.audiT_PERIOD + '</td><td>' + row.parA_NO + '</td><td>' + row.gist + '</td><td>' + row.auditeD_BY + '</td><td>' + row.settleD_ON + '</td></tr>');

                //});


               $.each(data, function (index, item) {
                var row = `<tr>
                    <td>${index + 1}</td>
                    <td>${item.entitY_NAME}</td>
                    <td>${item.olD_ACCOUNT_NO}</td>
                    <td>${item.cnic}</td>
                    <td>${item.accounT_NAME}</td>
                    <td>${item.customeR_NAME}</td>
                    <td>${item.description}</td>
                    <td>${item.remarks}</td>
                    <td>${item.transactioN_DATE}</td>
                    <td>${item.authorizatioN_DATE}</td>
                    <td>${item.dR_AMOUNT}</td>
                    <td>${item.cR_AMOUNT}</td>
                    <td>${item.tO_ACCOUNT_TITLE}</td>
                    <td>${item.instrumenT_NO}</td>
                </tr>`;

                $("#cdms_master_tr_grid tbody").append(row);
            });

            initializeDataTable('cdms_master_tr_grid');
            },
            dataType: "json",
        });


        alert(selectedValue);
    }

       }

</script>

<div class="row col-md-12">
    <div class="col-md-12">

        <div class="row col-md-12 mt-1">
            <div class="col-md-2">
                <label>Relationship Type</label>
            </div>

            <div class="col-md-10">
                <select id="RelationshipField" onchange="getplaceposting();" class="form-control form-select">
                    <option id="0" value="0" selected="selected">--Select Relationship Type--</option>              
                    @{
                        if (ViewData["Userrelationship"] != null)
                        {
                            foreach (var item in (dynamic)(ViewData["Userrelationship"]))
                            {
                                <option value="@item.ENTITY_REALTION_ID" id="@item.ENTITY_REALTION_ID">@item.FIELD_NAME</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>

        <div class="row col-md-12 mt-3">
            <div class="col-md-2">
                <label>Controlling/Reporting Office</label>
            </div>
            <div class="col-md-4">
                <select id="controlingsearch" onchange="getplacepost();" class="form-control form-select">
                    <option id="0" value="0" selected="selected">--Select Controlling/Reporting Office--</option>
                </select>
            </div>

            <div class="col-md-2">
                <label>Place of Posting</label>
            </div>
            <div class="col-md-4">
                <select id="childposting" class="form-control form-select">
                    <option id="0" value="0" selected="selected">--Select Place of Posting--</option>

                </select>
            </div>
        </div>

        <div class="row col-md-12 mt-3">
            <div class="col-md-2">
                <label>Start Date</label>
            </div>
            <div class="col-md-4">
                <input id="startDateField" type="date" class="form-control" />
            </div>
            <div class="col-md-2">
                <label>End Date</label>
            </div>
            <div class="col-md-4">
                <input id="endDateField" type="date" class="form-control" />
            </div>
        </div>

        <div class="row col-md-12 mt-3">
            <div class="col-md-2">
                <label>CNIC</label>
            </div>
            <div class="col-md-4">
                <input id="cnicNumField" type="number" class="form-control" />
            </div>
            <div class="col-md-2">
                <label>Account Number</label>
            </div>
            <div class="col-md-4">
                <input id="accNumField" type="number" class="form-control" />
            </div>
        </div>
        <div class="row col-md-12 mt-3">
            <button onclick="getCDMSMasterTransaction();" class="btn btn-danger offset-md-9 col-md-3">Search</button>
        </div>

        <div class="row col-md-12">
            <table class="table table-hover table-bordered table-hover mt-3 table-striped">
                <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                    <div class="row col-md-12 mt-3">
                        <table id="cdms_master_tr_grid" class="table table-hover table-bordered table-striped mt-3">
                            <thead style="background-color: rgb(181 229 117 / 93%) !important;">
                                <tr>
                                    <th class="col-md-auto">Sr No.</th>
                                    <th class="col-md-auto">Entity Name</th>
                                    <th class="col-md-auto">Old Account No</th>
                                    <th class="col-md-auto">CNIC</th>
                                    <th class="col-md-auto">Account Name</th>
                                    <th class="col-md-auto">Customer Name</th>
                                    <th class="col-md-auto">Description</th>
                                    <th class="col-md-auto">Start Date</th>
                                    <th class="col-md-auto">End Date</th>
                                    <th class="col-md-auto">Status</th>
                                    <th class="col-md-auto">Remarks</th>
                                    <th class="col-md-auto">Transaction Date</th>
                                    <th class="col-md-auto">Authorization Date</th>
                                    <th class="col-md-auto">Debit Amount</th>
                                    <th class="col-md-auto">Credit Amount</th>
                                    <th class="col-md-auto">To Account Title</th>
                                    <th class="col-md-auto">Instrument No</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
