﻿@{
    ViewData["Title"] = "Text Search in Audit Report";
    Layout = "_Layout";
}
<head>
  
    <script type="text/javascript">
        var g_cnic = 0;
        $('#document').ready(function () {

        });
        function findParaByGistKeyword() {
                    destroyDatatable('searchtextTable');
            $.ajax({
                    url: g_asiBaseURL + "/ApiCalls/get_para_text_in_audit_report",
                type: "POST",
                data: {
                    'SEARCH_KEYWORD': $('#gistkeywordSearch').val(),
                },
                cache: false,
                success: function (data) {
                      var tableBody = $('#searchtextTable tbody');
                     $.each(data, function (i, v) {
                         tableBody.append(`
                                      <tr>
                                          <td class="text-center">${i + 1}</td>
                                          <td class="text-center">${v.audiT_ZONE }</td>
                                          <td class="text-center">${v.parenT_NAME }</td>
                                          <td class="text-center">${v.chilD_NAME }</td>
                                          <td class="text-center">${v.audiT_PERIOD }</td>
                                          <td class="text-center">${v.annexure }</td>
                                          <td class="text-center">${v.parA_NO }</td>
                                          <td class="text-left">${v.gisT_OF_PARAS }</td>
                                          <td class="text-left"><div style="max-width:500px !important; overflow-y:auto;">${v.text }</div></td>
                                      </tr>
                                  `);
                              });
                              initializeDataTable('searchtextTable');
                },
                dataType: "json",
            });
        }
    </script>
</head>
<div class="row col-md-12">
    <h4 style="display: block; color: #45c545;">Search Audit Report Paras</h4>
</div>

<div class="row col-md-12 mt-3">
    <label class="font-bold">Text keyword</label>
    <input type="text" class="form-control" id="gistkeywordSearch" />
</div>
<div class="row col-md-12 mt-3">
    <button onclick="findParaByGistKeyword();" class="btn btn-danger col-md-2 offset-md-10">Search</button>
</div>

<div class="row col-md-12 mt-3">
    <table id="searchtextTable" class="table table-hover table-bordered table-striped mt-3">
        <thead style="background-color: rgb(181 229 117 / 93%) !important;">
            <tr>
                <th class="col-md-auto">Sr No.</th>
                <th class="col-md-auto">Audit Zone</th>
                <th class="col-md-auto">Reporting Office</th>
                <th class="col-md-auto">Entity Name</th>
                <th class="col-md-auto">Audit Period</th>
                <th class="col-md-auto">Annexure</th>
                <th class="col-md-auto">Para No.</th>
                <th class="col-md-auto">Gist of Para</th>
                <th class="col-md-auto">Para Text</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>