@{
    ViewData["Title"] = "Settled Paras";
    Layout = "_Layout";
}

<script type="text/javascript">
   
    $(document).ready(function () {    

        getSettledParas();
     
    }); 

    function getSettledParas() {

        $('#settled_paras tbody').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_settled_paras_for_compliance_report",
            type: "POST",
            data: {
               
            },
            cache: false,
            success: function (data) {

                $.each(data, function (index, row) {                  
                    $('#settled_paras tbody').append('<tr><td>' + ++index + '</td><td>' + row.reportinG_OFFICE + '</td><td>' + row.placE_OF_POSTING + '</td> <td>' + row.audiT_PERIOD + '</td><td>' + row.parA_NO + '</td><td>' + row.gist + '</td><td>' + row.auditeD_BY + '</td><td>' + row.settleD_ON + '</td></tr>');
                 
                });

            },
            dataType: "json",
        });


    }
</script>

<div class="mt-3 mb-4">
    <h3 style="color: #45c545;">Settled Paras</h3>
</div>

<div class="mt-3">


    <br>
    <table id="settled_paras" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th class="col-md-auto" >Sr. No.</th>
                <th class="col-md-auto">Reporting Office</th>
                <th class="col-md-auto">Entity Name</th>
                <th class="col-md-auto">Audit Period</th>
                <th class="col-md-auto">Para No</th>
                <th class="col-md-auto">Gist</th>
                <th class="col-md-auto">Audited By</th>
                <th class="col-md-auto">Settled On</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

