@{
    ViewData["Title"] = "Dashboard ~ Zone Wise Analysis";
    Layout = "_Layout";
}

<script type="text/javascript">
    function getrelation(parentEntityId = 0, userEntityId = 0) {


        $('#controlingsearch').empty();
        $('#childposting').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/getparentrelForDashboardPanel",
            type: "POST",
            data: {
                'ENTITY_REALTION_ID': $('#RelationshipField option:selected').val()
            },


            cache: false,
            success: function (data) {


                $('#controlingsearch').append('<option id="0" value="0">--Select Controlling/Reporting Office--</option>');
                $.each(data, function (index, contof) {

                    var selected = '';
                    if (contof.entitY_ID == parentEntityId)
                        selected = 'selected="selected"';

                    $('#controlingsearch').append('<option ' + selected + ' value="' + contof.entitY_ID + '" id="' + contof.entitY_REALTION_ID + '">' + contof.description + '</option>')
                });
                if (userEntityId != 0)
                    getplacepost(userEntityId)
            },
            dataType: "json",
        });



    }
    function getplacepost(userEntityId = 0) {
        $('#childposting').empty();

        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/getpostplaceForDashboardPanel",
            type: "POST",
            data: {
                'E_R_ID': $('#controlingsearch option:selected').val()
            },


            cache: false,
            success: function (data) {
                $('#childposting').append('<option id="0" value="0" selected="selected">--Select Place of Posting--</option>');
                $.each(data, function (index, gpp) {

                    var selected = '';
                    if (gpp.entitY_ID == userEntityId)
                        selected = 'selected="selected"';
                    $('#childposting').append('<option ' + selected + ' value="' + gpp.entitY_ID + '" id="' + gpp.entitY_ID + '">' + gpp.c_NAME + '</option>')
                });
            },
            dataType: "json",
        });

    }
   
    function getAISEntityObservation() {
        destroyDatatable('observation_panel');
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_year_wise_outstanding_observations",
            type: "POST",
            data: {
                'ENTITY_ID': $('#childposting option:selected').val(),
            },
            cache: false,
            success: function (data) {
                g_response = data;
                var sr = 1;
                var t_tparas = 0;
                var t_sparas = 0;
                var t_uparas = 0;             
                var t_hparas = 0;
                var t_mparas = 0;
                var t_lparas = 0;
                $.each(data, function (i, v) {
                    t_tparas += parseInt(v.totaL_PARAS);
                    t_sparas += parseInt(v.settleD_PARA);
                    t_uparas += parseInt(v.uN_SETTLED_PARA);
                    t_hparas += parseInt(v.r1);
                    t_mparas += parseInt(v.r2);
                    t_lparas += parseInt(v.r3);
                    $('#observation_panel tbody').append('  <tr id="' + v.id + '"><td align="center"> ' + sr + '</td> <td align="left">' + v.audiT_PERIOD + '</td> <td align="right">' + v.totaL_PARAS + '</td> <td align="right">' + v.settleD_PARA + '</td> <td align="right">' + v.uN_SETTLED_PARA + '</td> <td align="right" style="background-color: #ff968f;">' + v.r1 + '</td> <td align="right" style="background-color:#f9e10a6b;">' + v.r2 + '</td> <td align="right" style="background-color:#82f386;">' + v.r3 + '</td><td align="center"><a href="#" onclick="getEntityWiseDetails('+v.audiT_PERIOD+');">Details</a></td></tr>');
                    sr++;
                });
                $('#observation_panel tbody').append('<tr><td></td><td align="right"><b>Total</b></td><td align="right">' + t_tparas + '</td><td align="right">' + t_sparas + '</td><td align="right">' + t_uparas + '</td><td align="right">' + t_hparas + '</td><td align="right">' + t_mparas + '</td><td align="right">' + t_lparas + '</td><td></td></tr>')
                initializeDataTable('observation_panel');
            },
            dataType: "json",
        });


    }


       function getEntityWiseDetails(period) {
             $('#viewObservationDetailsModel').modal('show');

           destroyDatatable('observation_detail_model');
          $.ajax({
                url: g_asiBaseURL + "/ApiCalls/get_year_wise_outstanding_observations_detials",
                type: "POST",
                data: {
                    'ENTITY_ID': $('#childposting option:selected').val(),
                    'AUDIT_PERIOD': period
                },
                cache: false,
                success: function (data) {
                    $.each(data, function (i, v) {
                        $('#observation_detail_model tbody').append('<tr id="assignedObRow_' + v.id + '"><td>' + ++i + '</td><td>' + v.entitY_NAME + '</td><td>' + v.audiT_PERIOD + '</td><td>' + v.memO_NO + '</td><td>' + v.gisT_OF_PARAS + '</td><td><a hre="#" class="text-danger text-center" style="cursor:pointer;" onclick="event.preventDefault();viewParaText(\'' + v.reF_P + '\',\'' + v.obS_ID + '\',\'' + v.parA_CATEGORY + '\')"> View Para</a></td></tr>');

                    });
                    initializeDataTable('observation_detail_model');
                },
                dataType: "json",
            });

        
    }

    function viewParaText(refP, obsId, paraCat) {
        $('#viewMemoModel').modal('show');
        $('#viewMemo_memo').html("");
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_all_para_text",
            type: "POST",
            data: {
                'REF_P': refP,
                'OBS_ID': obsId,
                'PARA_CATEGORY': paraCat
            },
            cache: false,
            success: function (data) {
                console.log(data);
                $('#viewMemo_memo').html(data);
            }
        });
    }

   
</script>
<div class="row w-100">

    <div class="col-md-12 mt-3">

        <h3 style="color: #45c545;">Year wise Outstanding Paras</h3>

        <div class="row col-md-12 mt-3">
            <div class="col-md-2">
                <label class="text-bold">Relationship Type</label>
            </div>
            <div class="col-md-10">
                <select id="RelationshipField" onchange="getrelation();" class="form-control form-select">
                    <option id="0" value="0" selected="selected">--Select Relationship Type--</option>


                    @{
                        if (ViewData["Userrelationship"] != null)
                        {
                            foreach (var item in (dynamic)(ViewData["Userrelationship"]))
                            {
                                <option value="@item.ENTITY_REALTION_ID" id="@item.ENTITY_REALTION_ID">@item.FIELD_NAME</option>
                            }
                        }
                    }



                </select>
            </div>
        </div>

        <div class="row col-md-12 mt-3">
            <div class="col-md-2">
                <label class="text-bold">Controlling/Reporting Office</label>
            </div>
            <div class="col-md-4">
                <select id="controlingsearch" onchange="getplacepost();" class="form-control form-select">
                    <option id="0" value="0" selected="selected">--Select Controlling/Reporting Office--</option>
                </select>
            </div>


            <div class="col-md-2">
                <label class="text-bold">Place of Posting</label>
            </div>
            <div class="col-md-4">
                <select id="childposting" class="form-control form-select">
                    <option id="0" value="0" selected="selected">--Select Place of Posting--</option>

                </select>
            </div>
        </div>
        <div class="row col-md-12 mt-3">
            <button onclick="getAISEntityObservation();" class="btn btn-primary col-md-3 offset-md-9">Search Paras</button>

        </div>
        <div class="mt-3 col-md-12">
            <table id="observation_panel" class="table table-hover table-bordered table-hover mt-3 table-striped">
                <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                    <tr>
                        <th class="col-md-auto">Sr. No.</th>
                        <th class="col-md-auto">Audit Period</th>
                        <th class="col-md-auto text-center">Total Paras</th>
                        <th class="col-md-auto text-center">Settled Paras</th>
                        <th class="col-md-auto text-center">Un-Settled Para</th>
                        <th class="col-md-auto text-center">High</th>
                        <th class="col-md-auto text-center">Medium</th>
                        <th class="col-md-auto text-center">Low</th>
                        <th class="col-md-auto text-center"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>





<div id="viewObservationDetailsModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" style="width:90%; min-width:90%;" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Observations Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                   
                  
                    <div class="form-group">
                        <div class="col-md-12 pl-0 pr-0">
                            <table id="observation_detail_model" class="table table-hover table-bordered table-hover mt-3 table-striped">
                                <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
                                    <tr>
                                        <th class="col-md-1">Sr. No.</th>
                                        <th class="col-md-2">Entity Name</th>
                                        <th class="col-md-1">Audit Year</th>
                                        <th class="col-md-1">Para Number</th>
                                        <th class="col-md-5">Heading</th>
                                        <th class="col-md-2 text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="viewMemoModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document" style="min-width:90%;">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Para Text</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>


                    <div class="form-group">
                        <div id="viewMemo_memo" style="height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>








