@{
    ViewData["Title"] = "Zone Branch Wise Para Position Report";
    Layout = "_Layout";
}

<script type="text/javascript">

    function getZoneBranches() {
        $('#manageObsPanel tbody').empty();
        $('#branchSelectField').empty();

        if ($('#zoneSelectField option:selected').val() != 0) {
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/get_zone_Branches",
                type: "POST",
                data: {
                    'ZONEID': $('#zoneSelectField option:selected').val()
                },
                cache: false,
                success: function (data) {

                    $('#branchSelectField').append('<option value="0" id="0">--Select Branch--</option>');
                    $.each(data, function (i, v) {
                        $('#branchSelectField').append('<option value="' + v.branchid + '" id="' + v.branchid + '">' + v.branchname + '</option>');
                    })

                },
                dataType: "json",
            });

        }
    }

    function getParaPositio() {

        var zId=0;
        var bId=0;
         if ($('#zoneSelectField option:selected').val()!=0)
        {
            
            zId = $('#zoneSelectField option:selected').attr('id');
        }
        if ($('#branchSelectField option:selected').val()!=0){
            bId=$('#branchSelectField option:selected').val();
        }
       
        if (bId==0 && zId==0) {
            alert("Please select either Zone or Branch to proceed");
            return;
        }

        var EntityId=bId==0?zId:bId;

        $('#manageObsPanel tbody').empty();

        
        $.ajax({
                url: g_asiBaseURL + "/ApiCalls/get_zone_brach_para_position",
                type: "POST",
                data: {
                'ENTITY_ID': EntityId
                },
                cache: false,
            success: function (data) 
            {
                $.each(data,function(i,v)
                {
                    $('#manageObsPanel tbody').append('<tr><td class="entity_name">' + v.entity_Name + '</td><td>' + v.total_Paras + '</td><td>' + v.settled_Paras + '</td><td>' + v.unsettled_Paras + '</td></tr>');
                })
                
                },
                dataType: "json",
            });
    }

    function viewParaText(ref_p) {
        $('#viewMemoModel').modal('show');
        $('#viewMemo_memo').html("");
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/get_para_text",
            type: "POST",
            data: {
                'ref_p': ref_p
            },
            cache: false,
            success: function (data) {  
                console.log(data);

                $('#viewMemo_memo').html(data);     
            }
        });
    }

</script>
<h3 style=" display:block;color: #45c545;" class="mt-3">@ViewData["Title"]</h3>
<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <label><b>Zone:</b></label>
    </div>
    <div class="col-md-10">

        <select id="zoneSelectField" onchange="getZoneBranches()" class="form-control form-select">
            <option value="0" id="0">--Select Audit Entity--</option>
            @{
                if (ViewData["ZonesList"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["ZonesList"]))
                    {
                        <option value="@item.ZONEID" id="@item.ENTITYID">@item.ZONENAME</option>
                    }
                }
            }

        </select>
    </div>
</div>
<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <label><b>Branch:</b></label>
    </div>
    <div class="col-md-10">
        <select id="branchSelectField" class="form-control form-select">
            <option value="0" id="0">--Select Branch--</option>
        </select>
    </div>
</div>

<div class="row col-md-12 justify-content-end mt-3">
    <div class="col-md-2">
        <button onclick="getParaPositio();" class="btn btn-primary w-100">Search</button>
    </div>
</div>
<div class="mt-4">
    <table id="manageObsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: rgb(181 229 117 / 93%) !important; ">
            <tr>
                <th class="col-md-auto entity_name">Entity Name</th>
                <th class="col-md-auto">Total Paras</th>
                <th class="col-md-auto">Settled Paras</th>
                <th class="col-md-auto">Un-Settled Paras</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>

<div id="viewMemoModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Para</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                   
                  
                    <div class="form-group">
                        <label for="viewMemo_memo">Para</label>
                        <div id="viewMemo_memo"  style="height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                   

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




